@using Siyasett.Core.Company
@model CompanyCreateModel
@{
    ViewData["Title"] = "Şirket Düzenle";
    List<InstitutionType> institutionTypes = ViewBag.InstitutionTypes;
    List<AddressType> addressTypes = ViewBag.AddressTypes;
    List<PhoneType> phoneTypes = ViewBag.PhoneTypes;
    List<CommunicationType> communicationTypes = ViewBag.CommunicationTypes;

    List<SocialType> socialTypes = ViewBag.SocialTypes;

    List<Country> countries = ViewBag.Countries;
    List<Province> provinces = ViewBag.Provinces;

    List<Siyasett.Core.Phones.PhoneModel> phones = ViewBag.Phones;
    List<EmailModel> emails = ViewBag.Emails;
    List<SocialMediaModel> socialmedias = ViewBag.SocialAdress;
    List<AddressModel> addresses = ViewBag.Addresses;
    List<PeopleListModel> people = ViewBag.People;
    List<Sector> sectors = ViewBag.Sector;
    BaseModel prev = ViewBag.Prev;
    BaseModel next = ViewBag.Next;
}
<div style="display:none" id="modelIdDiv" data-val="@Model.Id"></div>



<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                @*<ol class="breadcrumb m-0">
            <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Home" asp-action="Index"><i class="fa fa-home"></i></a></li>
            <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="ChronologyManagement" asp-action="Index">Kronoloji</a></li>

            <li class="breadcrumb-item active">@ViewData["Title"]</li>
        </ol>*@

                @if (prev != null)
                {
                    <a asp-action="Edit" asp-controller="CompanyManagement" asp-route-id="@prev.Id" asp-area="Admin">@prev.Name <i class="fa fa-arrow-from-right"></i></a>
                }
                @if (next != null)
                {
                    <a asp-action="Edit" asp-controller="CompanyManagement" asp-route-id="@next.Id" asp-area="Admin"><i class="fa fa-arrow-from-left ms-3"></i> @next.Name</a>
                }

            </div>
            <h4 class="page-title">@ViewData["Title"]</h4>
        </div>
    </div>
</div>



<div class="row">
    <div class="col-md-12 col-lg-3">



        <div class="card border shadow-sm ">
            <div class="card-body">

                <div class="text-center">
                    <label>Logo/Amblem</label>
                </div>
                <div class="text-center">
                    <img class="img-thumbnail" id="Photo" src="~/images/companies/@(string.IsNullOrEmpty(Model.Photo) ? "logo.png" : Model.Photo)" style="max-width:240px;" />
                    <div class="mt-3">

                        <button onclick="resetPhoto()" class="btn btn-warning" type="button">Sıfırla</button>
                        <button onclick="selectFile()" class="btn btn-success" type="button"> Seç</button>
                        <input type="file" class="d-none" id="file1" />
                    </div>
                </div>
            </div>

        </div>


    </div>


    <div class="col-md-12 col-lg-9">
        <div class="card shadow-sm border">

            <div class="card-body">
                <ul class="nav nav-tabs nav-primary" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" href="#tab-temel" data-bs-toggle="tab" role="tab" aria-selected="true">
                            TEMEL VERİLER
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#tab-adres" data-bs-toggle="tab" role="tab" aria-selected="false">
                            ADRESİ
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#tab-telefonlar" data-bs-toggle="tab" role="tab" aria-selected="false">
                            TELEFONU
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#tab-eposta" data-bs-toggle="tab" role="tab" aria-selected="false">
                            E-POSTA ADRESİ
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#tab-social" data-bs-toggle="tab" role="tab" aria-selected="false">
                            SOSYAL MEDYA
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#tab-metinler" data-bs-toggle="tab" role="tab" aria-selected="false">
                            METİNLER
                        </a>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link" href="#tab-ekler" data-bs-toggle="tab" role="tab" aria-selected="false">
                            EKLER
                        </a>
                    </li>
                </ul>


                <div class="tab-content pt-3">

                    <div class="tab-pane active" id="tab-temel" role="tabpanel">
                        @Html.ValidationSummary("",new { @class="text-danger"})
                        <form method="post" id="frmMain">
                            <input type="hidden" asp-for="UploadPhoto" value="" />
                            <div class="row">
                                <div class="col-md-12 col-lg-7 mx-auto">
                                    <div class="row mb-3">
                                        <label class="col-md-4">Şirket Adı</label>
                                        <div class="col-md-8"><input type="text" class="form-control" asp-for="Name" autocomplete="off" /></div>
                                    </div>

                                    <div class="row mb-3">
                                        <label class="col-md-4">Şirket Kısa Adı</label>
                                        <div class="col-md-8"><input type="text" class="form-control" asp-for="ShortName" autocomplete="off" /></div>
                                    </div>

                                    <div class="row mb-3">
                                        <label class="col-md-4">Şirket Yöneticisi</label>
                                        <div class="col-md-8">
                                            <select asp-for="LeaderPeopleId" class="form-select select2">
                                                <option value="">seçilmedi</option>
                                                @foreach (var item in people)
                                                {
                                                    <option value="@item.Id">@item.FirstName @item.LastName</option>
                                                }
                                            </select>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label class="col-md-4">Kuruluş Tarihi</label>
                                        <div class="col-md-8"><input type="text" class="form-control" asp-for="Dof" autocomplete="off" /></div>
                                    </div>

                                    <div class="row mb-3">
                                        <label class="col-md-4">Sektör</label>
                                        <div class="col-md-8">
                                            <select asp-for="SectorId" class="form-select select2">
                                                <option value="">seçilmedi</option>
                                                @foreach (var item in sectors)
                                                {
                                                        <option value="@item.Id">@item.NameTr / @item.NameEn</option>
                                                }
                                            </select>

                                        </div>

                                    </div>

                                    <div class="row mb-3">
                                        <label class="col-md-4">Web Adresi</label>
                                        <div class="col-md-8"><input type="text" class="form-control" asp-for="WebAdress" autocomplete="off" /></div>
                                    </div>

                                    <div class="row mb-3">

                                        <div class="col-md-8 offset-md-4">
                                            <div class="form-check form-switch">
                                                <input type="checkbox" asp-for="Active" class="form-check-input" id="chkActive" />
                                                <label for="chkActive" class="form-check-label">Aktif</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="text-center">
                                <button onclick="kaydiSil(@Model.Id)" type="button" class="btn btn-danger"><i class="fas fa-trash-alt"></i> Kaydı Sil</button>
                                <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> KAYDET</button>
                                <a href="#" onclick="backAlert()"><i class="fa fa-arrow-left"></i> Listeye Dön</a>
                            </div>
                        </form>
                    </div>

                    <div class="tab-pane" id="tab-adres" role="tabpanel">
                        <div class="row">

                            <div class="col-md-12 col-lg-7 mx-auto">
                                <div class="mb-2 row">
                                    <label class="col-md-4">Adres Türü</label>
                                    <div class="col-md-8">
                                        <select class="form-select" id="ddlAddresType">
                                            @foreach (var item in addressTypes)
                                            {
                                                <option value="@item.Id">@item.NameTr</option>
                                            }
                                        </select>
                                    </div>
                                </div>

                                <div class="mb-2 row">
                                    <label class="col-md-4">Satır #1</label>
                                    <div class="col-md-8">
                                        <input class="form-control" type="text" id="txtAddress1" />
                                    </div>
                                </div>

                                <div class="mb-2 row">
                                    <label class="col-md-4">Satır #2</label>
                                    <div class="col-md-8">
                                        <input class="form-control" type="text" id="txtAddress2" />
                                    </div>
                                </div>

                                <div class="mb-2 row">
                                    <label class="col-md-4">İl</label>
                                    <div class="col-md-8">


                                        <input type="text" class="form-control" style="display:none" id="txtProvince" />
                                        <select id="ddlProvince" onchange="province_changed()" style="width:100%" class="form-select select2" data-placeholder="İl seçimi yapın.">
                                            <option value=""></option>
                                            @foreach (var item in provinces)
                                            {
                                                <option value="@item.Id">@item.Name</option>
                                            }
                                        </select>



                                    </div>
                                </div>

                                <div class="mb-2 row">
                                    <label class="col-md-4">İlçe</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" id="txtDistrict" style="display:none" />

                                        <select id="ddlDistrict" class="form-select select2" style="width:100%" onchange="district_changed()" data-placeholder="İlçe seçimi yapın.">
                                            <option value=""></option>
                                        </select>
                                    </div>
                                </div>



                                <div class="mb-2 row">
                                    <label class="col-md-4">Ülke</label>
                                    <div class="col-md-8">
                                        <select id="ddlCountry" onchange="country_changed()" class="select2 form-select" style="width:100%">
                                            @foreach (var item in countries)
                                            {
                                                <option value="@item.Id" selected="@(item.Id==220)">@item.NameTr</option>
                                            }
                                        </select>

                                    </div>
                                </div>

                                <div class="mb-2 row">
                                    <label class="col-md-4">Posta kodu</label>
                                    <div class="col-md-8">
                                        <input class="form-control" type="text" id="txtPostalCode" />
                                    </div>
                                </div>
                            </div>


                            <div class="text-center mt-3">
                                


                                <button id="btnAdresEkle" onclick="companyCreateAddress()" class="btn btn-primary" type="button"><i class="fa fa-save"></i> Kaydet</button>
                                <button id="btnAdresGuncelle" onclick="companyAdressUpdate()" class="btn btn-primary" type="button" style="display:none"><i class="fa fa-save"></i> Güncelle</button>
                                <button id="btnAdresIptal" onclick="companyAddressUpCancel()" class="btn btn-primary" type="button" style="display:none"><i class="fa fa-save"></i> İptal</button>
                            </div>
                        </div>

                        <div id="divAddresses" class="table-responsive">
                            @{
                                await Html.RenderPartialAsync("PartialAddressList", addresses);
                            }


                        </div>
                    </div>
                    <div class="tab-pane" id="tab-telefonlar" role="tabpanel">
                        <div class="row">
                            <div class="col-md-12 col-lg-7 mx-auto">
                                <div class="row mt-3">
                                    <label class="col-md-4">Türü</label>
                                    <div class="col-md-8">
                                        <select class="form-select" id="ddlPhoneType">
                                            @foreach (var item in phoneTypes)
                                            {
                                                <option value="@item.Id">@item.NameTr</option>
                                            }
                                        </select>
                                    </div>
                                </div>

                                <div class="row mt-3">

                                    <label class="col-md-4">İletişim</label>
                                    <div class="col-md-8">
                                        <select class="form-select" id="ddlCommunicationType">
                                            @foreach (var item in communicationTypes)
                                            {
                                                <option value="@item.Id">@item.NameTr</option>
                                            }
                                        </select>

                                    </div>
                                </div>

                                <div class="row mt-3">

                                    <label class="col-md-4" for="txtTelUlkeKodu">Ülke Kodu</label>
                                    <div class="col-md-8">
                                        <select class="form-select select2" id="phoneCountryId" style="width:100%">
                                            @foreach (var item in countries)
                                            {
                                                <option selected="@(item.Id==220)" value="@item.Id" data-code="@item.PhoneCode">@item.NameTr (+@(item.PhoneCode))</option>
                                            }
                                        </select>


                                    </div>
                                </div>
                                <div class="row mt-3">

                                    <label class="col-md-4" for="txtTelOnKodu">Ön Kodu</label>
                                    <div class="col-md-8">
                                        <input class="form-control" type="text" id="txtTelOnKodu" placeholder="Ön kodu" />


                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <label class="col-md-4" for="txtTelNo">Telefon No</label>
                                    <div class="col-md-8">
                                        <input class="form-control" type="text" id="txtTelNo" placeholder="Telefon numarası" />


                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="text-center mt-3">
                            <button id="btnTelefonEkle" onclick="companyCreatePhoneNumber()" class="btn btn-primary" type="button"><i class="fa fa-save"></i> Kaydet</button>
                            <button id="btnTelefonGuncelle" onclick="companyUpdatePhoneNumber()" class="btn btn-primary" type="button" style="display:none"><i class="fa fa-save"></i> Güncelle</button>
                            <button id="btnTelefonIptal" onclick="companyUpdateCancelPhoneNumber()" class="btn btn-primary" type="button" style="display:none"><i class="fa fa-save"></i> İptal</button>
                        </div>
                        <div id="divPhones" class="table-responsive">
                            @{
                                await Html.RenderPartialAsync("PartialPhoneList", phones);
                            }


                        </div>


                    </div>

                    <div class="tab-pane" id="tab-eposta" role="tabpanel">
                        <div class="mt-1 row">
                            <label class="col-md-4">Tipi</label>
                            <div class="col-md-8">
                                <select class="form-select" id="ddlEpostaTuru">
                                    @foreach (var item in communicationTypes)
                                    {
                                        <option value="@item.Id">@item.NameTr</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="mt-1 row">
                            <label class="col-md-4">e-Posta</label>
                            <div class="col-md-8">
                                <input class="form-control" type="email" id="txtePosta" />
                            </div>
                        </div>
                        <div class="text-center mt-3">
                            <button id="btnEpostaEkle" onclick="companyCreateEposta()" class="btn btn-primary" type="button"><i class="fa fa-save"></i> Kaydet</button>
                            <button id="btnEpostaGuncelle" onclick="companyUpdateEposta()" class="btn btn-primary" type="button" style="display:none"><i class="fa fa-save"></i> Güncelle</button>
                            <button id="btnEpostaIptal" onclick="companyUpdateCancelEposta()" class="btn btn-primary" type="button" style="display:none"><i class="fa fa-save"></i> İptal</button>
                        </div>
                        <div id="divEmails" class="table-responsive">
                            @{
                                await Html.RenderPartialAsync("PartialEmailList", emails);
                            }


                        </div>
                    </div>

                    <div class="tab-pane" id="tab-social" role="tabpanel">
                        <div class="mt-1 row">
                            <label class="col-md-4">Türü</label>
                            <div class="col-md-8">
                                <select class="form-select" id="ddlSosyalTuru">
                                    @foreach (var item in socialTypes)
                                    {
                                        <option value="@item.Id">@item.NameTr</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="mt-1 row">
                            <label class="col-md-4">Adresi</label>
                            <div class="col-md-8">
                                <input class="form-control" type="text" id="txtSosyalAdres" />
                            </div>
                        </div>
                        <div class="text-center mt-3">
                            <button id="btnSosyalAdresEkle" onclick="companyCreateSosyalMedya()" class="btn btn-primary" type="button"><i class="fa fa-save"></i> Kaydet</button>
                            <button id="btnSosyalAdresGuncelle" onclick="companyUpdateSosyalMedya()" class="btn btn-primary" type="button" style="display:none"><i class="fa fa-save"></i> Düzenle</button>
                            <button id="btnSosyalAdresIptal" onclick="companyUpdateCancelSosyalMedya()" class="btn btn-primary" type="button" style="display:none"><i class="fa fa-save"></i> İptal</button>
                        </div>
                        <div id="divSocialMedia" class="table-responsive">
                            @{
                                await Html.RenderPartialAsync("PartialSocialMediaList", socialmedias);
                            }


                        </div>
                    </div>

                    <div class="tab-pane" id="tab-metinler" role="tabpanel">
                        <div class="mt-1 row">
                            <label class="col-md-4">Tipi</label>
                            <div class="col-md-8">
                                <select class="form-select" id="ddlMetinTuru">
                                    @foreach (var item in socialTypes)
                                    {
                                        <option value="@item.Id">@item.NameTr</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="mt-1 row">
                            <label class="col-md-4">Metin</label>
                            <div class="col-md-8">
                                <input class="form-control" type="text" id="txtMetinAdres" />
                            </div>
                        </div>
                        <div class="text-center mt-3">

                            <button id="btnSosyalAdresEkle" onclick="companyCreateMetinler()" class="btn btn-primary" type="button"><i class="fa fa-save"></i> Kaydet</button>
                            <button id="btnSosyalAdresGuncelle" onclick="companyUpdateMetinler()" class="btn btn-primary" type="button" style="display:none"><i class="fa fa-save"></i> Düzenle</button>
                            <button id="btnSosyalAdresIptal" onclick="companyUpdateCancelMetinler()" class="btn btn-primary" type="button" style="display:none"><i class="fa fa-save"></i> İptal</button>
                        </div>
                        <div id="divMetin" class="table-responsive">
                            @{
                                await Html.RenderPartialAsync("PartialSocialMediaList", socialmedias);
                            }


                        </div>
                    </div>



                    <div class="tab-pane" id="tab-ekler" role="tabpanel">
                        <p>Şirket ile ilgili belge, fotoğraf gibi dokümanları yönetin.</p>
                        <div class="mt-3 row">
                            <label class="col-md-4">Adı</label>
                            <div class="col-md-8">
                                <div class="input-group mt-2">
                                    <span class="input-group-text">
                                        TR
                                    </span>
                                    <input type="text" id="txtAttachmentNameTr" class="form-control" />
                                </div>
                                <div class="input-group mt-2">
                                    <span class="input-group-text">
                                        EN
                                    </span>
                                    <input type="text" id="txtAttachmentNameEn" class="form-control" />
                                </div>

                            </div>
                        </div>
                        <div class="mt-3">


                            <input class="form-control" placeholder="Dosya seçimi yapın" type="file" id="fileAttach" />

                        </div>
                        <div class="text-center my-3">
                            <button class="btn btn-primary" onclick="uploadAttachment_click()" type="button">Yükle</button>
                        </div>
                        <div class="table-responsive" id="pnlAttachs">
                        </div>



                    </div>


                </div>
            </div>
        </div>
    </div>



</div>



@section scripts{

    <script src="~/lib/summernote/summernote-bs5.min.js"></script>
    <link href="~/lib/summernote/summernote-bs5.min.css" rel="stylesheet" />


    <div id="uploadimageModal" class="modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">

                    <h5 class="modal-title">Kes & Yükle</h5>
                    <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">

                    <div id="image_demo" style="width:350px; margin-top:30px"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success crop_image">Tamam</button>
                    <button onclick="cancel_upload()" type="button" class="btn btn-default" data-bs-dismiss="modal">İptal</button>
                </div>
            </div>
        </div>
    </div>



    <link href="~/lib/croppie/croppie.min.css" rel="stylesheet" />
    <script src="~/lib/croppie/croppie.min.js"></script>
    <script src="~/js/company-edit.js" asp-append-version="true"></script>
    <script>
        var companyId = @Model.Id;

        function backAlert() {
            Swal.fire({
                title: "Emin misiniz?",
                text: "Girilen veriler silinecektir!",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-danger",
                confirmButtonText: "Listeye dön!",
                closeOnConfirm: false
            }).then((result) => {
                if (result.isConfirmed)
                    window.location.href = '/Admin/CompanyManagement';
            });
        }

        function kaydiSil(id) {

            swal.fire({
                title: "Emin misiniz?",
                text: "Bu Kayıt silinecektir!",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-danger",
                confirmButtonText: "Kayıt Sil!",
                closeOnConfirm: true
            }).then((result2) => {

                if (result2.isConfirmed) {

                    $.post('/admin/companymanagement/delete', { id: id }).done((response) => {

                        swal.fire("Şirket Sil!", "Şirket kaydı başarıyla silindi!", "success").closeOnConfirm;
                        window.location.href = '/Admin/CompanyManagement';

                    });

                }
            });
        }


    </script>
}

