@using Siyasett.Core.VideoLibrary;
@model List< VideoLibraryModel>

@{
    ViewData["Title"] = "Video Kütüphanesi";
    UserSearchModel searchModel = ViewBag.SearchModel;
    String _title = "Yeni";
    PagerInfo pager = ViewBag.Pager;
    List<VideoSession> ses = ViewBag.Session;
    List<GeneralLanguage> lang = ViewBag.Language;
}


<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <button class="btn btn-success" type="button" onclick="newItem()"><i class="fas fa-plus-circle"></i> @_title</button>
            </div>
            <h4 class="page-title">@ViewData["Title"]</h4>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <div class="mb-3">
            <label>Arama</label>
            <form method="get" id="searchform-633c74452c5bd" action="">
                <div class="input-group">
                    <input type="text" class="form-control" name="query" id="txtQuery" />
                    <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> Ara</button>
                </div>
            </form>
        </div>

    </div>

</div>



<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table" id="tbList">
                <thead>
                    <tr>
                        <th>Kapsadığı Dönem</th>
                        <th>Başlık</th>
                        <th>Dili</th>
                        <th>Link</th>
                        <th>...</th>
                        <th>...</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr data-id="@item.Id">
                            <td data-id="@item.Session">@ses.FirstOrDefault(a=>a.Id==item.Session).Nametr </td>
                            <td data-id="@item.Header">@item.Header</td>
                            <td data-id="@item.Language">@lang.FirstOrDefault(a=>a.Id==item.Language).Nametr </td>
                            <td data-id="@item.VideoLink"><a href="@item.VideoLink" target="_blank">@item.VideoLink</a></td>
                            <td><button class="btn btn-primary" onclick="editItem(@item.Id)">Düzenle</button></td>
                            <td><button class="btn btn-warning" onclick="deleteItem(@item.Id)">Sil</button></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        @await Html.PartialAsync("_pager", pager)
    </div>
</div>


@section scripts{

    <div id="modalAdd" class="modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"><i class="fas fa-plus-circle"></i> @_title</h5>
                    <button type="button" class="btn-close btn-close-black" data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">

                    <div class="row mb-3">
                        <label class="col-md-4">Kapsadığı dönem</label>
                        <div class="col-md-8">
                            <select class="form-select " name="selectSession" id="selectSession" style="width:100%" required>
                                    @foreach (var item in ses)
                                    {
                                    <option selected="@(item.Id==9)" value="@item.Id">@item.Nametr</option>
                                    }
                                </select>
                        </div>
                    </div>


                    <div class="row mb-3">
                        <label class="col-md-4">Başlık</label>
                        <div class="col-md-8">
                            <textarea type="text" placeholder="Başlık" id="txtHeader" class="form-control" value="" required></textarea>
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label class="col-md-4">Dili</label>
                        <div class="col-md-8">
                            <select class="form-select " name="languageSelect" id="languageSelect" style="width:100%" required>
                                @foreach (var item in lang)
                                {
                                    <option selected="@(item.Id==1)" value="@item.Id">@item.Nametr</option>
                                }
                            </select>

                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label class="col-md-4">Video Linki</label>
                        <div class="col-md-8">
                            <textarea type="text" placeholder="Link" id="txtVideoLink" class="form-control" value="" required></textarea>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                    <button type="button" onclick="addItem()" class="btn btn-primary"><i class="fa fa-save"></i> Kaydet</button>
                </div>
            </div>
        </div>
    </div>

    <div id="modalEdit" class="modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"><i class="fa fa-edit"></i>Düzenle</h5>
                    <button type="button" class="btn-close btn-close-black" data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    <div class="modal-body">
                        <div class="">
                            <div class="row mb-3">
                                <label class="col-md-4">Dönem</label>
                                <div class="col-md-8">
                                    <select class="form-select " name="editSelectSession" id="editSelectSession" style="width:100%">
                                    @foreach (var item in ses)
                                    {
                                    <option  value="@item.Id">@item.Nametr</option>
                                    }
                                </select>
                                </div>
                            </div>
                        </div>
                        <div class="">
                            <div class="row mb-3">
                                <label class="col-md-4">Başlık</label>
                                <div class="col-md-8">
                                    <textarea type="text" placeholder="Başlık" id="txtEditHeader" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-4">Dil</label>
                            <div class="col-md-8">
                                <select class="form-select " name="languageEditSelect" id="languageEditSelect" style="width:100%">
                                    @foreach (var item in lang)
                                    {
                                        <option  value="@item.Id">@item.Nametr</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-4">Video Linki</label>
                            <div class="col-md-8">
                                <textarea type="text" placeholder="Link" id="txtEditVideoLink" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                    <button type="button" onclick="saveItem()" class="btn btn-primary"><i class="fa fa-save"></i> Kaydet</button>
                </div>
            </div>
        </div>
    </div>

    <script>

        function newItem() {
            $('#modalAdd').find('input').each((e, i) => {


                $(i).val('');
            });
            $('#modalAdd').find('textarea').each((e, i) => {


                $(i).val('');
            });
            $('#modalAdd').modal('show');

        }
        function addItem() {
            var donem = $('#selectSession').val();
            var header = $('#txtHeader').val();
            var language = $('#languageSelect').val();
            var videolink = $('#txtVideoLink').val();
            

            $.post('@Url.Action("NewVideo")', { session: donem, header: header, language: language, videoLink: videolink })
                .done(function (response) {
                    if (response.success) {
                        $('#modalAdd').modal('hide');

                        var sesText= $('#editSelectSession option[value='+response.session+']').text();
                        var lanText = $('#languageEditSelect option[value=' + response.language + ']').text();


                        var tr = '<tr data-id="' + response.id + '"><td>' + sesText + '</td><td>' + response.header + '</td><td>' + lanText + '</td><td><a href="' + response.videoLink + '" target="_blank">' + response.videoLink + '</a></td><td>' +
                            '<button class="btn btn-primary" onclick="editItem(' + response.id + ')">Düzenle</button></td><td>' +
                            '<button class="btn btn-warning" onclick="deleteItem(' + response.id + ')">Sil</button></td></tr>';
                        $('#tbList').append(tr);
                        Swal.fire('@ViewData["Title"]', 'New item has been added successfully.', 'success');
                    }
                    else
                        Swal.fire("Error!", response.msg, "error");
                });

        }

        function deleteItem(id) {
            Swal.fire({
                title: "Kayıt Sil",
                text: "Bu kaydı silmek istediğinize emin misiniz?",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-danger",
                confirmButtonText: "Evet",
                closeOnConfirm: false
            }).then((result) => {

                if (result.isConfirmed) {
                    $.post('@Url.Action("DeleteVideo")', { id: id, })
                        .done(function (response) {
                            if (response.success) {
                                $('tr[data-id=' + id + ']').remove();
                                Swal.fire("Silindi!", "Seçilen kayıt başarıyla silindi.", "success");
                            }
                            else
                                Swal.fire("Sil!", response.msg, "error");

                        });
                }
            });
        }

        var _itemid = 0;
        function editItem(id) {
            _itemid = id;
            $('#editSelectSession').val($('tr[data-id=' + id + ']').children('td').eq(0).attr('data-id'));
            $('#txtEditHeader').val($('tr[data-id=' + id + ']').children('td').eq(1).attr('data-id'));
            $('#languageEditSelect').val($('tr[data-id=' + id + ']').children('td').eq(2).attr('data-id'));
            $('#txtEditVideoLink').val($('tr[data-id=' + id + ']').children('td').eq(3).attr('data-id'));

            $('#modalEdit').modal('show');
        }

        function saveItem() {
            var donem = $('#editSelectSession').val();
            var header = $('#txtEditHeader').val();
            var language = $('#languageEditSelect').val();
            var videolink = $('#txtEditVideoLink').val().split('&t=')[0];
            var donemtext = $('#editSelectSession').text();

            $.post('@Url.Action("EditVideo")', { id: _itemid, session: donem, header: header, language: language, videoLink: videolink })
                .done(function (response) {
                    if (response.success) {
                        var sesText = $('#editSelectSession option[value=' + response.session + ']').text();
                        var lanText = $('#languageEditSelect option[value=' + response.language + ']').text();

                        $('#modalEdit').modal('hide');
                        $('tr[data-id=' + response.id + ']').children('td').eq(0).html(sesText);
                        $('tr[data-id=' + response.id + ']').children('td').eq(0).attr('data-id', response.session);
                        $('tr[data-id=' + response.id + ']').children('td').eq(1).html(response.header);
                        $('tr[data-id=' + response.id + ']').children('td').eq(1).attr('data-id', response.header);
                        $('tr[data-id=' + response.id + ']').children('td').eq(2).html(lanText);
                        $('tr[data-id=' + response.id + ']').children('td').eq(2).attr('data-id', response.language);
                        $('tr[data-id=' + response.id + ']').children('td').eq(3).children('a').eq(0).html(response.videoLink);
                        $('tr[data-id=' + response.id + ']').children('td').eq(3).attr('data-id', response.videoLink);

                        Swal.fire('@ViewData["Title"]', 'Kayıt Başarıyla Güncellendi.', 'success');
                    }
                    else
                        Swal.fire("Hata!", response.msg, "error");
                });

        }

    </script>
}