@{
    PagerInfo pager = ViewBag.Pager;
    ViewData["Title"] = Localize("page_about_meta_title");

}

<!-- BREAD-CRUMB -->
<!-- style="background-image:url(/images/background/page-banner.jpg);" -->
<section class="page-title" style="padding: 0 0 0">
    <div class="container">
        <div class="inner-container clearfix">
            <!--
                <div class="title-box">
                  <h1>@ViewData["Title"]</h1>
                </div>
            -->
            <div class="bread-crumb">

                <ul>
                    <li><a href="/"><i class="fa fa-home"></i></a></li>

                    <li>@ViewData["Title"]</li>

                </ul>

            </div>
        </div>
    </div>
</section>

<section class="about-section style-three">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <ul>
                    <li class="mb-3"><button id="abouttitle_1" onclick="contentchange(1)">@Localize("page_about_left_title1")</button></li>
                    <li class="mb-3"><button id="abouttitle_2" onclick="contentchange(2)">@Localize("page_about_left_title2")</button></li>
                    <li class="mb-3"><button id="abouttitle_3" onclick="contentchange(3)">@Localize("page_about_left_title3")</button></li>
                    <li class="mb-3"><button id="abouttitle_4" onclick="contentchange(4)">@Localize("page_about_left_title4")</button></li>
                    <li class="mb-3"><button id="abouttitle_5" onclick="contentchange(5)">@Localize("page_about_left_title5")</button></li>
                    <li class="mb-3"><button id="abouttitle_6" onclick="contentchange(6)">@Localize("page_about_left_title6")</button></li>
                    <li class="mb-3"><button id="abouttitle_7" onclick="contentchange(7)">@Localize("page_about_left_title7")</button></li>
                    <li class="mb-3"><button id="abouttitle_8" onclick="contentchange(8)">@Localize("page_about_left_title8")</button></li>
                    <li class="mb-3"><button id="abouttitle_9" onclick="contentchange(9)">@Localize("page_about_left_title9")</button></li>
                    <li class="mb-3"><button id="abouttitle_10" onclick="contentchange(10)">@Localize("page_about_left_title10")</button></li>
                    <li class="mb-3"><button id="abouttitle_11" onclick="contentchange(11)">@Localize("page_about_left_title11")</button></li>
                </ul>
            </div>
            <div class="col-md-10">
                <div id="aboutuscontent1">
                    <h4 style="color:black">@Localize("page_about_right_title1")</h4>
                    <br />
                    <p style="color:black">@Localize("page_about_content1_1")</p>
                    <br />
                    <p style="color:black">@Localize("page_about_content1_2")</p>
                    <br />
                    <p style="color:black">@Localize("page_about_content1_3")</p>
                    <br />
                    <p style="color:black">@Localize("page_about_content1_4")</p>
                    <br />
                    <p style="color:black">@Localize("page_about_content1_5")</p>
                    <br />
                    <div style="text-align:center">
                        <img src="/images/aboutus/siyasettenevar.png" />
                    </div>
                </div>
                <div id="aboutuscontent2" style="display:none">
                    <h4 style="color:black">@Localize("page_about_right_title2")</h4>
                    <br />
                    <p style="color:black">@Localize("page_about_content2_1")</p>
                    <br />
                    <p style="color:black">@Localize("page_about_content2_2")</p>
                    <br />
                    <p style="color:black">@Localize("page_about_content2_3")</p>
                    <br />
                    <p style="color:black">@Localize("page_about_content2_4")</p>
                    <br />
                    <p style="color:black">@Localize("page_about_content2_5")</p>
                    <br />
                    <p style="color:black">@Localize("page_about_content2_6")</p>
                    <br />

                    <div style="text-align:center">
                        <img src="/images/aboutus/siyasipartiler.png" />
                    </div>


                </div>
                <div id="aboutuscontent3" style="display:none">
                    <h4 style="color:black">@Localize("page_about_right_title3")</h4>
                    <br />
                    <p style="color:black">@Localize("page_about_content3_1")</p>
                    <br />
                    <p style="color:black">@Localize("page_about_content3_2")</p>
                    <br />
                    <p style="color:black">@Localize("page_about_content3_3")</p>
                    <br />
                    <p style="color:black">@Localize("page_about_content3_4")</p>
                    <br />
                    <p style="color:black">@Localize("page_about_content3_5")</p>
                    <br />
                    <div style="text-align:center">
                        <img src="/images/aboutus/kimkimdir.png" />
                    </div>

                </div>
                <div id="aboutuscontent4" style="display:none">
                    <h4 style="color:black">@Localize("page_about_right_title4")</h4>
                    <br />
                    <p style="color:black">@Localize("page_about_content4_1")</p>
                    <br />
                    <p style="color:black">@Localize("page_about_content4_2")</p>
                    <br />
                    <p style="color:black">@Localize("page_about_content4_3")</p>
                    <br />
                    <p style="color:black">@Localize("page_about_content4_4")</p>
                    <br />
                    <div style="text-align:center">
                        <img src="/images/aboutus/secimler1.png" />
                        <br />
                        <img src="/images/aboutus/secimler2.png" />
                    </div>

                </div>
                <div id="aboutuscontent5" style="display:none">
                    <h4 style="color:black">@Localize("page_about_right_title5")</h4>
                    <br />
                    <p style="color:black">@Localize("page_about_content5_1")</p>
                    <br />
                    <p style="color:black">@Localize("page_about_content5_2")</p>
                    <br />
                    <p style="color:black">@Localize("page_about_content5_3")</p>
                    <br />
                    <p style="color:black">@Localize("page_about_content5_4")</p>
                    <br />
                    <p style="color:black">@Localize("page_about_content5_5")</p>
                    <br />
                    <p style="color:black">@Localize("page_about_content5_6")</p>
                    <br />
                    <div style="text-align:center">
                        <img src="/images/aboutus/sim1.jpeg" />
                        <br />
                        <img src="/images/aboutus/sim2.jpeg" />
                        <br />
                        <img src="/images/aboutus/sim3.jpeg" />
                        <br />
                        <img src="/images/aboutus/sim4.jpeg" />
                        <br />
                        <img src="/images/aboutus/sim5.jpeg" />
                        <br />
                        <img src="/images/aboutus/sim6.jpeg" />
                        <br />
                    </div>

                </div>
                <div id="aboutuscontent6" style="display:none">
                    <h4 style="color:black">@Localize("page_about_right_title6")</h4>
                    <br />
                    <p style="color:black">@Localize("page_about_content6_1")</p>
                    <br />
                    <p style="color:black">@Localize("page_about_content6_2")</p>
                    <br />
                    <p style="color:black">@Localize("page_about_content6_3")</p>
                    <br />
                    <div style="text-align:center">
                        <img src="/images/aboutus/anket1.jpeg" />
                        <br />
                        <img src="/images/aboutus/anket2.jpeg" />
                    </div>

                </div>
                <div id="aboutuscontent7" style="display:none">
                    <h4 style="color:black">@Localize("page_about_right_title7")</h4>
                    <br />
                    <p style="color:black">@Localize("page_about_content7_1")</p>
                    <br />
                    <p style="color:black">@Localize("page_about_content7_2")</p>
                    <br />
                    <p style="color:black">@Localize("page_about_content7_3")</p>
                    <br />
                    <div style="text-align:center">
                        <img src="/images/aboutus/kronoloji.jpeg" />
                    </div>

                </div>
                <div id="aboutuscontent8" style="display:none">
                    <h4 style="color:black">@Localize("page_about_right_title8")</h4>
                    <br />
                    <p style="color:black">@Localize("page_about_content8_1")</p>
                    <br />
                    <p style="color:black">@Localize("page_about_content8_2")</p>
                    <br />
                    <p style="color:black">@Localize("page_about_content8_3")</p>
                    <br />
                    <p style="color:black">@Localize("page_about_content8_4")</p>
                    <br />
                    <div style="text-align:center">
                        <img src="/images/aboutus/kutuphane1.png" />
                        <br />
                        <img src="/images/aboutus/kutuphane2.png" />
                    </div>

                </div>
                <div id="aboutuscontent9" style="display:none">
                    <h4 style="color:black">@Localize("page_about_right_title9")</h4>
                    <br />
                    <p style="color:black">@Localize("page_about_content9_1")</p>
                    <br />
                    <p style="color:black">@Localize("page_about_content9_2")</p>
                    <br />
                    <p style="color:black">@Localize("page_about_content9_3")</p>
                    <br />
                    <p style="color:black">@Localize("page_about_content9_4")</p>
                    <br />
                    <p style="color:black">@Localize("page_about_content9_5")</p>
                    <br />
                    <div style="text-align:center">
                        <img src="/images/aboutus/guncel.png" />
                    </div>
                </div>
                <div id="aboutuscontent10" style="display:none">
                    <h4 style="color:black">@Localize("page_about_right_title10")</h4>
                    <br />
                    <p style="color:black">@Localize("page_about_content10_1")</p>
                    <br />
                    <p style="color:black">@Localize("page_about_content10_2")</p>
                    <br />
                    <p style="color:black">@Localize("page_about_content10_3")</p>
                    <br />
                    <p style="color:black">@Localize("page_about_content10_4")</p>
                    <br />
                    <p style="color:black">@Localize("page_about_content10_5")</p>
                    <br />
                    <p style="color:black">@Localize("page_about_content10_6")</p>
                    <br />
                    <p style="color:black">@Localize("page_about_content10_7")</p>
                    <br />
                    <div style="text-align:center">
                        <img src="/images/aboutus/verigun.png" />
                    </div>
                </div>
                <div id="aboutuscontent11" style="display:none">
                    <h4 style="color:black">@Localize("page_about_right_title11")</h4>
                    <br />
                    <p style="color:black">@Localize("page_about_content11_1")</p>
                    <br />
                    <p style="color:black">@Localize("page_about_content11_2")</p>
                    <br />
                    <p style="color:black">@Localize("page_about_content11_3")</p>
                    <br />
                    <p style="color:black">@Localize("page_about_content11_4")</p>
                    <br />
                    <p style="color:black"><b>@Localize("page_about_content11_5")</b></p>
                    <br />
                    <p style="color:black">@Localize("page_about_content11_6")</p>
                    <br />
                    <p style="color:black">- @Localize("page_about_content11_7")</p>
                    <p style="color:black">- @Localize("page_about_content11_8")</p>
                    <p style="color:black">- @Localize("page_about_content11_9")</p>
                    <p style="color:black">- @Localize("page_about_content11_10")</p>
                    <br />
                    <p style="color:black">@Localize("page_about_content11_11")</p>
                    <br />
                    <p style="color:black">@Localize("page_about_content11_12")</p>
                    <br />
                    @*  <div style="text-align:center">
                        <img src="/images/aboutus/uyelik.png" />
                    </div>*@
                </div>
                <div id="contentcounter" data-count="1" style="display:none"></div>
            </div>
        </div>

    </div>





    @* <div class="container">
        <div class="row">
        <div class="image-column col-xl-6 col-lg-12 col-md-12 col-sm-12 wow fadeInRight animated animated" style="visibility: visible; animation-name: fadeInRight;">
        <figure class="image-box"> <img src="~/images/veri_bankasi.jpeg" alt="" /></figure>

        </div>
        <div class="content-column col-xl-6 col-lg-12 col-md-12 col-sm-12">
        <div class="inner-column wow fadeInLeft animated" style="visibility: visible; animation-name: fadeInLeft;">
        <div class="content-box">
        <div class="sec-title-left">
        <h3>TÜRK SİYASET HAYATI İÇİN GÜÇLÜ BİR VERİ BANKASI KURMAK ÜZERE YOLA ÇIKTIK...</h3>
        </div>

        <div class="text">
        <p>Ankara’da faaliyet gösteren bir teknoloji firmasıyız.</p><p>Bugüne kadar kamu ve özel sektörün farklı projelerine katkı sağladık.</p><p>Şimdi de önemli bir alandaki ihtiyacı karşılamak üzere güçlü bir uygulama ile ülkemizdeki internet kullanıcılarıyla buluşuyoruz.</p><p>Siyasett, Türk siyaset hayatı hakkında güncel ve kapsamlı verilerle siyasal hayatımız için bir referans kaynağı olmayı amaçlıyor.</p><p>Çıktığımız yolda, bu çalışmamızın önemli olduğuna inanan dostlarımızın katkılarını bekliyoruz.</p><p>Umarız, Siyasett sizin de beğeninizi kazanır, desteğinizle kısa süre içerisinde öngördüğümüz hedefe ulaşırız.</p><p><strong>Siyasett Veri Bankası Ekibi</strong></p>
        </div>

        </div>
        </div>
        </div>
        </div>
        <div class="row mt-4">
        <div class="col">
        <h2>Veri Bankamızda hangi başlıklar var?</h2>
        <p>SİYASETT, Türk siyasal hayatı ile ilgili verilerin yer aldığı güçlü bir referans kaynağıdır.</p>
        <p>SİYASETT’te Cumhuriyet döneminde kurulmuş olan tüm siyasal partiler ve siyasal tarihimizde bugüne kadar yapılan seçimlerle ilgili verilere erişim imkanı sağlanmakta, ayrıca siyasal yelpazenin farklı kesimlerinden siyasetçilerimizle ilgili güçlü bir veri kaynağı da kullanıcıların hizmetine sunulmaktadır.</p>
        <p>SİYASETT kullanıcıları, siyasal partilerin geçmişte aldıkları oylar üzerinden geleceğe yönelik projeksiyonlar, farklı ittifak oluşumları ve farklı seçim barajlarına göre çok sayıda simülasyon yapabilmektedir.</p>
        <p>Kamuya açık menü başlıkları yanında, partilere özel analizlerin yapılabileceği özel uygulamalar da SİYASETT üzerinden siyasal partilerimizin kullanımına sunulmaktadır.</p>
        <div><span lang="TR">Kısaca SİYASETT, seçimlerde aday olmayı düşünen siyasetçi adayları başta gelmek üzere, düşünce ve araştırma kuruluşları, basın organları, siyasal partilerimiz ve Türk siyasal hayatıyla ilgili güvenilir verilere ulaşmayı arzu eden kişiler için güçlü bir referans kaynağı olmayı amaçlamaktadır.</span></div>


        </div>
        </div>
        <div class="d-flex justify-content-between mt-3">

        <button class="pdf-btn theme-btn btn-style-four">SİYASAL PARTİLER</button>


        <button class="pdf-btn theme-btn btn-style-four">SİYASETTE KİM KİMDİR</button>


        <button class="pdf-btn theme-btn btn-style-four">SEÇİMLER</button>



        <button class="pdf-btn theme-btn btn-style-four">İSTATİSTİKLER</button>


        <button class="pdf-btn theme-btn btn-style-four">SEÇİM SİMÜLASYONLARI</button>



        </div>
        <div class="row mt-4">
        <div class="col-md-12">
        <h2>SİYASETT'E NASIL ÜYE OLUNUR?</h2>
        <div class="elementor-widget-container">
        <p>SİYASETT’e erişimde iki kullanım türü bulunmaktadır.</p><p>Zengin veri bankamızdaki başlıkların bir bölümü tüm internet kullanıcılarına açıktır. Bazı menü başlıklarına erişim ise ancak üyelikle mümkündür.</p><p>Üyelik’te 4 seçenek vardır. Bunlar Misafir, Temel, Kurumsal İngilizce Üyelik’tir.</p><p><em>Misafir Üyelik</em><strong>’</strong>te ziyaretçilerimize “Simülasyon” başlığı dışındaki tüm menü başlıkları açılmakta, ancak bu başlıklar altında listelenebilecek kayıt sayısı sınırlanmaktadır. Misafir üyelik ücretsizdir.</p><p><em>Temel Üyelik</em>’te Simülasyon başlığı da kullanıma açılmakta, ancak günlük listelenebilecek kayıt sayısı 5 bin ile sınırlanmaktadır.</p><p><em>Kurumsal Üyelik</em>’te ise sınırsız kayıt görüntüleme, kişisel ve kurumsal veri güncelleme imkanı sağlanmakta, kurumsal üyelere ayrıca sınırsız kullanıcı hakkı da tanınmaktadır.</p><p>Siyasett’e İngilizce erişim için de farklı üyelik bulunmaktadır.</p>
        </div>
        <div>
        <img src="~/images/uyelik.png" title="Üyelik türleri" />
        </div>
        </div>
        </div>
        <div class="row mt-4">
        <div class="col-md-12">


        <h2>PARTİLERE ÖZEL UYGULAMALAR</h2>

        <div class="elementor-element elementor-element-bd58903 elementor-widget elementor-widget-text-editor" data-id="bd58903" data-element_type="widget" data-widget_type="text-editor.default">
        <div class="elementor-widget-container">
        <p>SİYASETT, kamuya açık modüllerine ek olarak siyasal partiler için özel uygulamalar da geliştirmektedir. Bu modüller ilgili siyasal partinin bilişim sistemine entegre olarak çalışmakta, ortak veriler ise SİYASETT tarafından güncellenmektedir.</p><p>Siyasal partiler için geliştirilen dört ayrı modül bulunmaktadır. Bunlar, seçim hazırlıkları modülü, seçmen ziyaretleri izleme modülü, seçim hedefi belirleme modülü ve teşkilat iletişim modülü’dür.</p><p><em>Seçim Hazırlıkları Modülü</em> ile il, ilçe, mahalle ve sandık bazında üye ve gönüllü görevlendirmeleri yapılabilmekte, seçim hazırlıkları seçim gününe kadar izlenmekte, seçim günü sandık görevlilerinin sandık seçim sonuçlarını sisteme girmeleri için gerekli teknik altyapı hizmete sunulmaktadır. Böylece parti görevlileri seçim sonuçlarını teşkilat görevlileri raporlamalarıyla anlık olarak izleyebilmektedir.</p><p><em>Seçmen Ziyaretleri Modülü</em>’nde coğrafi temelli güçlü bir teknik altyapı kullanılarak mahalle bazında seçmenler belirlenmekte, seçmen ziyaretleri organize edilebilmekte ve belirli aralıklarla yapılan seçmen ziyaretleri sisteme aktarılarak değerlendirmeye alınmaktadır.</p><p><em>Seçim Hedefi Belirleme Modülü</em> ile genel merkezin yönlendirmesiyle parti il ve ilçe teşkilatlarının ilk seçimlerde kendi bölgesinde alabilecekleri oy oranıyla ilgili değerlendirmeler yapıp bunları sisteme girmeleri ve kendilerine hedef belirleyerek çalışmalarını bu yönde yapmaları amaçlanmaktadır. Seçim sonrasında taşra teşkilatının belirlenen hedeflere ne kadar yaklaştıkları değerlendirilmektedir.</p><p><em>Teşkilat İletişim Modülü</em> ise parti genel merkezi ile taşra teşkilatındaki görevlilerin kendi aralarında iletişimde bulunmalarını sağlayan bir uygulamadır. Burada tüm görevliler, yetkileri çerçevesinde diğer paylaşımları görebilmekte, genel merkez ile il ve ilçe teşkilatları da kendilerine bağlı bölgelerdeki diğer görevlilere duyurular, bilgilendirmeler gönderebilmektedir. Bu modül özellikle seçim döneminde üye ve gönüllüleri de kapsayacak şekilde çok daha etkin kullanılabilmektedir.</p><p>Partilere özel uygulamalar tamamen parti bilişim sistemi altında çalışmakta olup dışarıdan girişlere kapalıdır.</p>
        </div>
        </div>
        </div>
        </div>
        </div> *@
</section>


@section scripts {
    <script>function contentchange(el) {
            var aktif = $("div[id='contentcounter']").data('count');
            $("div[id='aboutuscontent" + aktif + "']").hide();
            $("div[id='aboutuscontent" + el + "']").show();
            $("div[id='contentcounter']").data('count', el);
        }</script>


}