@{
    ViewData["Title"] = Localize("page_cookie_meta_title");

}

<!-- BREAD-CRUMB -->
<!-- style="background-image:url(/images/background/page-banner.jpg);" -->
<section class="page-title" style="padding: 0 0 0">
    <div class="container">
        <div class="inner-container clearfix">
            <!--
                <div class="title-box">
                  <h1>@ViewData["Title"]</h1>
                </div>
            -->
            <div class="bread-crumb">

                <ul>
                    <li><a href="/"><i class="fa fa-home"></i></a></li>

                    <li>@ViewData["Title"]</li>

                </ul>

            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <br />
        <p style="color:black"><b>@Localize("page_cookie_content1")</b></p>
        <br />
        <p style="color:black">@Localize("page_cookie_content2")</p>
        <br />
        <p style="color:black">@Localize("page_cookie_content3")</p>
        <br />
        <p style="color:black"><b>@Localize("page_cookie_content4")</b></p>
        <br />
        <p style="color:black">@Localize("page_cookie_content5")</p>
        <br />
        <p style="color:black">@Localize("page_cookie_content6")</p>
        <br />
        <p style="color:black"><b>@Localize("page_cookie_content7")</b></p>
        <br />
        <p style="color:black">@Localize("page_cookie_content8")</p>
        <br />
        <p style="color:black"><b>@Localize("page_cookie_content9")</b></p>
        <br />
        <p style="color:black">@Localize("page_cookie_content10")</p>
        <br />
        <p style="color:black"><b>@Localize("page_cookie_content11")</b></p>
        <br />
        <p style="color:black">@Localize("page_cookie_content12")</p>
        <br />
        <p style="color:black"><b> @Localize("page_cookie_content13")</b></p>
        <br />
        <p style="color:black">@Localize("page_cookie_content14")</p>
        <br />
        <p style="color:black"><b> @Localize("page_cookie_content15")</b></p>
        <br />
        <p style="color:black">@Localize("page_cookie_content16")</p>
        <br />
        <p style="color:black"><b> @Localize("page_cookie_content17")</b></p>
        <br />
        <p style="color:black">@Localize("page_cookie_content18")</p>
        <br />
        <p style="color:black"><b> @Localize("page_cookie_content19")</b></p>
        <br />
        <p style="color:black">@Localize("page_cookie_content20")</p>
        <br />

    </div>


</section>
