

@{

    ViewData["Title"] = "Şifre Kurtar Onay";
}

<!-- BREAD-CRUMB -->
<!-- style="background-image:url(/images/background/page-banner.jpg);" -->
<section class="page-title" style="padding: 0 0 0">
    <div class="container">
        <div class="inner-container clearfix">
            <!--
                <div class="title-box">
                  <h1>@ViewData["Title"]</h1>
                </div>
            -->
            <div class="bread-crumb">

                <ul>
                    <li><a href="/"><i class="fa fa-home"></i></a></li>

                    <li>@ViewData["Title"]</li>

                </ul>

            </div>
        </div>
    </div>
</section>

<section class="app-section" style="margin-bottom:70px;">
    <div class="container">

        <div class="row">
            <div class="col-md-12 col-lg-7">
                <div id="contact-form-container">
                    @Localize("register24")
                    <br />
                    @Localize("register25")
                </div>

            </div>
            <div class="col-md-12 col-lg-5">
                <div class="col_one_third entry_content col_last nobottommargin">
                    <div class="topmargin">
                        <div class="product-feature">
                            <h3 style="color: var(--pc);">@Localize("register26")</h3>
                            <p>
                                
                                <a href="/login">@Localize("register23")</a>
                            </p>
                        </div>

                    </div>
                </div>
            </div>

        </div>


    </div>
</section>



