@{

    ViewData["Title"] = Localize("page.home.meta.title");
    ViewData["Description"] = Localize("page.home.meta.description");

}

<!-- Bnner Section -->
<section class="banner-section-two">
    <div class="carousel-column">
        <div class="carousel-outer">
            <ul class="banner-carousel owl-carousel owl-theme">
                <!-- Slide Item -->
                <li class="slide-item" style="background-image: url(/images/uploads/slide-1.jpg);">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 offset-lg-6 col-md-12 col-sm-12">
                                <div class="content-box">
                                    <h1>@Localize("page.home.slider1.line1")</h1>
                                    <div class="text">@Localize("page.home.slider1.line2")</div>
                                    <div class="link-box">
                                        @*<a href="about.html" class="theme-btn btn-style-five">Read More</a>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <!-- Slide Item -->
                <li class="slide-item" style="background-image: url(/images/uploads/slide-2.jpg);">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 offset-lg-6 col-md-12 col-sm-12">
                                <div class="content-box">
                                    <h1>@Localize("page.home.slider2.line1")</h1>
                                    <div class="text">@Localize("page.home.slider2.line2") </div>
                                    <div class="link-box">
                                        @*<a href="about.html" class="theme-btn btn-style-five">Read More</a>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <!-- Slide Item -->
                <li class="slide-item" style="background-image: url(/images/uploads/home-5-slider-1.jpg);">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 offset-lg-6 col-md-12 col-sm-12">
                                <div class="content-box">
                                    <h1>@Localize("page.home.slider3.line1")</h1>
                                    <div class="text">@Localize("page.home.slider3.line2") </div>
                                    <div class="link-box">
                                        @*<a href="about.html" class="theme-btn btn-style-five">Read More</a>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <!-- Slide Item -->
                <li class="slide-item" style="background-image: url(/images/uploads/slide-4.jpg);">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 offset-lg-6 col-md-12 col-sm-12">
                                <div class="content-box">
                                    <h1>@Localize("page.home.slider4.line1")</h1>
                                    <div class="text">@Localize("page.home.slider4.line2") </div>
                                    <div class="link-box">
                                        @*<a href="about.html" class="theme-btn btn-style-five">Read More</a>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- End Bnner Section -->
<!-- Services Section -->
<section class="services-section-two" style="margin-bottom:70px;">
    <div class="container">
        <div class="services-box row clearfix">
            <!-- Service Block -->
            <div class="service-block col-lg-4 col-md-6 col-sm-12 wow fadeInDown">
                <div class="inner-box yellow">
                    <div class="icon-box">
                        <i class="icon flaticon-report"></i>
                    </div>
                    <div class="lower-content">
                        <h3><a href="#">@Localize("page.home.box1.line1")</a></h3>
                        <div class="text">@Localize("page.home.box1.line2")</div>
                        @*<a href="#" class="read-more-btn">Read More</a>*@
                    </div>
                </div>
            </div>
            <!-- Service Block -->
            <div class="service-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="400ms">
                <div class="inner-box grey">
                    <div class="icon-box">
                        <i class="icon flaticon-growth"></i>
                    </div>
                    <div class="lower-content">
                        <h3><a href="#">@Localize("page.home.box2.line1")</a></h3>
                        <div class="text">@Localize("page.home.box2.line2")</div>
                        @*<a href="#" class="read-more-btn">Read More</a>*@
                    </div>
                </div>
            </div>
            <!-- Service Block -->
            <div class="service-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="800ms">
                <div class="inner-box blue">
                    <div class="icon-box">
                        <i class="icon flaticon-analysis"></i>
                    </div>
                    <div class="lower-content">
                        <h3><a href="#">@Localize("page.home.box3.line1")</a></h3>
                        <div class="text">@Localize("page.home.box3.line2")</div>
                        @*<a href="#" class="read-more-btn">Read More</a>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!--End Services Section -->

@section header{



}




@section scripts{



}
