@{
    ViewData["Title"] = Localize("page_kvkk_meta_title");

}

<!-- BREAD-CRUMB -->
<!-- style="background-image:url(/images/background/page-banner.jpg);" -->
<section class="page-title" style="padding: 0 0 0">
    <div class="container">
        <div class="inner-container clearfix">
            <!--
                <div class="title-box">
                  <h1>@ViewData["Title"]</h1>
                </div>
            -->
            <div class="bread-crumb">

                <ul>
                    <li><a href="/"><i class="fa fa-home"></i></a></li>

                    <li>@ViewData["Title"]</li>

                </ul>

            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <br />
        <p style="color:black"><b>@Localize("page_kvkk_content1")</b></p>
        <p style="color:black"><b> @Localize("page_kvkk_content2")</b></p>
        <br />
        <p style="color:black">@Localize("page_kvkk_content3")</p>
        <br />
        <p style="color:black">@Localize("page_kvkk_content4")</p>
        <br />
        <p style="color:black"><b> @Localize("page_kvkk_content5")</b></p>
        <br />
        <p style="color:black">@Localize("page_kvkk_content6")</p>
        <br />
        <p style="color:black"><b> @Localize("page_kvkk_content7")</b></p>
        <br />
        <p style="color:black">@Localize("page_kvkk_content8")</p>
        <br />
        <p style="color:black"><b> @Localize("page_kvkk_content9")</b></p>
        <br />
        <p style="color:black">@Localize("page_kvkk_content10")</p>
        <br />
        <p style="color:black"><b> @Localize("page_kvkk_content11")</b></p>
        <br />
        <p style="color:black">@Localize("page_kvkk_content12")</p>
        <br />
        <p style="color:black">@Localize("page_kvkk_content13")</p>
        <br />
        <p style="color:black"><b>-</b>@Localize("page_kvkk_content14")</p>
        <p style="color:black"><b>-</b>@Localize("page_kvkk_content15")</p>
        <p style="color:black"><b>-</b>@Localize("page_kvkk_content16")</p>
        <p style="color:black"><b>-</b>@Localize("page_kvkk_content17")</p>
        <p style="color:black"><b>-</b>@Localize("page_kvkk_content18")</p>
        <p style="color:black"><b>-</b>@Localize("page_kvkk_content19")</p>
        <p style="color:black"><b>-</b>@Localize("page_kvkk_content20")</p>
        <p style="color:black"><b>-</b>@Localize("page_kvkk_content21")</p>
        <p style="color:black"><b>-</b>@Localize("page_kvkk_content22")</p>
        <p style="color:black"><b>-</b>@Localize("page_kvkk_content23")</p>
        <p style="color:black"><b>-</b>@Localize("page_kvkk_content24")</p>
        <p style="color:black"><b>-</b>@Localize("page_kvkk_content25")</p>
        <p style="color:black"><b>-</b>@Localize("page_kvkk_content26")</p>
        <p style="color:black"><b>-</b>@Localize("page_kvkk_content27")</p>
        <p style="color:black"><b>-</b>@Localize("page_kvkk_content28")</p>
        <p style="color:black"><b>-</b>@Localize("page_kvkk_content29")</p>
        <p style="color:black"><b>-</b>@Localize("page_kvkk_content30")</p>
        <p style="color:black"><b>-</b>@Localize("page_kvkk_content31")</p>
        <p style="color:black"><b>-</b> @Localize("page_kvkk_content32")</p>
        <br />
        <p style="color:black"><b> @Localize("page_kvkk_content33")</b></p>
        <br />
        <p style="color:black"><b>-</b>@Localize("page_kvkk_content34")</p>
        <p style="color:black"><b>-</b>@Localize("page_kvkk_content35")</p>
        <p style="color:black"><b>-</b>@Localize("page_kvkk_content36")</p>
        <p style="color:black"><b>-</b>@Localize("page_kvkk_content37")</p>
        <p style="color:black"><b>-</b>@Localize("page_kvkk_content38")</p>
        <p style="color:black"><b>-</b>@Localize("page_kvkk_content39")</p>
        <p style="color:black"><b>-</b>@Localize("page_kvkk_content40")</p>
        <p style="color:black"><b>-</b>@Localize("page_kvkk_content41")</p>


    </div>


</section>
