@model LoginViewModel

@{

    ViewData["Title"] = Localize("login.popup.loginbutton");
}

<section class="page-title" style="padding: 0 0 0">
    <div class="container">
        <div class="inner-container clearfix">

            <div class="bread-crumb">

                <ul>
                    <li><a href="/"><i class="fa fa-home"></i></a></li>

                    <li>@ViewData["Title"]</li>

                </ul>

            </div>
        </div>
    </div>
</section>

<section class="app-section" style="margin-bottom:70px;">
    <div class="container">

        <div class="row">
            <div class="col-md-12 col-lg-7">
                <div id="contact-form-container">

                    <h2><span>@Localize("login0")</span></h2>

                    <div id="contact-form-result">
                        <p>@Html.ValidationSummary("", new { @class = "text-danger" })</p>
                    </div>
                    <form class="nobottommargin" id="template-contactform" name="template-contactform" method="post" novalidate="novalidate">

                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" asp-for="Eposta" placeholder="@Localize("login7")">
                            <label for="Eposta">@Localize("login7")</label>
                        </div>

                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" asp-for="Sifre" placeholder="@Localize("login8")">
                            <label for="Sifre">@Localize("login8")</label>
                        </div>

                        <p class="text-center">
                            <button class="theme-btn btn-style-one" type="submit">@Localize("login.popup.loginbutton")</button>
                        </p>
                    </form>
                </div>

            </div>
            <div class="col-md-12 col-lg-5">
                <div class="col_one_third entry_content col_last nobottommargin">
                    <div class="topmargin">
                        <div class="product-feature">

                            <h3 style="color: var(--pc);">@Localize("login1")</h3>

                            <p>
                                @Localize("login2")<br />
                                <a href="/register">@Localize("login3")</a>
                            </p>
                            <br />
                        </div>
                        <div class="product-feature">
                            <h3 style="color: var(--pc);">@Localize("login4")</h3>
                            <p>
                                @Localize("login5")<br />
                                <a href="/forgotpassword">@Localize("login6")</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
