@using Siyasett.Core.Addresses
@using Siyasett.Core.Emails
@using Siyasett.Core.Party
@using Siyasett.Core.People
@using Siyasett.Core.SocialMedia
@model PersonCreateModel
@{
    ViewData["Title"] = "Kişi Düzenle";
    List<Gender> genders = ViewBag.Genders;
    List<InstitutionType> institutionTypes = ViewBag.InstitutionTypes;
    List<Position> positions = ViewBag.Positions;
    List<PositionField> positionFields = ViewBag.PositionFields;
    List<Education> educations = ViewBag.Educations;
    List<AddressType> addressTypes = ViewBag.AddressTypes;
    List<PhoneType> phoneTypes = ViewBag.PhoneTypes;
    List<CommunicationType> communicationTypes = ViewBag.CommunicationTypes;

    List<SocialType> socialTypes = ViewBag.SocialTypes;

    List<AddressModel> addresses = ViewBag.Addresses;
    List<Job> jobs = ViewBag.Jobs;
    List<Country> countries = ViewBag.Countries;
    List<Province> provinces = ViewBag.Provinces;
    List<Siyasett.Core.Phones.PhoneModel> phones = ViewBag.Phones;
    List<EmailModel> emails = ViewBag.Emails;
    List<SocialMediaModel> socialmedias = ViewBag.SocialAdress;
    List<PartyListModel> parties = ViewBag.Parties;

    List<PeoplePositionModel> peoplePositions = ViewBag.PeoplePositions;
    BaseModel? prev = ViewBag.Prev;
    BaseModel? next = ViewBag.Next;
}

<div style="display:none" id="modelIdDiv" data-val="@Model.Id"></div>

<div class="row">
    <div class="col-md-2">
        <div class="card">
            <div class="card border shadow-sm">
                <div class="card-body">
                    <div class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" href="#collapse1">Seçenekler</a>
                                </h4>
                            </div>
                            <div id="collapse1" class="panel-collapse collapse">
                                <ul class="list-group">
                                    <li class="list-group-item">TEMEL VERİLER</li>
                                    <li class="list-group-item">ÖZGEÇMİŞ</li>
                                    <li class="list-group-item">GÖREVLERİ</li>
                                    <li class="list-group-item">BENZER KAYITLAR</li>
                                    <li class="list-group-item">WİKİ'DEN GELİR'</li>
                                </ul>
                                <div class="panel-footer">Footer</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-2">
        <div class="card">
            <div class="card border shadow-sm ">
                <div class="card-body">
                    <div class="text-center">
                        <img class="img-thumbnail" id="Photo" src="~/images/person/@(string.IsNullOrEmpty(Model.Photo) ? "user2.png" : Model.Photo)" style="max-width:240px;" />
                        <div style="text-align:center">
                            <label >@Model.FirstName @Model.LastName</label>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-6" style="margin-left:30px">
        <div class="card">
            <div class="card-body">
                <h1>TEMEL VERİLER</h1>
                <div class="row">
                    <span class="col-md-3">Adı:</span>
                    <span class="col-md-7">@Model.FirstName</span>
                </div>
                
                <div class="row">
                    <span class="col-md-3">Soyadı:</span>
                    <span class="col-md-7">@Model.LastName</span>
                </div>
                <div class="row">
                    <span class="col-md-3">Doğum Yeri:</span>
                    <span class="col-md-7">@Model.PlaceOfBirth</span>
                </div>
                <div class="row">
                    <span class ="col-md-3">Doğum Tarihi:</span>
                    <span class="col-md-7">@Model.DateOfBirth</span>
                </div>
                <div class="row">
                    <span class="col-md-3">Mesleği:</span>
                    @{
                        var meslek = "";
                        foreach (var item in @Model.JobIds)
                        {
                            var job = jobs.Find(a => a.Id == item).NameTr;
                            meslek += job+" ";
                        }
                    }
                    <span class="col-md-7">@meslek</span>
                </div>
                <div class="row">
                    <span class="col-md-3">Eğitim Durumu:</span>
                    @{
                       var egitim = educations.Find(a => a.Id == Model.EducationId).NameTr == null ? "" : educations.Find(a => a.Id == Model.EducationId).NameTr;
                    }
                    <span class="col-md-7">@egitim</span>
                </div>
                <div class="row">
                    <span class="col-md-3">Cinsiyeti</span>
                    @{
                        var cinsiyet = genders.Find(a => a.Id == Model.GenderId).NameTr == null ? "" : genders.Find(a => a.Id == Model.GenderId).NameTr;
                    }
                    <span class="col-md-7">@cinsiyet</span>
                </div>
                <div class="row">
                    <span class="col-md-3">Partisi / Kurumu</span>
                    @{
                        var partisi = parties.Find(a => a.Id == Model.PartyId).PartyName == null ? "" : parties.Find(a => a.Id == Model.PartyId).PartyName;
                    }
                    <span class="col-md-7">@partisi</span>
                </div>
                <div class="row">
                    <span class="col-md-3">Görevi</span>
                    @{
                        var posizyonu = "";
                        foreach (var item in peoplePositions)
                        {
                            var pos = positions.Find(a => a.Id == item.PositionId).NameTr == null ? "" : positions.Find(a => a.Id == item.PositionId).NameTr;
                            posizyonu += posizyonu + " " + pos;
                        }
                        
                    }
                    <span class="col-md-7">@posizyonu</span>
                </div>
                <div class="row">
                    <span class="col-md-3">Göreve başlama tarihi</span>
                    <span class="col-md-7">@Model.DateOfBirth</span> @*posizyona başlama tarihi gelicek*@
                </div>
                <div class="row">
                    <span class="col-md-3">Telefon numarası</span>
                    <span class="col-md-7">
                        @if (@phones.Count>0)
                        {
                            @phones.First().PhoneNumber
                        }
                    </span>
                </div>
                <div class="row">
                    <span class="col-md-3">Adresi</span>
                    <span class="col-md-7">
                        @if (@addresses.Count > 0)
                        {
                            @addresses.First().Address1 @addresses.First().Address2
                        }
                    </span>
                </div>
                <div class="row">
                    <span class="col-md-3">Telefon numarası</span>
                    <span class="col-md-7">
                        @if (@phones.Count>2)
                        {
                            @phones[1].PhoneNumber
                        }
                    </span>
                </div>
                <div class="row">
                    <span class="col-md-3">e-Posta adresi</span>
                    <span class="col-md-7">
                        @if (@emails.Count > 0)
                        {
                            @emails.First().EmailAddress
                        }
                    </span>
                </div>
                <div class="row">
                    <span class="col-md-3">Web adresi</span>
                    <span class="col-md-7">
                        @if (@socialmedias.Count > 0)
                        {
                            @socialmedias.First().SocialAddress
                        }
                    </span>
                </div>
            </div>
        </div>
    </div>

</div>