@model List<Chronology>
@{

    var culture = Thread.CurrentThread.CurrentCulture;
    var cultureName = culture.Name;

}
@for (int i = 0; i < 8; i += 2)
{
    var c1 = Model.FirstOrDefault();
    if (c1 != null)
    {
        Model.RemoveAt(0);
        <div class="item">
            <div class="post">
                <ul class="post-date">
                    <li>@c1.EventDate.ToString()</li>
                </ul>
                <div class="thumb">@(cultureName=="tr-TR"? c1.KeywordsTr : c1.KeywordsEn)</div>
                <h4><a href="#">@(cultureName=="tr-TR"? c1.DescriptionTr : c1.DescriptionEn)</a></h4>
            </div>
            @{
                var c2 = Model.FirstOrDefault();


            }
            @if (c2 != null)
            {
                Model.RemoveAt(0);
                <div class="post">
                    <ul class="post-date">
                        <li>@c1.EventDate.ToString()</li>
                    </ul>
                    <div class="thumb">@(cultureName=="tr-TR"? c1.KeywordsTr : c1.KeywordsEn)</div>
                    <h4><a href="#">@(cultureName=="tr-TR"? c1.DescriptionTr : c1.DescriptionEn)</a></h4>
                </div>
            }
            else
            {
                break;
            }

        </div>

    }
    else
    {
        break;
    }


}
