@{
    ViewData["Title"] = Localize("page_terms_meta_title");

}

<!-- BREAD-CRUMB -->
<!-- style="background-image:url(/images/background/page-banner.jpg);" -->
<section class="page-title" style="padding: 0 0 0">
    <div class="container">
        <div class="inner-container clearfix">
            <!--
                <div class="title-box">
                  <h1>@ViewData["Title"]</h1>
                </div>
            -->
            <div class="bread-crumb">

                <ul>
                    <li><a href="/"><i class="fa fa-home"></i></a></li>

                    <li>@ViewData["Title"]</li>

                </ul>

            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <br />
        <p style="color:black"><b>@Localize("page_terms_content1")</b></p>
        <br />
        <p style="color:black">@Localize("page_terms_content2")</p>
        <br />
        <p style="color:black">@Localize("page_terms_content3")</p>
        <br />
        <p style="color:black"><b>@Localize("page_terms_content4")</b></p>
        <br />
        <p style="color:black">@Localize("page_terms_content5")</p>
        <br />
        <p style="color:black"><b>@Localize("page_terms_content6")</b></p>
        <br />
        <p style="color:black">@Localize("page_terms_content7")</p>
        <br />
        <p style="color:black"><b>@Localize("page_terms_content8")</b></p>
        <br />
        <p style="color:black">@Localize("page_terms_content9")</p>
        <br />
        <p style="color:black"><b>@Localize("page_terms_content10")</b></p>
        <br />
        <p style="color:black"><b>-</b> @Localize("page_terms_content11")</p>
        <p style="color:black"><b>-</b> @Localize("page_terms_content12")</p>
        <p style="color:black"><b>-</b> @Localize("page_terms_content13")</p>
        <p style="color:black"><b>-</b> @Localize("page_terms_content14")</p>
        <p style="color:black"><b>-</b> @Localize("page_terms_content15")</p>
        <br />
        <p style="color:black"><b>@Localize("page_terms_content16")</b></p>
        <br />
        <p style="color:black">@Localize("page_terms_content17")</p>
        <br />
        <p style="color:black">@Localize("page_terms_content18")</p>
        <br />
    </div>


</section>