
@model List<Secim>
@{
    ViewData["Title"] = Localize("page_elections_meta_title");
    ViewData["Description"] = Localize("page_people_meta_description");

    List<PartyListModel> parties = ViewBag.Parties;

    ElectionSearchModel searchModel = ViewBag.SearchModel;

    Secim current = Model.FirstOrDefault(i => i.Id == searchModel.SecimId);
    SecimDetay secimDetay = ViewBag.SecimDetay;
    List<BaseModel> iller = ViewBag.Iller;

    List<ElectionProvinceModel> secimIller = ViewBag.SecimIller;
    List<ElectionPartyResultModel> secimSonuclar = ViewBag.SecimSonuclar;
    String yuzde = "%";
    var culture = Thread.CurrentThread.CurrentCulture;
    var cultureName = culture.Name;

    List<int> cumhurs = new List<int> { 1, 8 };
    List<int> millets = new List<int> { 2, 3, 4, 5, 6 };
    List<int> others = new List<int> { 7, 134 };
}


<!-- BREAD-CRUMB -->
<!-- style="background-image:url(/images/background/page-banner.jpg);" -->
<section class="page-title" style="padding: 0 0 0">
    <div class="container">
        <div class="inner-container clearfix">
            <!--
                <div class="title-box">
                  <h1>@ViewData["Title"]</h1>
                </div>
            -->
            <div class="bread-crumb">

                <ul>
                    <li><a href="/"><i class="fa fa-home"></i></a></li>

                    <li>@ViewData["Title"]</li>

                </ul>

            </div>
        </div>
    </div>
</section>

<section class="app-section">

    <div class="container">
        <div style="text-align:right;">
            <a href="/Elections/ElectionComp" class="theme-btn btn-style-two btn-sm mb-2"><i class="fa fa-chart-line"></i>   @Localize("elections1")</a>
        </div>
        <form id="frmMain" method="get">

            <select id="ddlElection" class="form-select" name="secim" onchange="$('#frmMain').submit()">
                @for (int i = 0; i < Model.Count; i++)
                {
                    @*<div>
                        <input @(i == 0 ? " checked " : "") type="checkbox" class="tmm-checkbox chart-election" id="chkElection-@secimler[i].Id" name="c" value="@secimler[i].Id" />
                        <label for="chkElection-@secimler[i].Id">@secimler[i].Name</label>
                        </div>*@
                    <option selected="@(searchModel.SecimId==Model[i].Id)" value="@Model[i].Id">@Model[i].Adi</option>

                }
            </select>
        </form>

        <table class="table table-striped mt-2 mb-2">
            <tr>
                <th style="text-align: center;">@Localize("page_elections_electiondate")</th>
                <th style="text-align: center;">@Localize("page_elections_numberofvoters")</th>
                <th style="text-align: center;">@Localize("page_elections_usedvotes")</th>
                <th style="text-align: center;">@Localize("page_elections_validvote")</th>
                <th style="text-align: center;">@Localize("page_elections_unvalidvote")</th>
            </tr>
            <tr>
                <td style="text-align: center;">@current.SecimTarihi.Value.ToString("dd.MM.yyyy")</td>
                <td style="text-align: center;">@secimDetay.SecmenSayisi!.Value.ToString("#,###")</td>
                <td style="text-align: center;">@secimDetay.OyKullanan!.Value.ToString("#,###")</td>
                <td style="text-align: center;">@secimDetay.GecerliOy!.Value.ToString("#,###")</td>
                <td style="text-align: center;">@secimDetay.GecersizOy!.Value.ToString("#,###")</td>
            </tr>
        </table>
        <div class="row">
            <div class="col-md-12 col-lg-6">
                <div class="sec-title centered mt-4 mb-2">
                    <h2>@Localize("page_elections_electiondetail1_distbyparty")</h2>
                    <div class="separater"></div>
                </div>

                <div id="chartparties"></div>
            </div>
            <div class="col-md-12 col-lg-6">
                <div class="sec-title centered mt-4 mb-2">
                    <h2>@Localize("page_elections_electiondetail1_distbyalliance")</h2>
                    <div class="separater"></div>
                </div>

                <div id="chartunions"></div>
            </div>

        </div>

        <div class="sec-title centered mt-4 mb-2">
            <h2>@Localize("page_elections_electionresults")</h2>
            <div class="separater"></div>
        </div>

        <div class="table-responsive">


            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>@Localize("page_elections_province")</th>

                        @foreach (var item in parties)
                        {
                            if (@item.PartyNameShort.Contains("Bağımsız"))
                            {
                                <th style="text-align:right">@(cultureName == "tr-TR" ? item.PartyNameShort : "Independents")</th>

                            }
                            else
                            {
                                <th style="text-align:right">@item.PartyNameShort</th>

                            }
                        }
                    </tr>
                </thead>
                <tbody id="tblBody">
                    @foreach (var item in secimIller)
                    {
                        <tr>
                            <td><a asp-route="secim-il-detay" asp-route-cevreid="@item.RegionId" asp-route-secim="@current.Id" asp-route-id="@item.Id">@item.Name</a></td>

                            @foreach (var party in parties)
                            {
                                <td style="text-align:right">
                                    @{
                                        var sonuc = secimSonuclar.Where(i => i.PartyId == party.Id && i.IlId == item.Id && i.YskSecimCevresiId == item.RegionId).FirstOrDefault();
                                    }
                                    @if (sonuc != null)
                                    {
                                        @sonuc.Vote.Value.ToString("#,##0")
                                        <br />

                                        @yuzde
                                        @Math.Round((100 * Convert.ToDouble(sonuc.Vote.Value) /
                            Convert.ToDouble(secimSonuclar.Where(i => i.IlId == item.Id && i.YskSecimCevresiId == item.RegionId).Select(i => i.Vote).Sum())), 2)
                                    }
                                    else
                                    {
                                        <span>-</span>
                                    }
                                </td>

                            }
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th>@Localize("page_elections_count")</th>
                        @foreach (var party in parties)
                        {
                            var sonuc2 = secimSonuclar.Where(i => i.PartyId == party.Id).Sum(i => i.Vote);

                            <th style="text-align:right">
                                @yuzde
                                @Math.Round((100 * Convert.ToDouble(sonuc2.Value) /
                            Convert.ToDouble(secimSonuclar.Sum(i => i.Vote))), 2)

                            </th>
                        }
                    </tr>
                </tfoot>
            </table>
        </div>
        <div id="chart">
        </div>

        <div id="chart2" style="margin-top:50px;">
        </div>
    </div>
</section>





@section scripts{
    <link href="~/lib/apexcharts/apexcharts.min.css" rel="stylesheet" />
    <script src="~/lib/apexcharts/apexcharts.min.js"></script>
    <script src="~/js/election-listing.js" asp-append-version="true"></script>

    <script>

        $(function () {

            makePieChart([@parties.Where(i=>cumhurs.Contains((int)i.Id)).Sum(i=>i.RatioAvg), @parties.Where(i=>millets.Contains((int)i.Id)).Sum(i=>i.RatioAvg), @parties.Where(i=>others.Contains((int)i.Id)).Sum(i=>i.RatioAvg)], ['Cumhur', 'Millet', 'Diğer'], "#chartunions");
            createChart();


            $('#tblBody').find('tr').each((i, el) => {
                var max = 0;
                var maxEl;
                $(el).find('td').each((v, vel) => {
                    if (v > 0) {
                        var f = parseFloat($(vel).html().replace(',', '').replace('.', ''));
                        if (!isNaN(f) && f > max) {
                            max = f;
                            maxEl = vel;
                        }
                    }

                });
                if (maxEl) {
                    $(maxEl).css("font-weight", "bold");
                }
            });
        });

        function makePieChart(datas, categories, divname) {
            var options = {
                series: datas,
                chart: {
                    height: 350,
                    type: 'pie',
                },
                legend: {
                    show: true,
                    position: 'bottom',
                    floating: false,
                    verticalAlign: 'bottom',
                    align: 'center'
                },
                labels: categories
            };
            var chart = new ApexCharts(document.querySelector(divname), options);
            chart.render();
        };
        var barHeight = 40;
        function createChart() {
            var secimdetayid = @secimDetay.Id;
            $.get('/elections/GetSecimChartData?secimdetay=' + secimdetayid)
                .done(function (response) {
                    var data = response.data;
                    var options = {
                        series: [{
                            data: [],
                            name: "Oy ",
                        }],
                        chart: {
                            type: 'bar',
                            height: 30 + data.length * barHeight
                        },
                        plotOptions: {
                            bar: {
                                borderRadius: 3,
                                horizontal: true,
                                distributed: true,
                                dataLabels: {
                                    position: 'top',
                                    textAnchor: 'start'
                                },
                            }
                        },
                        colors: ['#33b2df', '#546E7A', '#d4526e', '#13d8aa', '#A5978B', '#2b908f', '#f9a3a4', '#90ee7e',
                            '#f48024', '#69d2e7', '#9ec54b', '#ff3d7f', '#e8caaf', '#fc9d9a'
                        ],
                        dataLabels: {
                            enabled: true,
                            textAnchor: 'start',
                            style: {
                                fontSize: '11px',
                                fontFamily: 'Helvetica, Arial, sans-serif',
                                fontWeight: 'bold',
                                colors: '#000000'
                            },
                            formatter: function (val, opts) {
                                console.log(opts);
                                var total = 0;
                                for (var i = 0; i < opts.w.globals.series[opts.seriesIndex].length; i++) {
                                    total += opts.w.globals.series[opts.seriesIndex][i];
                                }
                                console.log(total);
                                let percent = (100 * val) / total;
                                var vstr = new Intl.NumberFormat('tr-TR').format(val);
                                return vstr + ' (' + percent.toFixed(1) + '%)'

                            }
                        },
                        xaxis: {
                            categories: [],
                            title: {
                                text: 'Oy Sayısı',
                            },
                        },
                        yaxis: {
                            title: {
                                text: "Partiler",
                            },
                        },
                    };
                    for (var i = 0; i < data.length; i++) {
                        if (i < 7) {
                            options.series[0].data.push(data[i].ratioAvg);
                            //options.colors.push(getColor(i));
                            options.xaxis.categories.push(data[i].partyNameShort);
                        }
                    }
                    var chart = new ApexCharts(document.querySelector("#chartparties"), options);
                    chart.render();
                });
        }

    </script>
}
