@model List<PollResultListModel>
@{
    ViewData["Title"] = Localize("page_polls_main_title");
    ViewData["Description"] = Localize("page_polls_main_description");
    List<Company> companies = ViewBag.Companies;
    List<PollDateModel> dates = ViewBag.Dates;
    List<PartyListModel> parties = ViewBag.Parties;
    var culture = Thread.CurrentThread.CurrentCulture;
    var cultureName = culture.Name;
}


<!-- BREAD-CRUMB -->
<!-- style="background-image:url(/images/background/page-banner.jpg);" -->
<section class="page-title" style="padding: 0 0 0">
    <div class="container">
        <div class="inner-container clearfix">
            <!--
                <div class="title-box">
                  <h1>@ViewData["Title"]</h1>
                </div>
            -->
            <div class="bread-crumb">

                <ul>
                    <li><a href="/"><i class="fa fa-home"></i></a></li>

                    <li>@ViewData["Title"]</li>

                </ul>

            </div>
        </div>
    </div>
</section>

<section class="app-section" style="margin-bottom:70px;">
    <div class="container">
        <div style="display:flex;justify-content:space-between;">
            <h4>@Localize("page_polls_allcompany_survey_result")</h4>
            <div style="text-align:right;">
                <a href="/anketler-grafik" class="theme-btn btn-style-one"><i class="fa fa-chart-line"></i> @Localize("page_polls_graphicview")</a>
            </div>
        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="min-width:100px;">@Localize("page_polls_company")</th>
                    <th style="min-width:130px;">@Localize("text_date")</th>
                    @foreach (var item in parties)
                    {
                        <th title="@item.Name" data-party-id="@item.Id">
                            @(item.PartyNameShort.Length>2 ? item.PartyNameShort.Substring(0, 3) : item.PartyNameShort.Substring(0, 2))
                        </th>
                    }
                </tr>
                <tr>
                    <td>
                        <select id="ddlCompny" onchange="filterTable()">
                            <option value="0">@Localize("text_all")</option>
                            @foreach (var item in companies)
                            {
                                <option value="@item.Id">@item.ShortName</option>
                            }
                        </select>
                    </td>
                    <td>
                        <select id="ddlDate" onchange="filterTable()">
                            <option value="0">@Localize("text_all")</option>
                            @foreach (var item in dates)
                            {
                                <option value="@item.YearMonth">@item.Year @item.MonthName</option>
                            }
                        </select>
                    </td>
                </tr>
            </thead>
            <tbody id="tblBody">
                @foreach (var item in dates)
                {
                    var polls = Model.Where(i => i.Year == item.Year && i.Month == item.Month).ToList();
                    if (polls.Count > 0)
                    {
                        var pollcompanies = polls.Select(i => i.CompanyId).Distinct().ToList();

                        foreach (var company in pollcompanies)
                        {
                            var c = companies.FirstOrDefault(i => i.Id == company);
                            <tr data-company-id="@company" data-date="@item.YearMonth">
                                <td>@c.ShortName</td>
                                <td>@item.Year @item.MonthName</td>
                                @foreach (var p in parties)
                                {
                                    var pp = polls.Where(i => i.CompanyId == company && i.PartyId == p.Id && i.Year == item.Year && i.Month == item.Month).FirstOrDefault();
                                    if (pp != null)
                                    {
                                        <td>@pp.Ratio.ToString("#,##0.00")</td>
                                    }
                                    else
                                    {
                                        <td>-</td>
                                    }
                                }

                            </tr>

                        }
                    }
                }
            </tbody>
        </table>

    </div>
</section>



@section scripts{
    <link href="~/lib/apexcharts/apexcharts.min.css" rel="stylesheet" />
    <script src="~/lib/apexcharts/apexcharts.min.js"></script>
    @*<style>
            table {
                border-spacing: 0;
                border-collapse: collapse;
                overflow: hidden;
                background-color: tomato;
            }

            td, th {
                padding: 10px;
                position: relative;
            }

            tr:hover {
                background-color: rgb(255, 255, 129, 0.30);
            }

            td:hover::after, th:hover::after {
                background-color: rgba(255, 255, 129, 0.3);
                content: '\00a0';
                height: 10000px;
                left: 0;
                position: absolute;
                top: -5000px;
                width: 100%;
            }
        </style>*@
    <script>$(function () {
            $('#tblBody').find('tr').each((i, el) => {
                var max = 0;
                var maxEl;
                $(el).find('td').each((v, vel) => {
                    if (v > 1) {
                        var f = parseFloat($(vel).html().replace(',', '.'));
                        if (!isNaN(f) && f > max) {
                            max = f;
                            maxEl = vel;
                        }
                    }

                });
                if (maxEl) {
                    $(maxEl).css("font-weight", "bold");
                }
            });
        });

        function filterTable() {
            var d = parseInt($('#ddlDate').val());
            var c = parseInt($('#ddlCompny').val());

            $('#tblBody').find('tr').each((i, el) => {
                var trd = parseInt($(el).attr('data-date'));
                var trc = parseInt($(el).attr('data-company-id'));

                var visible = (d == 0 || (d > 0 && trd == d)) && (c == 0 || (c > 0 && c == trc));

                if (visible)
                    $(el).show();
                else
                    $(el).hide();

            });



        }</script>


}