@model PartyModel
@{
    ViewBag.Title = Model.Name;
    List<PeopleListModel> stafDetails = ViewBag.Teskilat;
    List<Siyasett.Core.Phones.PhoneModel> phones = ViewBag.Phones;
    List<EmailModel> emails = ViewBag.Emails;
    List<SocialMediaModel> socialmedias = ViewBag.SocialAdress;
    List<AddressModel> addresses = ViewBag.Addresses;
    List<AttachmentModel> attachments = ViewBag.Attachments;
    List<PeopleListModel> personUstDuzey = ViewBag.UstDuzey;
    List<PeopleListModel> personSecilmis = ViewBag.Secilmis;

    List<Sector> sectorlist = ViewBag.ProgramSectors;
    List<PartyText> partyTexts = ViewBag.PartyTexts;


    List<PartyElectionModel> secimler = ViewBag.Secimler;

    PagerInfo pagerSecilmis = ViewBag.PagerSecilmis;

    var culture = Thread.CurrentThread.CurrentCulture;
    var cultureName = culture.Name;

}

<!-- BREAD-CRUMB -->
<!-- style="background-image:url(/images/background/page-banner.jpg);" -->
<section class="page-title" style="padding: 0 0 0">
    <div class="container">
        <div class="inner-container clearfix">
            <!--
                <div class="title-box">
                  <h1>@ViewData["Title"]</h1>
                </div>
            -->
            <div class="bread-crumb">

                <ul>
                    <li><a href="/"><i class="fa fa-home"></i></a></li>

                    <li>@ViewData["Title"]</li>

                </ul>

            </div>
        </div>
    </div>
</section>

<div class="sidebar-page-container" style="padding-top:50px;">
    <div class="container">
        <div class="row clearfix">
            <div class="sidebar-side col-lg-3 col-md-12 col-sm-12">
                <aside class="sidebar default-sidebar team-section  style-two" style="padding-top:0;">

                    <div class="team-block">
                        <div class="inner-box">
                            <div class="image-box">
                                <div class="image">

                                    <img src="@Helpers.GetPartyLogo(Model.Logo)" alt="@Model.ShortName" />

                                </div>
                            </div>
                            <div class="info-box">
                                <h3 class="name">@ViewData["Title"]</h3>
                                <h5>@Model.ShortName</h5>

                                <label class="designation">@Localize("text_generealpresident")</label>
                                <a href="/kim-kimdir/@Model.LeaderPeopleId/@Helpers.ToUrlSlug(Model.LeaderName)" target="_blank">@Model.LeaderName</a>


                            </div>
                            <ul class="social-links">
                                @foreach (var social in socialmedias)
                                {
                                    <li>
                                        @if (social.SocialTypeId == 1)//twitter
                                        {
                                            <a href="@(social.Url.StartsWith("http")? social.Url :"http://"+social.Url)" target="_blank"><i class="fab fa-twitter"></i></a>
                                        }
                                        else if (social.SocialTypeId == 2)//face
                                        {
                                            <a href="@(social.Url.StartsWith("http")? social.Url :"http://"+social.Url)" target="_blank"><i class="fab fa-facebook-f"></i></a>
                                        }
                                        else if (social.SocialTypeId == 3)//youtube
                                        {
                                            <a href="@(social.Url.StartsWith("http")? social.Url :"http://"+social.Url)" target="_blank"><i class="fab fa-youtube"></i></a>
                                        }
                                        else if (social.SocialTypeId == 4)//insta
                                        {
                                            <a href="@(social.Url.StartsWith("http")? social.Url :"http://"+social.Url)" target="_blank"><i class="fab fa-instagram"></i></a>
                                        }
                                        else if (social.SocialTypeId == 6)//web
                                        {
                                            <a href="@(social.Url.StartsWith("http")? social.Url :"http://"+social.Url)" target="_blank"><i class="fab fa-internet-explorer"></i></a>
                                        }
                                        else if (social.SocialTypeId == 7)//wiki
                                        {
                                            <a href="@(social.Url.StartsWith("http")? social.Url :"http://"+social.Url)" target="_blank"><i class="fab fa-wikipedia-w"></i></a>
                                        }

                                    </li>
                                }

                            </ul>
                        </div>
                    </div>


                </aside>
            </div>
            <div class="content-side col-lg-9 col-md-12 col-sm-12">
                <div class="service-detail">
                    <div class="product-info-tabs">


                        <div class="prod-tabs tabs-box">
                            <!--Tab Btns-->
                            <ul class="tab-btns tab-buttons clearfix">
                                <li data-tab="#prod-1" class="tab-btn active-btn">@Localize("page_partydetail_tab1")</li>
                                <li data-tab="#prod-2" class="tab-btn">@Localize("page_partydetail_tab2")</li>
                                <li data-tab="#prod-3" class="tab-btn">@Localize("page_partydetail_tab3")</li>
                                <li data-tab="#prod-4" class="tab-btn">@Localize("page_partydetail_tab4")</li>
                                <li data-tab="#prod-5" class="tab-btn">@Localize("page_partydetail_tab5")</li>
                                <li data-tab="#prod-6" class="tab-btn">@Localize("page_partydetail_tab6")</li>

                            </ul>
                            <!--Tabs Container-->
                            <div class="tabs-content">
                                <div class="tab active-tab" id="prod-1">
                                    <div class="content">

                                        <table class="table">
                                            <tr>
                                                <th style="width:25%;text-align:left;">@Localize("text_name")</th>
                                                <td>@Model.Name</td>
                                            </tr>
                                            <tr>
                                                <th style="width:25%;text-align:left;">@Localize("page_partydetail_shortname")</th>
                                                <td>@Model.ShortName</td>
                                            </tr>
                                            <tr>
                                                <th style="text-align: left; ">@Localize("page_partydetail_establishmentdate")</th>
                                                <td>@Model.Dof</td>
                                            </tr>
                                            @if (Model.Parliamenteries.HasValue && Model.Parliamenteries.Value > 0)
                                            {
                                                <tr>


                                                    <th style="text-align: left;">@Localize("page_partydetail_numberofdeputies")</th>
                                                    <td>@Model.Parliamenteries</td>
                                                </tr>
                                            }
                                            @if (Model.MemberCount.HasValue && Model.MemberCount.Value > 0)
                                            {
                                                <tr>
                                                    <th style="text-align: left; ">@Localize("page_partydetail_membercount")</th>
                                                    <td>@Model.MemberCount.Value.ToString("#,###")</td>
                                                </tr>
                                            }
                                            <tr>
                                                <th style="text-align: left; ">@Localize("page_parties_text5")</th>
                                                <td>@(Model.ParticipateElection ? Localize("text_yes") : Localize("text_no"))</td>
                                            </tr>
                                            <tr>
                                                <th style="text-align: left;">@Localize("page_partydetail_status")</th>
                                                <td>@(Model.Active ? Localize("page_partydetail_status1")  : Localize("page_partydetail_status2") )</td>
                                            </tr>
                                            <tr>
                                                <th style="text-align: left;vertical-align:top">@Localize("page_partydetail_website")</th>
                                                <td style="vertical-align: top;">
                                                    @if (socialmedias.Count > 0)
                                                    {
                                                        var web = socialmedias.FirstOrDefault(a => a.SocialTypeId == 6);
                                                        if (web != null)
                                                        {
                                                            <a href="@(web.SocialAddress.StartsWith("http")?web.SocialAddress:"http://"+web.SocialAddress)" target="_blank">@web.SocialAddress</a>
                                                        }


                                                    }
                                                </td>
                                            </tr>
                                            <tr>
                                                <th style="text-align: left;">@Localize("text_email")</th>
                                                <td>
                                                    @if (emails.Count > 0)
                                                    {
                                                        <span> @emails.FirstOrDefault().EmailAddress </span>

                                                    }
                                                    else
                                                    {
                                                        @("-")
                                                    }
                                                </td>
                                            </tr>
                                            <tr>
                                                <th style="text-align: left;">@Localize("text_phone")</th>
                                                <td>
                                                    @if (phones.Count > 0)
                                                    {
                                                        <span>@phones.FirstOrDefault().PhoneNumber</span>
                                                    }

                                                </td>
                                            </tr>


                                            <tr>
                                                <th style="text-align: left; vertical-align: top">@Localize("text_address")</th>
                                                <td style="vertical-align: top;">
                                                    @{
                                                        var adres = addresses.FirstOrDefault();
                                                    }

                                                    @if (adres != null)
                                                    {
                                                        <div>@adres.Address1 &nbsp;@adres.Address2</div>
                                                        <div>@adres.District / @adres.Province</div>
                                                    }

                                                </td>
                                            </tr>
                                        </table>

                                    </div>
                                </div>
                                <div class="tab" id="prod-2">
                                    <div class="content team-section style-two">
                                        <div class="row" id="partyUstDuzey">
                                            @foreach (var item in personUstDuzey)
                                            {
                                                <div class="col-lg-3 col-md-6 col-sm-12">
                                                    <!-- Team Block -->
                                                    <div class="team-block">
                                                        <div class="inner-box">
                                                            <div class="image-box" style="margin:0">
                                                                <div class="image">
                                                                    <a href="/kim-kimdir/@item.Id/@Helpers.ToUrlSlug(item.FirstName+ " " + item.LastName)">
                                                                        <img src="@Helpers.GetPersonPhoto(item.Photo)" alt="">
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <div class="info-box">
                                                                <h4 class="name"><a href="/kim-kimdir/@item.Id/@Helpers.ToUrlSlug(item.FirstName+ " " + item.LastName)">@item.FirstName @item.LastName</a></h4>
                                                                <span class="designation">@(cultureName == "tr-TR" ? item.PartyName : item.PartyNameEn)</span>
                                                                <span class="designation">@(cultureName == "tr-TR" ? item.PositionName : item.PositionNameEn)</span>

                                                                <div class="designation text-truncate">@item.PositionSectorName</div>


                                                                @if (item.PlaceOfBirth != null && item.DateOfBirth != null)
                                                                {
                                                                    <div class="designation text-truncate">@item.PlaceOfBirth, @item.DateOfBirth</div>
                                                                }
                                                                else if (item.PlaceOfBirth == null && item.DateOfBirth != null)
                                                                {
                                                                    <div class="designation text-truncate">@item.DateOfBirth</div>
                                                                }
                                                                else if (item.PlaceOfBirth != null && item.DateOfBirth == null)
                                                                {
                                                                    <div class="designation text-truncate">@item.PlaceOfBirth</div>
                                                                }

                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>


                                            }
                                        </div>
                                        <div class="clear"></div>

                                        <div class="load-more-btn text-center">
                                            <a href="javascript:void(0)" onclick="DahaFazlaGetir(1,@Model.Id)" class="theme-btn btn-style-four">@Localize("text_showmore")</a>
                                        </div>

                                    </div>
                                </div>
                                <div class="tab" id="prod-3">
                                    <div class="content team-section style-two">
                                        <div class="row" id="partyUstDuzey">


                                            @foreach (var item in stafDetails)
                                            {

                                                <div class="col-lg-3 col-md-6 col-sm-12">
                                                    <!-- Team Block -->
                                                    <div class="team-block">
                                                        <div class="inner-box">
                                                            <div class="image-box" style="margin:0">
                                                                <div class="image">
                                                                    <a href="/kim-kimdir/@item.Id/@Helpers.ToUrlSlug(item.FirstName+ " " + item.LastName)">
                                                                        <img src="@Helpers.GetPersonPhoto(item.Photo)" alt="">
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <div class="info-box">
                                                                <h4 class="name"><a href="/kim-kimdir/@item.Id/@Helpers.ToUrlSlug(item.FirstName+ " " + item.LastName)">@item.FirstName @item.LastName</a></h4>

                                                                <span class="designation">@(cultureName == "tr-TR" ? item.PositionName : item.PositionNameEn)</span>
                                                                <div class="designation">
                                                                    @if (!string.IsNullOrEmpty(item.PlaceOfBirth))
                                                                    {
                                                                        <span>@item.PlaceOfBirth</span>
                                                                    }
                                                                    @if (!string.IsNullOrEmpty(item.DateOfBirth))
                                                                    {
                                                                        <span>@(!string.IsNullOrEmpty(item.PlaceOfBirth) ? ", " : "") @item.DateOfBirth</span>
                                                                    }
                                                                </div>
                                                                @if (!string.IsNullOrEmpty(item.ProvinceName))
                                                                {
                                                                    <div class="designation">
                                                                        @item.ProvinceName
                                                                        @if (!string.IsNullOrEmpty(item.DistrictName))
                                                                        {
                                                                            <span>, @item.DistrictName</span>
                                                                        }
                                                                    </div>
                                                                }


                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>



                                            }
                                        </div>

                                        <div class="clear"></div>

                                        <div class="load-more-btn text-center">
                                            <a href="javascript:void(0)" onclick="DahaFazlaGetir(2,@Model.Id)" class="theme-btn btn-style-four">@Localize("text_showmore")</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab" id="prod-4">
                                    <div class="content team-section style-two">
                                        <div class="row" id="partyUstDuzey">

                                            @foreach (var item in personSecilmis)
                                            {

                                                <div class="col-lg-3 col-md-6 col-sm-12">
                                                    <!-- Team Block -->
                                                    <div class="team-block">
                                                        <div class="inner-box">
                                                            <div class="image-box" style="margin:0">
                                                                <div class="image">
                                                                    <a href="/kim-kimdir/@item.Id/@Helpers.ToUrlSlug(item.FirstName+ " " + item.LastName)">
                                                                        <img src="@Helpers.GetPersonPhoto(item.Photo)" alt="">
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <div class="info-box">
                                                                <h4 class="name"><a href="/kim-kimdir/@item.Id/@Helpers.ToUrlSlug(item.FirstName+ " " + item.LastName)">@item.FirstName @item.LastName</a></h4>
                                                                <span class="designation">@(cultureName == "tr-TR" ? item.PartyName : item.PartyNameEn)</span>
                                                                <span class="designation">@(cultureName == "tr-TR" ? item.PositionName : item.PositionNameEn)</span>

                                                                <div class="designation text-truncate">
                                                                    @if (!string.IsNullOrEmpty(item.PlaceOfBirth))
                                                                    {
                                                                        <span>@item.PlaceOfBirth</span>
                                                                    }
                                                                    @if (!string.IsNullOrEmpty(item.DateOfBirth))
                                                                    {
                                                                        <span>@(!string.IsNullOrEmpty(item.PlaceOfBirth) ? ", " : "") @item.DateOfBirth</span>
                                                                    }
                                                                </div>


                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>



                                            }
                                        </div>
                                        <div class="clear"></div>
                                        <div class="load-more-btn text-center">
                                            <a href="javascript:void(0)" onclick="DahaFazlaGetir(3,@Model.Id)" class="theme-btn btn-style-four">@Localize("text_showmore")</a>
                                        </div>

                                    </div>
                                </div>
                                <div class="tab" id="prod-5">
                                    <div class="content">
                                        <h3>@Localize("page_partydetail_partyprogram")</h3>
                                        <select class="form-select" id="sectorSelect" onchange="$('.party-program-text').hide(); $('#program_' + $(this).val()).show(); ">
                                            @foreach (var item in sectorlist)
                                            {
                                                <option value="@item.Id">@item.NameTr</option>

                                            }
                                        </select>
                                        <div style="margin-top:25px" id="partyTexts">
                                            @for (int i = 0; i < sectorlist.Count; i++)
                                            {
                                                var text = partyTexts.FirstOrDefault(k => k.SectorId == sectorlist[i].Id);
                                                if (text != null)
                                                {
                                                    <div id="program_@sectorlist[i].Id" class="party-program-text" style="display:@(i == 0 ? "block" : "none")">
                                                        @Html.Raw(text.Text)
                                                    </div>
                                                }
                                            }


                                        </div>

                                    </div>
                                </div>
                                <div class="tab" id="prod-6">
                                    <div class="content">
                                        <div id="electionChart1">
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>

<!--Hata ve geribildirim formu-->
        <p id="contactFormInitiator" style="margin-top:50px;">
            <div style="cursor:pointer;" onclick="$('#contactFormInline,#contactFormInitiator').slideToggle();">@Localize("feedback_form_message")</div>
        </p>
        <div>
            <div id="contactFormInline" style="display:none;margin-top:50px;" class="contact-form">

                <input type="hidden" name="contact_form_name" value="Contacts">
                <div class="row">
                    <div class="col-md-12 col-lg-6">
                        <div class="form-group mb-3">
                            <input id="contactFormName" class="form-control" required="" type="text" name="feedbackName" value="" placeholder="@Localize("feedback_form_firstname") *">
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-6">
                        <div class="form-group mb-3">
                            <input id="contactFormLastname" class="form-control" required="" type="text" name="feedbackLastName" value="" placeholder="@Localize("feedback_form_lastname") *">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-6">
                        <div class="form-group mb-3">
                            <input id="contactFormEmail" class="form-control" required="" type="email" name="feedbackEmail" value="" placeholder="@Localize("text_email") *">
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-6">
                        <div class="form-group mb-3">
                            <input id="contactFormSubject" class="form-control" required="" type="text" name="feedbackTopic" value="" placeholder="@Localize("text_subject") *">
                        </div>
                    </div>
                </div>

                <div class="form-group mb-3">
                    <textarea id="contactFormMessage" class="form-control" required="" name="feedbackMessage" placeholder="@Localize("text_message") *"></textarea>
                </div>

                <div class="clear"></div>
                <p>@Localize("feedback_form_text")</p>

                <div class="form-group mb-3">
                    <button class="theme-btn btn-style-one" type="button" id="btnFeedback" onclick="feedbackSend()" name="submit-form">@Localize("text_send")</button>
                </div>
                <div class="contact_form_responce" style="display: none;"><ul></ul></div>

            </div>
        </div>


    </div>
</div>

<!--Geribildirim Formu sonu-->


@section scripts{
    <script src="~/lib/apexcharts/apexcharts.min.js"></script>
    <link href="~/lib/apexcharts/apexcharts.min.css" rel="stylesheet" />
    <script>
        var chart1;
        $(document).ready(function () {
            $('tbody td[id=partyMemberCount]').each(function (i, al) {
                $(al).text($(al).text().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
            });
            getSecimler();


            var my_options = $("#sectorSelect option");
            my_options.sort(function (a, b) {
                if ($(a).attr('data-weight') > $(b).attr('data-weight')) return 1;
                else if ($(a).attr('data-weight') < $(b).attr('data-weight')) return -1;
                else return 0
            })
            $("#sectorSelect").empty().append(my_options);

        });

        function feedbackSend() {
            var feedback = {
                Name: $('#contactFormName').val(),
                LastName: $('#contactFormLastname').val(),
                Email: $('#contactFormEmail').val(),
                Topic: $('#contactFormSubject').val(),
                Text: $('#contactFormMessage').val(),
                Title: 'Geri Bildirim',
                PageUrl: window.location.href,
            }

            $('#btnFeedback').prop('disabled', true);
            $.post('/parties/getfeedback', { obj: feedback }).done((response) => {
                $('#btnFeedback').prop('disabled', false);
                Swal.fire("Hata Bildirimi", "Talebiniz alınmıştır. En kısa zamanda inceleme yapılacaktır. İlginize teşekkür ederiz.", "success");
                $('#contactFormName').val("");
                $('#contactFormLastname').val("");
                $('#contactFormEmail').val("");
                $('#contactFormSubject').val("");
                $('#contactFormMessage').val("");
            });
        }

        function getSecimler() {

            $.get('/Parties/GetSecimler/' + @Model.Id)
                .done(r => {
                    if (chart1)
                        chart1.destroy();

                    if (r.length == 0) {

                        $('#electionChart1').html('Partinin katıldığı seçim kaydı bulunmuyor');
                        return;
                    }

                    var options = {
                        series: [{
                            name: 'Oy Oranı',
                            data: []
                        }],

                        chart: {
                            height: r.length * 30 + 120,
                            type: 'bar',
                        },
                        plotOptions: {
                            bar: {
                                borderRadius: 4,
                                horizontal: true,
                            }
                        },

                        dataLabels: {
                            enabled: true,

                            formatter: function (val, opt) {

                                return "%" + val
                            },

                        },
                        stroke: {
                            width: 2
                        },

                        grid: {
                            row: {
                                colors: ['#fff', '#f2f2f2']
                            }
                        },
                        xaxis: {


                            categories: [
                            ],
                            tickPlacement: 'on',
                            title: {
                                text: 'Oy Oranı'
                            },
                        },
                        yaxis: {
                            title: {
                                text: 'Seçimler',
                            },
                            labels: {
                                minWidth: 340,


                            }
                        },
                        title: {
                            text: "Katıldığı Seçimler",
                            align: 'center',
                            margin: 15,
                            offsetX: 0,
                            offsetY: 0,
                            floating: false,
                            style: {
                                fontSize: '16px',
                                fontWeight: 'bold',
                                fontFamily: undefined,
                                color: '#263238'
                            },
                        }
                    };

                    for (var i = 0; i < r.length; i++) {
                        var oran = Math.round(1000.0 * r[i].aldigiOySayisi / r[i].toplamOySayisi) / 10.0;
                        options.series[0].data.push(oran);
                        options.xaxis.categories.push(r[i].adi);
                    }

                    var chart1 = new ApexCharts(document.querySelector("#electionChart1"), options);
                    chart1.render();


                });

        }


        function textChange() {
            var selval = $('#sectorSelect').val();
            $.post('/parties/getpartytext', { sectorid: selval, partyid: @Model.Id }).done((response) => {
                $('#partyTexts').empty();
                for (var i = 0; i < response.length; i++) {
                    var text = '<p class="mb-3">' + response[i] + '</p>';
                    $('#partyTexts').append(text);
                }
            });
        }

        function DahaFazlaGetir(el, id) {
            jQuery.ajaxSetup({ async: true });
            if (el == 1) {
                $.get("/Parties/Detail2", { "id": id, "katsayi": $('#ustDuzeySayac').val(), "tablo": "ustDuzey" }).done((response) => {
                    for (var i = ($('#ustDuzeySayac').val() - 1) * 30; i < response.length; i++) {
                        var text = '<article class="small-6 medium-6 large-6 columns"><div id="post-' + response[i].id + '" class="post border post-alternate-2 post-' + response[i].id + 'type-post status-publish format-standard has-post-thumbnail hentry category-political-news tag-latest-big-2 tag-related elementFadeRun"><div class="entry-media"><a href="/kim-kimdir/' + response[i].id + '/' + response[i].name + '" class="image-post item-overlay "><img src="' + response[i].photo + '" alt="" style="max-width:105px;"></a></div><div class="entry-content"><header class="entry-header"><h4 class="entry-title"><a href="/kim-kimdir/' + response[i].id + '/' + response[i].name + '" style="color:black">' + response[i].firstName + ' ' + response[i].lastName + '</a></h4><div>' + response[i].partyName + '</div><div>' + response[i].positionName + '</div><div>' + (response[i].placeOfBirth ?? '') + ',' + (response[i].dateOfBirth ?? '') + '</div></header><footer class="entry-footer"></footer></div></div></article>';
                        $('#personusttab article').last().after(text);
                    }

                    $('#ustDuzeySayac').val(parseInt($('#ustDuzeySayac').val()) + 1);

                });
            }
            else if (el == 2) {
                $.get("/Parties/Detail2", { "id": id, "katsayi": $('#stafSayac').val(), "tablo": "teskilat" }).done((response) => {
                    for (var i = ($('#stafSayac').val() - 1) * 30; i < response.length; i++) {
                        var text = '<article class="small-6 medium-6 large-6 columns"><div id="post-' + response[i].id + '" class="post border post-alternate-2 post-' + response[i].id + 'type-post status-publish format-standard has-post-thumbnail hentry category-political-news tag-latest-big-2 tag-related elementFadeRun"><div class="entry-media"><a href="/kim-kimdir/' + response[i].id + '/' + response[i].name + '" class="image-post item-overlay "><img src="' + response[i].photo + '" alt="" style="max-width:105px;"></a></div><div class="entry-content"><header class="entry-header"><h4 class="entry-title"><a href="/kim-kimdir/' + response[i].id + '/' + response[i].name + '" style="color:black">' + response[i].firstName + ' ' + response[i].lastName + '</a></h4><div>' + response[i].partyName + '</div><div>' + response[i].positionName + '</div><div>' + (response[i].placeOfBirth ?? '') + ',' + (response[i].dateOfBirth ?? '') + '</div></header><footer class="entry-footer"></footer></div></div></article>';
                        $('#staftab article').last().after(text);
                    }


                    $('#stafSayac').val(parseInt($('#stafSayac').val()) + 1);

                });
            } else if (el == 3) {
                $.get("/Parties/Detail2", { "id": id, "katsayi": $('#secilmisSayac').val(), "tablo": "secilmis" }).done((response) => {
                    for (var i = ($('#secilmisSayac').val() - 1) * 30; i < response.length; i++) {
                        var text = '<article class="small-6 medium-6 large-6 columns"><div id="post-' + response[i].id + '" class="post border post-alternate-2 post-' + response[i].id + 'type-post status-publish format-standard has-post-thumbnail hentry category-political-news tag-latest-big-2 tag-related elementFadeRun"><div class="entry-media"><a href="/kim-kimdir/' + response[i].id + '/' + response[i].name + '" class="image-post item-overlay "><img src="' + response[i].photo + '" alt="" style="max-width:105px;"></a></div><div class="entry-content"><header class="entry-header"><h4 class="entry-title"><a href="/kim-kimdir/' + response[i].id + '/' + response[i].name + '" style="color:black">' + response[i].firstName + ' ' + response[i].lastName + '</a></h4><div>' + response[i].partyName + '</div><div>' + response[i].positionName + '</div><div>' + (response[i].placeOfBirth ?? '') + ',' + (response[i].dateOfBirth ?? '') + '</div></header><footer class="entry-footer"></footer></div></div></article>';
                        $('#secilmisTab article').last().after(text);
                    }

                    $('#secilmisSayac').val(parseInt($('#secilmisSayac').val()) + 1);

                });
            }
            jQuery.ajaxSetup({ async: false });
        }

    </script>

}
