@model List<ComboBaseModel>
@{
    ViewData["Title"] = "Sosyal Linkler";
    String _title = "Bağlantı Tipi";
}

<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">

                <button class="btn btn-success" type="button" onclick="newItem()"><i class="fas fa-plus-circle"></i> @_title</button>



            </div>
            <h4 class="page-title">@ViewData["Title"]</h4>
        </div>
    </div>
</div>



<div class="row">
    <div class="col-md-12 col-lg-7 mx-auto">
        <div class="card">

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name (TR)</th>
                                <th>Name (EN)</th>
                                <th>URL Kalıbı</th>
                                <th>...</th>
                            </tr>
                        </thead>
                        <tbody id="tbList">
                            @foreach (var item in Model)
                            {
                                <tr id="row-@item.Id">
                                    <td>@item.NameTr</td>
                                    <td>@item.NameEn</td>
                                    <td>@item.UrlPattern</td>
                                    <td>
                                        <button class="btn btn-link btn-sm" type="button" onclick="editItem(@item.Id)"><i class="fa fa-edit"></i></button>
                                        <button onclick="deleteItem(@item.Id)" class="btn btn-link btn-sm text-danger"><i class="fa fa-trash-alt"></i></button>



                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
 
@section scripts{

    <div id="modalAdd" class="modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"><i class="fas fa-plus-circle"></i> @_title</h5>
                    <button type="button" class="btn-close btn-close-black" data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    <div class="mb-3 row">
                        <label class="col-md-4">Name (TR)</label>
                        <div class="col-md-8">
                            <input type="text" placeholder="Name (TR)" id="txtAddNameTr" class="form-control" maxlength="100" />
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label class="col-md-4">Name (EN)</label>
                        <div class="col-md-8">
                            <input type="text" placeholder="Name (EN)" id="txtAddNameEn" class="form-control" maxlength="100" />
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-md-4">URL Kalıbı</label>
                        <div class="col-md-8">
                            <input type="text" placeholder="Url pattern" id="txtUrlPattern" class="form-control" maxlength="250" />
                        </div>
                    </div>
                    <p>Örneğin:<code>https://www.facebook.com/{value}</code> {value} değeri girilen ile değiştirilerek URL oluşturulur. </p>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                    <button type="button" onclick="addItem()" class="btn btn-primary"><i class="fa fa-save"></i> Kaydet</button>
                </div>
            </div>
        </div>
    </div>

    <div id="modalEdit" class="modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"><i class="fa fa-edit"></i> @_title</h5>
                    <button type="button" class="btn-close btn-close-black" data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    <div class="mb-3 row">
                        <label class="col-md-4">Name (TR)</label>
                        <div class="col-md-8">
                            <input type="text" placeholder="Type Name (TR)" id="txtEditNameTr" class="form-control" maxlength="100" />
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label class="col-md-4">Name (EN)</label>
                        <div class="col-md-8">
                            <input type="text" placeholder="Type Name (EN)" id="txtEditNameEn" class="form-control" maxlength="100" />
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-md-4">URL Kalıbı</label>
                        <div class="col-md-8">
                            <input type="text" placeholder="Url pattern" id="txtEditUrlPattern" class="form-control" maxlength="250" />
                        </div>
                    </div>
                    <p>Örneğin:<code>https://www.facebook.com/{value}</code> {value} değeri girilen ile değiştirilerek URL oluşturulur. </p>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                    <button type="button" onclick="saveItem()" class="btn btn-primary"><i class="fa fa-save"></i> Kaydet</button>
                </div>
            </div>
        </div>
    </div>

    <script>

        function newItem() {
            $('#modalAdd').modal('show');

        }
        function addItem() {
            var ntr = $('#txtAddNameTr').val();
            var nen = $('#txtAddNameEn').val();
            var pattern = $('#txtUrlPattern').val();
            if ((ntr.length < 2) && (nen.length < 2)) {
                Swal.fire('Warning', 'Please fill the field', 'warning');
                return;
            }
            $.post('@Url.Action("NewSocial")', { nametr: ntr, nameen: nen, pattern: pattern })
                .done(function(response) {
                    if (response.success) {
                        $('#modalAdd').modal('hide');
                        var tr = '<tr id="row-' + response.id + '"><td>' + ntr + '</td><td>' + nen + '</td><td>' + pattern + '</td><td>' +
                            '<button onclick="editItem(' + response.id + ')" class="btn btn-link btn-sm"><i class="fa fa-edit"></i></button>' +
                            '<button onclick="deleteItem(' + response.id + ')" class="btn btn-link btn-sm text-danger"><i class="fa fa-trash-alt"></i></button></td></tr>';
                        $('#tbList').append(tr);
                        Swal.fire("Sosyal Medya", 'Yeni sosyal media türü eklendi.', 'success');
                    }
                    else
                        Swal.fire("Error!", response.msg, "error");
                });

        }

        function deleteItem(id) {
            Swal.fire({
                title: "Delete Confirmation",
                text: "Are you sure you want to delete this item?",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-danger",
                confirmButtonText: "Yes",
                closeOnConfirm: false
            }).then((result) => {
                    if (result.isConfirmed) {
                        $.post('@Url.Action("DeleteSocial")', { id: id })
                            .done(function(response) {
                                if (response.success) {
                                    $('#row-' + id).remove();
                                    Swal.fire("Deleted!", "Selected item has been deleted successfully.", "success");
                                }
                                else
                                    Swal.fire("Delete!", response.msg, "error");

                            });
                    }
                });
        }

        var _itemid = 0;
        function editItem(id) {
            _itemid = id;
            $('#txtEditNameTr').val($('#row-' + id).children('td').eq(0).html());
            $('#txtEditNameEn').val($('#row-' + id).children('td').eq(1).html());
            $('#txtEditUrlPattern').val($('#row-' + id).children('td').eq(2).html());

            $('#modalEdit').modal('show');
        }

        function saveItem() {
            var ntr = $('#txtEditNameTr').val();
            var nen = $('#txtEditNameEn').val();
            var pattern = $('#txtEditUrlPattern').val();
            if ((ntr.length < 2) && (nen.length < 2)) {
                Swal.fire('Dikkat', 'Gerekli alanları doldurun', 'warning');
                return;
            }
            $.post('@Url.Action("EditSocial")', { id: _itemid, nametr: ntr, nameen: nen ,pattern:pattern})
                .done(function(response) {
                    if (response.success) {
                        $('#modalEdit').modal('hide');
                        $('#row-' + _itemid).children('td').eq(0).html(ntr);
                        $('#row-' + _itemid).children('td').eq(1).html(nen);
                        $('#row-' + _itemid).children('td').eq(2).html(pattern);
                        Swal.fire('Sosyal Medya', 'Sosyal medya başarıyla değiştirildi.', 'success');
                    }
                    else
                        Swal.fire("Error!", response.msg, "error");
                });

        }

    </script>
}



