
<!doctype html>
<html lang="tr" class="semi-dark color-header headercolor1">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="~/images/logo_1.png" type="image/png" />
    <!--plugins-->
    <link href="~/lib/simplebar/css/simplebar.css" rel="stylesheet" />
    <link href="~/lib/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet" />
    <link href="~/lib/metismenu/css/metisMenu.min.css" rel="stylesheet" />

    <!-- Bootstrap CSS -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/skodash/css/bootstrap-extended.css" rel="stylesheet" />
    <link href="~/lib/skodash/css/style.css" rel="stylesheet" />
    <link href="~/lib/skodash/css/icons.css" rel="stylesheet" />
    <link href="~/lib/select2/select2.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet" />
    <!-- loader-->
    <link href="~/lib/skodash/css/pace.min.css" rel="stylesheet" />

    <link href="~/lib/limonte-sweetalert2/sweetalert2.min.css" rel="stylesheet" />
    <link href="~/lib/fontawesome/css/all.min.css" rel="stylesheet" />

    <link href="~/lib/select2/select2.min.css" rel="stylesheet" />

    <!--Theme Styles-->
    <link href="~/lib/skodash/css/semi-dark.css" rel="stylesheet" />
    <link href="~/lib/skodash/css/header-colors.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />

    <title>Siyasett - @ViewBag.Title</title>
</head>

<body>


    <!--start wrapper-->
    <div class="wrapper">
        <!--start top header-->
        <header class="top-header">
            <nav class="navbar navbar-expand">
                <div class="mobile-toggle-icon d-xl-none">
                    <i class="bi bi-list"></i>
                </div>
                <div class="top-navbar d-none d-xl-block">
                    <ul class="navbar-nav align-items-center">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Admin" asp-controller="Home" asp-action="Index">Yönetim Paneli</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Admin" asp-controller="PeopleManagement" asp-action="Index">KİŞİLER</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Admin" asp-controller="PartyManagement" asp-action="Index">PARTİLER</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Admin" asp-controller="ChronologyManagement" asp-action="Index">Kronoloji</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Admin" asp-controller="Polls" asp-action="Index">Anketler</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Admin" asp-controller="CompanyManagement" asp-action="Index">Şirketler</a>
                        </li>
                    </ul>
                </div>
                <div class="search-toggle-icon d-xl-none ms-auto">
                    <i class="bi bi-search"></i>
                </div>
                <form class="searchbar d-none d-xl-flex ms-auto">
                    <div class="position-absolute top-50 translate-middle-y search-icon ms-3"><i class="bi bi-search"></i></div>
                    <input class="form-control" type="text" placeholder="Kişi yada parti arayın">
                    <div class="position-absolute top-50 translate-middle-y d-block d-xl-none search-close-icon"><i class="bi bi-x-lg"></i></div>
                </form>
                <div class="top-navbar-right ms-3">
                    <ul class="navbar-nav align-items-center">
                        <li class="nav-item dropdown dropdown-large">
                            <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" href="#" data-bs-toggle="dropdown">
                                <div class="user-setting d-flex align-items-center gap-1">
                                    <img src="~/images/person/user2.png" class="user-img" alt="">
                                    <div class="user-name d-none d-sm-block">Administrator</div>
                                </div>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li>
                                    <a class="dropdown-item" href="#">
                                        <div class="d-flex align-items-center">
                                            <img src="~/images/person/user2.png" alt="" class="rounded-circle" width="60" height="60">
                                            <div class="ms-3">
                                                <h6 class="mb-0 dropdown-user-name">Yönetici</h6>
                                                <small class="mb-0 dropdown-user-designation text-secondary">Admin</small>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li><hr class="dropdown-divider"></li>
                                <li>
                                    <a class="dropdown-item" href="pages-user-profile.html">
                                        <div class="d-flex align-items-center">
                                            <div class="setting-icon"><i class="bi bi-person-fill"></i></div>
                                            <div class="setting-text ms-3"><span>Profil</span></div>
                                        </div>
                                    </a>
                                </li>

                                <li><hr class="dropdown-divider"></li>
                                <li>
                                    <a class="dropdown-item" asp-action="Logout" asp-controller="Home">
                                        <div class="d-flex align-items-center">
                                            <div class="setting-icon"><i class="bi bi-lock-fill"></i></div>
                                            <div class="setting-text ms-3"><span>Oturum Kapat</span></div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </li>


                    </ul>
                </div>
            </nav>
        </header>
        <!--end top header-->
        <!--start sidebar -->
        <aside class="sidebar-wrapper" data-simplebar="true">
            <div class="sidebar-header">
                <div>
                    <img src="~/images/logo_1.png" class="logo-icon" alt="logo icon">
                </div>
                <div>
                    <h4 class="logo-text">Siyasett</h4>
                </div>
                <div class="toggle-icon ms-auto">
                    <i class="bi bi-chevron-double-left"></i>
                </div>
            </div>
            <!--navigation-->
            <ul class="metismenu" id="menu">
                <li class="@Html.IsSelected("Home","Index","mm-active")">
                    <a asp-action="Index" asp-area="Admin" asp-controller="Home">
                        <div class="parent-icon">
                            <i class="bi bi-house-door"></i>
                        </div>
                        <div class="menu-title">Yönetim Paneli</div>
                    </a>
                </li>

                <li class="menu-label">VERİ GİRİŞLERİ</li>
                <li class="@Html.IsSelected(controller: "PeopleManagement",cssClass: "mm-active")">
                    <a asp-area="Admin" asp-controller="PeopleManagement" asp-action="Index">
                        <div class="parent-icon">
                            <i class="fa fa-users"></i>
                        </div>
                        <div class="menu-title">Kişiler</div>
                    </a>

                </li>
                <li class="@Html.IsSelected(controller: "PartyManagement",cssClass: "mm-active")">
                    <a asp-area="Admin" asp-controller="PartyManagement" asp-action="Index">
                        <div class="parent-icon">
                            <i class="fa fa-flag-alt"></i>
                        </div>
                        <div class="menu-title">Partiler</div>
                    </a>

                </li>
                <li class="@Html.IsSelected(controller: "ChronologyManagement",cssClass: "mm-active")">
                    <a asp-area="Admin" asp-controller="ChronologyManagement" asp-action="Index">
                        <div class="parent-icon">
                            <i class="fas fa-calendar-edit"></i>
                        </div>
                        <div class="menu-title">Kronoloji</div>
                    </a>

                </li>
                <li class="@Html.IsSelected(controller: "Polls",cssClass: "mm-active")">
                    <a asp-area="Admin" asp-controller="Polls" asp-action="Index">
                        <div class="parent-icon">
                            <i class="fas fa-poll"></i>
                        </div>
                        <div class="menu-title">Anketler</div>
                    </a>

                </li>
                 <li class="@Html.IsSelected(controller: "CompanyManagement",cssClass: "mm-active")">
                    <a asp-area="Admin" asp-controller="CompanyManagement" asp-action="Index">
                        <div class="parent-icon">
                            <i class="fas fa-building"></i>
                        </div>
                        <div class="menu-title">Şirketler</div>
                    </a>

                </li>
                <li class="menu-label">LİSTELER</li>

                <li class="@Html.IsSelected(controller: "ComboManagement",cssClass: "mm-active")">
                    <a href="javascript:;" class="has-arrow">
                        <div class="parent-icon">
                            <i class="fa fa-list"></i>
                        </div>
                        <div class="menu-title">Tablo Listeleri</div>
                    </a>
                    <ul class="@Html.IsSelected(controller: "ComboManagement",cssClass: "mm-show mm-collapse")">

                        <li class="@Html.IsSelected("ComboManagement","AddresTypes","mm-active")">
                            <a asp-area="Admin" asp-controller="ComboManagement" asp-action="AddresTypes">
                                <i class="fa fa-caret-right"></i>
                                Adres Tipleri
                            </a>
                        </li>


                        <li class="@Html.IsSelected("ComboManagement","AddresTypes","mm-active")">
                            <a asp-area="Admin" asp-controller="ComboManagement" asp-action="Categories">
                                <i class="fa fa-caret-right"></i>
                                Yazı/Kitap Kategorileri
                            </a>
                        </li>

                        <li class="@Html.IsSelected("ComboManagement","Regions","mm-active")">
                            <a asp-area="Admin" asp-controller="ComboManagement" asp-action="Regions">
                                <i class="fa fa-caret-right"></i>
                                Bölgeler
                            </a>
                        </li>
                        <li class="@Html.IsSelected("ComboManagement","Educations","mm-active")">
                            <a asp-area="Admin" asp-controller="ComboManagement" asp-action="Educations">
                                <i class="fa fa-caret-right"></i>
                                Eğitim Durumları
                            </a>
                        </li>
                        <li class="@Html.IsSelected("ComboManagement","Positions","mm-active")">

                            <a asp-area="Admin" asp-controller="ComboManagement" asp-action="Positions">
                                <i class="fa fa-caret-right"></i>
                                Görevler
                            </a>
                        </li>
                        <li class="@Html.IsSelected("ComboManagement","Institutions","mm-active")">

                            <a asp-area="Admin" asp-controller="ComboManagement" asp-action="Institutions">
                                <i class="fa fa-caret-right"></i>
                                Kurumlar
                            </a>
                        </li>
                        <li class="@Html.IsSelected("ComboManagement","Jobs","mm-active")">

                            <a asp-area="Admin" asp-controller="ComboManagement" asp-action="Jobs">
                                <i class="fa fa-caret-right"></i>
                                Meslekler
                            </a>
                        </li>

                        <li class="@Html.IsSelected("ComboManagement","Sectors","mm-active")">
                            <a asp-area="Admin" asp-controller="ComboManagement" asp-action="Sectors">
                                <i class="fa fa-caret-right"></i>
                                Sektörler
                            </a>
                        </li>
                        <li class="@Html.IsSelected("ComboManagement","Socials","mm-active")">
                            <a asp-area="Admin" asp-controller="ComboManagement" asp-action="Socials">
                                <i class="fa fa-caret-right"></i>
                                Sosyal Linkler
                            </a>
                        </li>
                        <li class="@Html.IsSelected("ComboManagement","PhoneTypes","mm-active")">
                            <a asp-area="Admin" asp-controller="ComboManagement" asp-action="PhoneTypes">
                                <i class="fa fa-caret-right"></i>
                                Telefon Türleri
                            </a>
                        </li>
                        <li class="@Html.IsSelected("ComboManagement","PollTypes","mm-active")">
                            <a asp-area="Admin" asp-controller="ComboManagement" asp-action="PollTypes">
                                <i class="fa fa-caret-right"></i>
                                Anket Türleri
                            </a>
                        </li>
                        <li class="@Html.IsSelected("ComboManagement","PollKinds","mm-active")">
                            <a asp-area="Admin" asp-controller="ComboManagement" asp-action="PollKinds">
                                <i class="fa fa-caret-right"></i>
                                Anket Tipleri
                            </a>
                        </li>
                    </ul>
                </li>

            </ul>
            <!--end navigation-->
        </aside>
        <!--end sidebar -->
        <!--start content-->
        <main class="page-content">
            @RenderBody()


        </main>
        <!--end page main-->
        <!--start overlay-->
        <div class="overlay nav-toggle-icon"></div>
        <!--end overlay-->
        <!--Start Back To Top Button-->
        <a href="javaScript:;" class="back-to-top"><i class='bx bxs-up-arrow-alt'></i></a>
        <!--End Back To Top Button-->
    </div>
    <!--end wrapper-->
    <!-- Bootstrap bundle JS -->

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!--plugins-->
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/simplebar/js/simplebar.min.js"></script>
    <script src="~/lib/metismenu/js/metisMenu.min.js"></script>
    <script src="~/lib/perfect-scrollbar/js/perfect-scrollbar.js"></script>
    <script src="~/lib/select2/js/select2.min.js"></script>

    <script src="~/lib/jquery.blockUI/jquery.blockUI.min.js"></script>
    <script src="~/lib/limonte-sweetalert2/sweetalert2.min.js"></script>
    <!--app-->
    <script src="~/lib/skodash/js/app.js"></script>


    @if (TempData.ContainsKey("Toastr"))
    {
        Toastr toastr = Newtonsoft.Json.JsonConvert.DeserializeObject<Toastr>(TempData["Toastr"].ToString());
        //   @ToastrBuilder.ShowToastMessages(toastr);

        if (toastr != null)
        {
            <script type="text/javascript">
                $(function() {

                @foreach (ToastMessage message in toastr.ToastMessages)
                {
                    @:Swal.fire({ position: 'top', icon: '@message.ToastType', title: '@Html.Raw( message.Title)', showConfirmButton: false, timer: 3500, text: '@Html.Raw( message.Message)' });
                }
                                });
            </script>

        }
        TempData.Remove("Toastr");

    }

    <script src="~/js/admin.scripts.js" asp-append-version="true"></script>


    @await RenderSectionAsync("scripts", false)

</body>

</html>