<!-- TOP MENU STRUCTURE-->

@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options

@inject IOptions<RequestLocalizationOptions> LocOptions

@{
    string returnUrl = ViewContext.HttpContext.Request.Path;

    var requestCulture = Context.Features.Get<IRequestCultureFeature>();

    var cultureItem = LocOptions.Value.SupportedUICultures.FirstOrDefault(i => i.Name != requestCulture.RequestCulture.Culture.Name);
    int i = 2;
    var siyasett = "@siyasett";
}

<!DOCTYPE html>
<html lang="@requestCulture">
<head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>
        Siyasett &#8211; @ViewBag.Title
    </title>
    <meta name="description" content="@ViewBag.Description" />
    <!-- Stylesheets -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/frontend2/css/style.css?v=20240131" rel="stylesheet" />
    <link href="~/lib/frontend2/css/responsive.css" rel="stylesheet" />
    <link href="~/lib/frontend2/css/color-themes/default-theme.css" rel="stylesheet" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link href="~/lib/fontawesome/css/all.min.css" rel="stylesheet" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>

<body>
    <div class="page-wrapper">

        <header class="main-header header-style-two">

            <!--Header Top-->

            <div class="header-top">
                <div class="container-md">
                    <div class="clearfix">
                        <!--Top Left-->
                        <div class="top-left clearfix">
                        </div>


                    </div>
                </div>
            </div>


            <!-- Header Upper -->
            <div class="header-upper">
                <div class="inner-container">
                    <div class="container clearfix">
                        <div class="nav-inner">
                            <div class="logo-outer">
                                <div class="logo"><a href="/"><img src="/images/siyasett.png" alt="Siyasett" title=""></a></div>
                            </div>
                            <div class="nav-outer clearfix">
                                <!-- Main Menu -->
                                <nav class="main-menu navbar-expand-md navbar-light">
                                    <div class="navbar-header">
                                        <!-- Togg le Button -->
                                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                        </button>
                                    </div>
                                    <div class="navbar-collapse clearfix collapse" id="navbarSupportedContent">
                                        <ul class="navigation clearfix">
                                            <li class="@Html.IsSelected(controller: "Parties", cssClass: "current")">
                                                <a href="/siyasi-partiler">@Localize("menu.header.parties")</a>
                                            </li>
                                            <li class="@Html.IsSelected(controller: "People", cssClass: "current")">
                                                <a href="/kim-kimdir">@Localize("menu.header.whoiswho")</a>
                                            </li>
                                            <li class="@Html.IsSelected(controller: "Elections", cssClass: "current")">
                                                <a href="/secimler">@Localize("menu.header.elections")</a>
                                            </li>
                                            <li class="@Html.IsSelected(controller: "Polls", cssClass: "current")">
                                                <a href="/anketler">@Localize("menu.header.polls")</a>
                                            </li>
                                            <li class="@Html.IsSelected(controller: "Simulations", cssClass: "current")">
                                                <a href="/simulasyonlar">@Localize("menu.header.simulations")</a>
                                            </li>
                                            <li class="dropdown @Html.IsSelected(controller: "Agenda", cssClass: "current")">
                                                <a href="/Actuals">@Localize("menu.header.actual")</a>
                                                <ul>
                                                    <li><a href="/columns" class="menu-link">@Localize("menu.header.news")</a></li>
                                                    <li><a href="/from-socials" class="menu-link">@Localize("menu.header.fromsocialmedia")</a></li>
                                                    <li><a href="/videos" class="menu-link">@Localize("menu.header.videolibrary")</a></li>
                                                    <li><a href="/Chronology" class="menu-link">@Localize("menu.header.chronology")</a></li>
                                                    <li><a href="/politicallibrary" class="menu-link">@Localize("menu.header.politicslibrary")</a></li>

                                                    <li><a href="/politics" class="menu-link">@Localize("menu.header.politicstable")</a></li>
                                                </ul>
                                            </li>

                                            <li class="dropdown @Html.IsSelected(controller: "Home", action: "About", cssClass: "current")">
                                                <a href="/hakkimizda">@Localize("menu.header.aboutus")</a>
                                                <ul>
                                                    <li><a href="/iletisim"><span class="text-wrap">@Localize("menu.header.contact")</span></a></li>
                                                    <li><a href="/hakkimizda" class="menu-link"><span class="text-wrap">@Localize("menu.header.aboutpolitics")</span></a></li>
                                                    @*<li><a href="/uyelik" class="menu-link"><span class="text-wrap">@Localize("menu.header.membership")</span></a></li>*@
                                                    <li><a href="#" class="menu-link"><span class="text-wrap">@Localize("menu.header.membership")</span></a></li>
                                                    <li><a href="/sss" class="menu-link"><span class="text-wrap">@Localize("menu.header.faq")</span></a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </nav>


                                <!-- Main Menu End-->

                                <div class="outer-box clearfix">
                                    <!-- Options Box -->
                                    <div class="option-box clearfix">


                                        <!--Info Box-->
                                        <div class="search-box-outer">

                                            @* <div class="icon-box"><span class="fa fa-user"></span></div>*@
                                            <ul>

                                                @if (User.Identity.IsAuthenticated)
                                                {

                                                    <li><a href="#">@Localize("menu.header.profile")</a></li>
                                                    @if (User.IsInRole("Admin"))
                                                    {
                                                        <li><a href="/Admin">@Localize("menu.header.administration")</a></li>
                                                    }
                                                    else
                                                    {
                                                        <li><a href="/Logout">@Localize("menu.header.logout")</a></li>

                                                    }
                                                }
                                                else
                                                {
                                                    <li><a href="/Login">@Localize("menu.header.login")</a></li>
                                                    <!-- <li><a href="/Register">@Localize("menu.header.signin")</a></li>-->
                                                }


                                                <form asp-action="ChangeLanguage" asp-controller="Home" method="post">
                                                    <input type="hidden" id="returnUrl" name="returnUrl" value="@returnUrl" />
                                                    <input type="hidden" id="culture" name="culture" value="@cultureItem.Name" />
                                                <li>
                                                    <a href="javascript:void(0)" onclick="$(this).closest('form').submit()">
                                                        @(requestCulture.RequestCulture.Culture.Name == "tr-TR" ? "ENGLISH" : "TÜRKÇE")
                                                    </a>
                                                </li>
                                                </form>

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!--End Header Upper-->
                <!--Sticky Header-->
                <div class="sticky-header">
                    <div class="container clearfix">
                        <!--Logo-->
                        <div class="logo pull-left">
                            <a href="/" class="img-responsive"><img src="/images/siyasett.png" alt="" title=""></a>
                        </div>
                        <!--Right Col-->
                        <div class="right-col pull-right">
                            <!-- Main Menu -->
                            <nav class="main-menu  navbar-expand-md">
                                <div class="navbar-header">
                                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation">
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>
                                <div class="navbar-collapse collapse clearfix" id="navbarSupportedContent1">
                                    <ul class="navigation clearfix">
                                        <li class="@Html.IsSelected(controller: "Parties", cssClass: "current")">
                                            <a href="/siyasi-partiler">@Localize("menu.header.parties")</a>
                                        </li>
                                        <li class="@Html.IsSelected(controller: "People", cssClass: "current")">
                                            <a href="/kim-kimdir">@Localize("menu.header.whoiswho")</a>
                                        </li>
                                        <li class="@Html.IsSelected(controller: "Elections", cssClass: "current")">
                                            <a href="/secimler">@Localize("menu.header.elections")</a>
                                        </li>
                                        <li class="@Html.IsSelected(controller: "Polls", cssClass: "current")">
                                            <a href="/anketler">@Localize("menu.header.polls")</a>
                                        </li>
                                        <li class="@Html.IsSelected(controller: "Simulations", cssClass: "current")">
                                            <a href="/simulasyonlar">@Localize("menu.header.simulations")</a>
                                        </li>

                                        <li class="dropdown @Html.IsSelected(controller: "Agenda", cssClass: "current")">
                                            <a href="/Actuals">@Localize("menu.header.actual")</a>
                                            <ul>
                                                <li><a href="/Actuals" class="menu-link">@Localize("menu.header.news")</a></li>
                                                <li><a href="/from-socials" class="menu-link">@Localize("menu.header.fromsocialmedia")</a></li>
                                                <li><a href="/videos" class="menu-link">@Localize("menu.header.videolibrary")</a></li>
                                                <li><a href="/Chronology" class="menu-link">@Localize("menu.header.chronology")</a></li>
                                                <li><a href="#" class="menu-link">@Localize("menu.header.politicslibrary")</a></li>
                                                <li><a href="/politics" class="menu-link">@Localize("menu.header.politicstable")</a></li>
                                            </ul>
                                        </li>

                                        <li class="dropdown @Html.IsSelected(controller: "Home", action: "About", cssClass: "current")">
                                            <a href="/hakkimizda">@Localize("menu.header.aboutus")</a>
                                            <ul>
                                                <li><a href="/iletisim"><span class="text-wrap">@Localize("menu.header.contact")</span></a></li>
                                                <li><a href="/hakkimizda" class="menu-link"><span class="text-wrap">@Localize("menu.header.aboutpolitics")</span></a></li>
                                                @*<li><a href="/uyelik" class="menu-link"><span class="text-wrap">@Localize("menu.header.membership")</span></a></li>
                                                    <li><a href="#" class="menu-link"><span class="text-wrap">@Localize("menu.header.membership")</span></a></li>*@
                                                <li><a href="/sss" class="menu-link"><span class="text-wrap">@Localize("menu.header.faq")</span></a></li>
                                            </ul>
                                        </li>

                                    </ul>
                                </div>
                            </nav><!-- Main Menu End-->
                        </div>
                    </div>
                </div>
                <!--End Sticky Header-->
        </header>
        @RenderSection("header", false)
        @RenderBody()


        <!-- Main Footer -->
        <footer class="main-footer style-two" style="max-height: 10%; background-image: url(/images/background/footer-bg-1.jpg);">
            <div class="container">
                <!--Widgets Section-->
                <div class="widgets-section">
                    <div class="row clearfix">

                        <div class="big-column col-xl-8 col-lg-12 col-md-12 col-sm-12">
                            <div class="row">
                                <!--Footer Column-->
                                <div class="footer-column col-lg-6 col-md-12 col-sm-12">
                                    <div class="footer-widget about-widget">
                                        <div class="footer-logo"><a href="/"><img src="/images/siyasett-2.png" alt=""></a></div>
                                        <div class="widget-content">
                                            <div class="text">
                                                @Localize("footer_text_1")
                                            </div>
                                            <p style="margin-top:10px"><strong>İzmir:</strong></p>
                                            <p style="margin-top:4px"><i class="far fa-map"></i> İtokent Caddesi, A Blok No: 16-11 İçmeler Mahallesi,  Urla - İzmir</p>
                                            <p style="margin-top:10px"><strong>Ankara:</strong></p>
                                            <p style="margin-top:4px"><i class="far fa-map"></i> Reşit Galip Caddesi No:28-11 Yüzüncü Yıl Mahallesi,   Çankaya - Ankara</p>
                                            <p style="margin-top:4px"><i class="fa fa-phone-volume"></i> <span>@Localize("text_phone"):</span> +90 537 359 7899 </p>


                                        </div>
                                    </div>
                                </div>
                                <!--Footer Column-->
                                <div class="footer-column col-lg-6 col-md-12 col-sm-12">
                                    <div class="footer-widget links-widget">
                                        <h2 class="widget-title" style="color:darkorange;font-size:16px">@Localize("text_footer_institutional")</h2>
                                        <div class="widget-content">
                                            <ul class="list">
                                                <li style="margin-bottom:8px"><a href="/hakkimizda">@Localize("menu.header.aboutus")</a></li>
                                                <li style="margin-bottom:8px"><a href="/iletisim">@Localize("menu.header.contact")</a></li>
                                                <li style="margin-bottom:8px"><a href="/sss">@Localize("menu.header.faq")</a></li>
                                                <li style="margin-bottom:8px"><a href="/TermsConAndSec">@Localize("text_terms_conditions_security")</a></li>
                                                <li style="margin-bottom:8px"><a href="/CookiePolicy">@Localize("text_cookie_policy")</a></li>
                                                <li style="margin-bottom:8px"><a href="/Kvkk">@Localize("text_kvkk")</a></li>
                                            </ul>
                                            <div>
                                                <a href="mailto:info@siyasett.com">info@siyasett.com</a>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="big-column col-xl-4 col-lg-12 col-md-12 col-sm-12">
                            <div class="row">
                                <!--Footer Column-->
                                <div class="footer-column col-lg-12 col-md-12 col-sm-12">
                                    <h2 class="widget-title" style="color:darkorange;font-size:16px;margin-bottom:10px">@Localize("text_social_media")</h2>
                                    <div class="row" style="width:40%">
                                        <div class="col-4"><a href="https://www.instagram.com/siyasett.06" target="_blank"><img src="~/images/instagram.png" style="height:32px;" /></a></div>
                                        <div class="col-4"><a href="https://twitter.com/siyasett06" target="_blank" style="height:32px;"><img src="~/images/twitter.png" /></a></div>
                                        <div class="col-4"><a href="https://www.youtube.com/@siyasett" target="_blank"><img src="~/images/youtube.png" style="height:32px;" /></a></div>
                                    </div>
                                </div>
                                <div class="footer-column col-lg-12 col-md-12 col-sm-12 mt-3">
                                    <div class="footer-widget recent-posts">
                                        <h2 class="widget-title" style="color:darkorange;font-size:16px">@Localize("text_recently")</h2>
                                        <!--Footer Column-->
                                        <div class="widget-content recent-carousal">

                                            @await Component.InvokeAsync("Historical")

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


    <!--Footer Bottom-->
            <div class="footer-bottom" style="text-align:center">
                <div class="container">
                    <div class="inner-container clearfix">
                        <div class="copyright-text" style="font-size: 16px; color: #FFFFFF; text-align: center;"> Copyright &copy; @DateTime.Now.Year <a href="#">Siyasett</a> @Localize("text_allrightreserved")</div>
                        <div class="social-links">
                            <ul class="social-icon-two">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <!-- End Main Footer -->
    <div class="scroll-to-top scroll-to-target" data-target="html"><span class="fas fa-angle-double-up"></span></div>

    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/frontend2/js/jquery.fancybox.js"></script>
    <script src="~/lib/frontend2/js/owl.js"></script>
    <script src="~/lib/frontend2/js/wow.js"></script>
    <script src="~/lib/frontend2/js/appear.js"></script>
    <script src="~/lib/frontend2/js/isotope.js"></script>

    <script src="~/lib/jqueryui/jquery-ui.min.js"></script>
    <script src="~/lib/frontend2/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/lib/frontend2/js/mixitup.js"></script>
    <script src="~/lib/frontend2/js/script.js"></script>
    <link href="~/lib/limonte-sweetalert2/sweetalert2.min.css" rel="stylesheet" />
    <script src="~/lib/limonte-sweetalert2/sweetalert2.min.js"></script>
    <script src="~/lib/jquery.blockUI/jquery.blockUI.min.js"></script>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-34K7LHGZJ5"></script>
    <script>window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-34K7LHGZJ5');</script>

    @RenderSection("scripts", false)
</body>
</html>