@using Siyasett.Core.Colums;
@model YynKoseYazilari
@{
    Person yazar = ViewBag.Yazar;

    ViewData["Title"] = "Siyaset Yazıları";
    Company company = ViewBag.Sirket;
    int prev = ViewBag.Onceki;
    int after = ViewBag.Sonraki;

    List<YynKoseYazilariKategorileri> yazikategori = ViewBag.YaziKategori;
    string kategoriler = ViewBag.Kategoriler;
    List<ColumsModel> yazardigeryazi = ViewBag.DigerYazilari;
}

<!-- style="background-image:url(/images/background/page-banner.jpg);" -->
<section class="page-title" style="padding: 0 0 0">
    <div class="container">
        <div class="inner-container clearfix">
            <!--
                <div class="title-box">
                  <h1>@ViewData["Title"]</h1>
                </div>
            -->
            <div class="bread-crumb">

                <ul>
                    <li><a href="/"><i class="fa fa-home"></i></a></li>

                    <li>@ViewData["Title"]</li>



                </ul>

            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="blog-detail mt-4">
        <div class="row">
            <div class="col-md-12 col-lg-10">
                <div class="news-block">


                    <div>

                        <div class="caption-box" style="border:none;">
                            <div class="d-flex">
                                <div class="flex-shrink-0">
                                <img src="@Helpers.GetPersonPhoto(yazar.Photo)" style="max-height:84px;" class="rounded-circle">
                                </div>
                                <div class="flex-grow-1 ms-3">
                                    @if (Model.DilId == 1)
                                    {
                                        <div id="metinheader">
                                            <h3>@Model.Baslik</h3>
                                        </div>
                                        <div id="metinheaderen" style="display:none">
                                            <h3>@Model.BaslikEn</h3>
                                        </div>
                                    }
                                    else if (Model.DilId == 2)
                                    {
                                        <div id="metinheader" style="display:none">
                                            <h3>@Model.Baslik</h3>
                                        </div>
                                        <div id="metinheaderen">
                                            <h3>@Model.BaslikEn</h3>
                                        </div>
                                    }
                                    <ul class="post-meta">

                                        <li><i class="fas fa-user"></i>@yazar.FirstName @yazar.LastName</li>
                                        <li><i class="fas fa-newspaper"></i>@company.Name</li>
                                        <li><i class="far fa-calendar-check"></i>@Model.Tarih.ToLongDateString()</li>

                                        <li><i class="fa fa-tags"></i>@Model.Keywords </li>

                                        @kategoriler

                                        </li>
                                    </ul>
                                </div>
                            </div>


                        </div>

                        @if (Model.DilId == 1)
                        {
                            <div id="metintr">
                                @Html.Raw(Model.Metin)
                            </div>
                            <div id="metinen" style="display:none">
                                @Html.Raw(Model.MetinEn)
                            </div>
                        }
                        else if (Model.DilId == 2)
                        {
                            <div id="metintr" style="display:none">
                                @Html.Raw(Model.Metin)
                            </div>
                            <div id="metinen">
                                @Html.Raw(Model.MetinEn)
                            </div>
                        }

                    </div>

                    @if (Model.DilId == 1)
                    {
                        <div class="text-center mt-3 clearfix alert alert-secondary" style="margin-top:6rem!important" id="orjmetintr">
                            <a href="@Model.Url" target="_blank" style="font-size:20px">Yazının tamamı/orijinal bağlantısı için tıklayınız.</a>
                        </div>
                        <div class="text-center mt-3 clearfix alert alert-secondary" style="margin-top:6rem!important;display:none" id="orjmetinen">
                            <p>Translations into Turkish and English are made with Google Translate. Some expressions may not reflect the original text.</p>
                        </div>
                    }
                    else if (Model.DilId == 2)
                    {
                        <div id="orjmetinen">

                        </div>
                        <div class="text-center mt-3 clearfix alert alert-secondary" style="margin-top:6rem!important;display:none" id="orjmetintr">
                            <p>Türkçe ve İngilizce’ye çeviriler Google Translate ile yapılmaktadır. Bazı ifadeler orijinal metni yansıtmıyor olabilir.</p>
                        </div>
                    }




                </div>
            </div>
            <div class="col-md-12 col-lg-2">
                <div class="row" style="margin-top:40px">
                    <div class="col">
                        @if (prev != 0)
                        {
                            <a href="@Url.Action("columns-detail" , new { id=prev })"><i class="fas fa-arrow-left"></i> Önceki</a>
                        }
                        else if (prev != 0 && after == 0)
                        {
                            <a href="@Url.Action("columns-detail" , new { id=prev })" style="text-align:left"><i class="fas fa-arrow-left"></i> Önceki</a>
                        }
                    </div>
                    <div class="col text-end">
                        @if (after != 0)
                        {
                            <a href="@Url.Action("columns-detail" , new { id=after })">
                                Sonraki <i class="fas fa-arrow-right"></i>
                            </a>
                        }
                        else if (after != 0 && prev == 0)
                        {
                            <a href="@Url.Action("columns-detail" , new { id=after })" style="text-align:right">Sonraki <i class="fas fa-arrow-right"></i></a>
                        }
                    </div>

                </div>
                <div style="margin-top:30px;text-align:center">
                    @{
                        var metin = Model.DilId == 1 ? "Translate" : "Türkçeye Çevir";
                        if (Model.DilId == 1 && string.IsNullOrEmpty(Model.MetinEn) == false)
                        {
                            <button type="button" class="btn btn-outline-warning" onclick="metinCevir(1)" id="ceviribtn">@metin</button>
                        }
                        else if (Model.DilId == 2 && string.IsNullOrEmpty(Model.Metin) == false)
                        {
                            <button type="button" class="btn btn-outline-warning" onclick="metinCevir(2)" id="ceviribtn">@metin</button>
                        }
                    }

                </div>
                @if (yazardigeryazi.Count() != 0)
                {
                    <div style="margin-top:25px;">
                        <div style="color:black;text-align:center;margin-bottom:15px"><strong><i>Diğer Yazıları</i></strong></div>
                        @{
                            var count = yazardigeryazi.Count();
                            if (count > 5)
                                count = 5;

                            <div class="pointer">
                                @for (int i = 0; i < count; i++)
                                {
                                    <a href="@Url.Action("columns-detail" , new { id=yazardigeryazi[i].Id })">
                                        <div>
                                            @if (yazardigeryazi[i].DilId == 1 && string.IsNullOrEmpty(yazardigeryazi[i].Context) == false)
                                            {
                                                <label style="color:black" id="yanheader"><b>@yazardigeryazi[i].Header</b></label>
                                                <label style="color:black;display:none" id="yanheaderen"><b>@yazardigeryazi[i].HeaderEn</b></label>
                                            }
                                            else if (yazardigeryazi[i].DilId == 2 && string.IsNullOrEmpty(yazardigeryazi[i].ContextEn) == false)
                                            {
                                                <label style="color:black;display:none" id="yanheader"><b>@yazardigeryazi[i].Header</b></label>
                                                <label style="color:black" id="yanheaderen"><b>@yazardigeryazi[i].HeaderEn</b></label>
                                            }
                                            <div>
                                            <label style="color:black">@yazardigeryazi[i].Date.ToString("dd/MM/yyyy") </label>
                                            </div>
                                            </div>
                                            <div class="sec-title centered"><div class="separater"></div></div>
</a>
                                }
                            </div>
                        }
                        <div style="color:black;text-align:center"><strong><i><a href="@Url.Action("columns" , new { personId=Model.YazarId })">Tüm Yazıları</a></i></strong></div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(function () {
            var l = $('#metintr p').length;
            if (l > 1)
                $('#metintr p');
@*              $('#metintr p:gt(' + Math.floor((l - 1) / 2) + ')').remove();*@
            else
                $('#metintr').css('max-height', '800px');

        });

        function metinCevir(el) {

            if (el == 1) {
                $('#metintr').hide();
                $('#metinen').show();
                $('#metinheader').hide();
                $('#metinheaderen').show();
                $('#yanheader').hide();
                $('#yanheaderen').show();
                $('#orjmetintr').hide();
                $('#orjmetinen').show();
                $("#ceviribtn").text('Türkçe');
                $("#ceviribtn").attr("onclick", "metinCevir(2)");
            } else if (el == 2) {
                $('#metinen').hide();
                $('#metintr').show();
                $('#metinheaderen').hide();
                $('#metinheader').show();
                $('#yanheaderen').hide();
                $('#yanheader').show();
                $('#orjmetintr').show();
                $('#orjmetinen').hide();
                $("#ceviribtn").text('English');
                $("#ceviribtn").attr("onclick", "metinCevir(1)");
            }
        }
    </script>
}