@using Siyasett.Core.FeedBack
@model List<FeedBackModel>
@{
    PagerInfo pager = ViewBag.Pager;
    ViewData["Title"] = "Geri Bildirim Yönetimi";
    FeedBackSearchModel searchModel = ViewBag.SearchModel;
    string queryback = ViewBag.Query;
}



<div class="card">
    <div class="card-body">
        <div class="mb-3">
            <label>Geri bildirim arama (Tüm başlıklarda arama yapar.)</label>
            <form method="get" id="searchform-633c74452c5bd" action="">
                <div class="input-group">
                    <input type="text" class="form-control" name="query" id="txtQuery" value="@queryback" />
                    <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> Ara</button>
                </div>
            </form>
        </div>

    </div>

</div>



<div class="card">
    <div class="card-body">
        <form method="get" id="frmfilter">
        <input type="hidden" name="sort" id="txtSort" />
        <input type="hidden" name="desc" id="txtSortDesc" />
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th data-sort-index="0" class="sortable @(searchModel.OrderBy==0 && searchModel.OrderByDesc==0 ?"asc":searchModel.OrderBy==0 && searchModel.OrderByDesc==1?"desc" :"" )">Bildirim Tarihi</th>
                        <th data-sort-index="1" class="sortable @(searchModel.OrderBy==1 && searchModel.OrderByDesc==0 ?"asc":searchModel.OrderBy==1 && searchModel.OrderByDesc==1?"desc" :"" )">Adı</th>
                        <th data-sort-index="2" class="sortable @(searchModel.OrderBy==2 && searchModel.OrderByDesc==0 ?"asc":searchModel.OrderBy==2 && searchModel.OrderByDesc==1?"desc" :"" )">Soyadı</th>
                        <th data-sort-index="3" class="sortable @(searchModel.OrderBy==3 && searchModel.OrderByDesc==0 ?"asc":searchModel.OrderBy==3 && searchModel.OrderByDesc==1?"desc" :"" )">Konu</th>
                        <th data-sort-index="4" class="sortable @(searchModel.OrderBy==4 && searchModel.OrderByDesc==0 ?"asc":searchModel.OrderBy==4 && searchModel.OrderByDesc==1?"desc" :"" )">Bildirim</th>
                        <th data-sort-index="5" class="sortable @(searchModel.OrderBy==5 && searchModel.OrderByDesc==0 ?"asc":searchModel.OrderBy==5 && searchModel.OrderByDesc==1?"desc" :"" )">Cevap</th>
                        <th data-sort-index="6" class="sortable @(searchModel.OrderBy==6 && searchModel.OrderByDesc==0 ?"asc":searchModel.OrderBy==6 && searchModel.OrderByDesc==1?"desc" :"" )">Cevap Tarihi</th>
                        <th>...</th>
                        <th>...</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr data-id="@item.Id">
                            <td style="width:10%" data-id="1">@item.SendTime.ToString()</td>
                            <td style="width:6%" data-id="2">@item.Name</td>
                            <td style="width:6%" data-id="3">@item.LastName</td>
                            <td style="width:11%" data-id="4">@item.Topic</td>
                            <td style="width:28%" data-id="5">@item.Text</td>
                            <td style="width:28%" data-id="6">@item.Answer</td>
                            <td style="width:10%" data-id="7">@item.AnswerTime.ToString()</td>
                            <td style="width:6%" data-id="8"><button class="btn btn-primary" onclick="modalShow(@item.Id)">Detaylar</button></td>
                            <td style="width:3%" data-id="12"><button type="button" class="btn btn-warning" onclick="deleteItem(@item.Id)">Sil</button></td>
                            <td style="display:none" data-id="9">@item.Email</td>
                            <td style="display:none" data-id="10">@item.PageUrl</td>
                            <td style="display:none" data-id="11">@item.Title</td>


                        </tr>
                    }
                </tbody>
            </table>
        </div>
        </form>
    </div>
</div>


@section scripts {

    <div id="modalAdd" class="modal modal-lg" tabindex="-1">
        <div class="modal-dialog" style="width:70%">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"> @ViewData["Title"]</h5>
                    <button type="button" class="btn-close btn-close-black" data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    <div class="mb-3 row">
                        <label class="col-md-4">Adı</label>
                        <div class="col-md-8">
                            <input type="text" placeholder="Adı" id="txtName" class="form-control" maxlength="100" disabled />
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-md-4">Soyadı</label>
                        <div class="col-md-8">
                            <input type="text" placeholder="Soyadı" id="txtLastname" class="form-control" maxlength="100" disabled />
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-md-4">Email</label>
                        <div class="col-md-8">
                            <input type="text" placeholder="Email" id="txtemail" class="form-control" maxlength="100" disabled />
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-md-4">Sayfa Adresi</label>
                        <div class="col-md-8">
                            <a href="" id="txtadress" target="_blank"></a>
                            @*<input type="text" id="txtadress" class="form-control" maxlength="100" />*@
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-md-4">Tarih</label>
                        <div class="col-md-8">
                            <input type="text" id="txtMessageDate" class="form-control" maxlength="100" disabled />
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-md-4">Başlık</label>
                        <div class="col-md-8">
                            <input type="text" id="txtTitle" class="form-control" maxlength="100" disabled />
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-md-4">Konusu</label>
                        <div class="col-md-8">
                            <input type="text" placeholder="Konu" id="txtTopic" class="form-control" maxlength="100" disabled />
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-md-4">İleti</label>
                        <div class="col-md-8">
                            <textarea type="text" id="txtMessage" class="form-control" style="height: 125px;"></textarea>
                        </div>
                    </div>
                    <div class="mb-3 row" id="answerDateRow">
                        <label class="col-md-4">Cevap Tarihi</label>
                        <div class="col-md-8">
                            <input type="text" id="txtAnswerdate" class="form-control" />
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-md-4">Cevap</label>
                        <div class="col-md-8">
                            <textarea type="text" id="txtAnswer" class="form-control" style="height: 125px;"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                        <button type="button" id="answerButton" onclick="addanswer()" class="btn btn-primary" value=""><i class="fa fa-save"></i> Kaydet</button>
                    </div>
                </div>
            </div>
        </div>

        <script>
            function modalShow(id) {
                var el = $('tr[data-id=' + id + ']');
                $('#txtName').val($(el).find('td[data-id=2]').html());
                $('#txtLastname').val($(el).find('td[data-id=3]').html());
                $('#txtemail').val($(el).find('td[data-id=9]').html());
                $('#txtadress').attr('href', $(el).find('td[data-id=10]').html());
                $('#txtadress').html($(el).find('td[data-id=10]').html());
                $('#txtMessageDate').val($(el).find('td[data-id=1]').html());
                $('#txtTitle').val($(el).find('td[data-id=11]').html());
                $('#txtTopic').val($(el).find('td[data-id=4]').html());
                $('#txtMessage').val($(el).find('td[data-id=5]').html());
                if ($(el).find('td[data-id=7]').html().lengt > 0) {
                    $('#txtAnswerdate').val($(el).find('td[data-id=7]').html());
                }
                else {
                    $('#answerDateRow').hide();
                }
                $('#txtAnswer').val($(el).find('td[data-id=6]').html());
                $('#answerButton').val(id);
                $('#modalAdd').modal('show');
            }

            function addanswer() {

                var feedback = {
                    Answer: $('#txtAnswer').val(),
                    Id: $('#answerButton').val(),
                }
                var el = $('tr[data-id=' + $('#answerButton').val() + ']');
                $.post('/parties/SaveFeedbackEdit', { obj: feedback }).done((response) => {
                    $('#modalAdd').modal('hide');
                    $(el).find('td[data-id=6]').html(feedback.Answer);

                    const today = new Date();
                    const yyyy = today.getFullYear();
                    let mm = today.getMonth() + 1; // Months start at 0!
                    let dd = today.getDate();

                    if (dd < 10) dd = '0' + dd;
                    if (mm < 10) mm = '0' + mm;

                    const formattedToday = dd + '.' + mm + '.' + yyyy;

                    $(el).find('td[data-id=7]').html(formattedToday)
                    Swal.fire("Geri Bildirim Düzenle", "Kayıt Güncellendi", "success");
                });
            }


            function deleteItem(id) {
                Swal.fire({
                    title: "Kayıt Sil",
                    text: "Bu kaydı silmek istediğinize emin misiniz?",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonClass: "btn-danger",
                    confirmButtonText: "Evet",
                    closeOnConfirm: false
                }).then((result) => {

                    if (result.isConfirmed) {
                        $.post('@Url.Action("DeleteFeedBack")', { id: id, })
                            .done(function (response) {
                                if (response.success) {
                                    $('tr[data-id=' + id + ']').remove();
                                    Swal.fire("Silindi!", "Seçilen kayıt başarıyla silindi.", "success");
                                }
                                else
                                    Swal.fire("Sil!", response.msg, "error");

                            });
                    }
                });
            }


            var $sortable = $('.sortable');

            $sortable.on('click', function () {
                console.log("deneme");
                var $this = $(this);
                var asc = $this.hasClass('asc');
                var desc = $this.hasClass('desc');
                $sortable.removeClass('asc').removeClass('desc');
                if (desc || (!asc && !desc)) {
                    $this.addClass('asc');
                    $('#txtSortDesc').val(0);
                } else {
                    $this.addClass('desc');
                    $('#txtSortDesc').val(1);

                }

                $('#txtSort').val($this.attr("data-sort-index"));
                $('#frmfilter').submit();
            });

        </script>
}


