@model List<PeoplePositionModel>


<table class="table table-striped mt-3">
    <tr>
        <th>Kurum türü</th>
        <th>Kurum/Parti</th>
        <th>Görev</th>
        <th>Başlama</th>
        <th>Bitiş</th>
        <th>...</th>
    </tr>
    <tbody id="tbAddresses">
        @foreach (var item in Model)
        {
            <tr id="tr_position_@item.Id">
                <td>@item.InstitutionTypeName </td>
                <td>
                    @(item.InstitutionTypeId>1?item.PartyName:item.InstitutionName)

                    @if (!string.IsNullOrEmpty(item.ProvinceName))
                    {
                        <span class="ms-3">@item.ProvinceName</span>
                    }
                    @if (!string.IsNullOrEmpty(item.DistrictName))
                    {
                        <span> / @item.DistrictName</span>
                    }

                </td>
                <td>
                    @item.PositionName
                    @if(!string.IsNullOrEmpty( item.SectorName))
                {
                    <span>(@item.SectorName)</span>
                }

                </td>
            <td>
                @(item.StartDay.HasValue?item.StartDay.Value.ToString("00")+".":"")@(item.StartMonth.HasValue?item.StartMonth.Value.ToString("00")+".":"")@item.StartYear
            </td>
            <td>
                @(item.EndDay.HasValue?item.EndDay.Value.ToString("00")+".":"")@(item.EndMonth.HasValue?item.EndMonth.Value.ToString("00")+".":"")@item.EndYear
            </td>

            <td>
                <div class="btn-group btn-group-sm">
                    <button onclick="editPosition_click(@item.Id)" class="btn btn-sm btn-outline-secondary"><i class="fa fa-edit"></i></button>
                    <button onclick="deletePosition_click(@item.Id)" class="btn btn-sm btn-outline-danger"><i class="fa fa-trash"></i></button>

                </div>
            </td>
        </tr>
    }

        @if (Model.Count == 0)
        {
            <tr><td colspan="7"><div class="text-center">Kayıtlı görev bulunmuyor.</div></td></tr>
        }
    </tbody>
</table>


