@model List<AttachmentModel>


<table class="table table-striped mt-3">
    <tr>
        <th>Adı</th>
        <th>Dosya adı</th>
        <th>Yükleme tarihi</th>
        <th>İçerik türü</th>
        <th>Boyut</th>

        <th>...</th>
    </tr>
    <tbody id="tbAddresses">
        @foreach (var item in Model)
        {
            <tr id="tr_address_@item.Id">
                <td>@item.NameTr </td>
                <td>@item.OriginalFileName</td>
                <td>@item.CreatedDate.ToLongDateString()</td>
                <td>@item.ContentType</td>
                <td>@((item.FileSize/1000.0).ToString("#,##0")) KB</td>
                
                <td>
                    <div class="btn-group btn-group-sm">
                        <a target="_blank" href="/attachments/@item.FileName" download="@item.OriginalFileName" class="btn btn-sm btn-outline-secondary"><i class="fa fa-eye"></i> Görüntüle</a>
                        <button onclick="deleteAttachment_click(@item.AttachmentId)" class="btn btn-sm btn-outline-danger"><i class="fa fa-trash"></i> Sil</button>

                    </div>
                </td>
            </tr>
        }

        @if (Model.Count == 0)
            {
                <tr>
                    <td colspan="6">
                        <div class="m-2 text-center alert alert-info opacity-50">
                            Yüklenmiş herhangi bir dosya bulunmuyor.
                        </div>
                    </td>
                </tr>
            }
    </tbody>
</table>


