@using Siyasett.Core.Party
@using System.Globalization
@model List<PartyListModel>
@{
    PagerInfo pager = ViewBag.Pager;
    PartySearchModel searchModel = ViewBag.SearchModel;
    ViewData["Title"] = "Partiler";
}

<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                @*<ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Home" asp-action="Index"><i class="fa fa-home"></i></a></li>
                        <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="ChronologyManagement" asp-action="Index">Kronoloji</a></li>

                        <li class="breadcrumb-item active">@ViewData["Title"]</li>
                    </ol>*@

                <a class="btn btn-success" asp-action="New"><i class="fa fa-plus-circle"></i> Yeni Parti</a>

            </div>
            <h4 class="page-title">@ViewData["Title"]</h4>
        </div>
    </div>
</div>




<div class="card">

    <div class="card-body">
        <form method="get" id="frmFilters">
            <input type="hidden" name="sort" id="txtSort" />
            <input type="hidden" name="desc" id="txtSortDesc" />
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr >
                            <th style="width:300px;" data-sort-index="0" class="sortable @(searchModel.OrderBy==0 && searchModel.OrderByDesc==0 ?"asc":searchModel.OrderBy==0 && searchModel.OrderByDesc==1?"desc" :"" )">Parti Adı</th>
                            <th style="width:100px;" data-sort-index="1" class="sortable @(searchModel.OrderBy==1 && searchModel.OrderByDesc==0 ?"asc":searchModel.OrderBy==1 && searchModel.OrderByDesc==1?"desc" :"" )">Kısa Adı</th>
                            <th style="width:200px;" data-sort-index="2" class="sortable @(searchModel.OrderBy==2 && searchModel.OrderByDesc==0 ?"asc":searchModel.OrderBy==2 && searchModel.OrderByDesc==1?"desc" :"" )">Genel Başkanı</th>
                            <th style="width:100px;" data-sort-index="3" class="sortable @(searchModel.OrderBy==3 && searchModel.OrderByDesc==0 ?"asc":searchModel.OrderBy==3 && searchModel.OrderByDesc==1?"desc" :"" )">Kuruluş</th>
                            <th style="width:80px;"  data-sort-index="4" class="sortable @(searchModel.OrderBy==4 && searchModel.OrderByDesc==0 ?"asc":searchModel.OrderBy==4 && searchModel.OrderByDesc==1?"desc" :"" )">Milletvekili</th>
                            <th style="width:90px;"  data-sort-index="5" class="sortable @(searchModel.OrderBy==5 && searchModel.OrderByDesc==0 ?"asc":searchModel.OrderBy==5 && searchModel.OrderByDesc==1?"desc" :"" )">Üye Sayısı</th>
                            <th style="width:130px;" data-sort-index="6" class="sortable @(searchModel.OrderBy==7 && searchModel.OrderByDesc==0 ?"asc":searchModel.OrderBy==7 && searchModel.OrderByDesc==1?"desc" :"" )">Aktif mi?</th>
                            <th style="width:200px;" data-sort-index="7" class="sortable @(searchModel.OrderBy==8 && searchModel.OrderByDesc==0 ?"asc":searchModel.OrderBy==8 && searchModel.OrderByDesc==1?"desc" :"" )">Seçime katılım?</th>
                        </tr>
                        <tr>
                            <td><input type="text" class="form-control" name="name" value="@searchModel.PartyName" id="txtName" /></td>
                            <td><input type="text" class="form-control" name="shortname" value="@searchModel.PartyShortName" id="txtShortName" /></td>
                            <td><input type="text" class="form-control" name="leaderName" value="@searchModel.PartyLeader" id="txtLeader" /></td>
                            <td><input type="text" class="form-control" name="dof" value="@searchModel.PartyDof" id="txtDof" /></td>
                            <td><input type="text" class="form-control" name="parliamentery" value="@searchModel.PartyParliamentery" id="txtParliamentery" disabled /></td>
                            <td><input type="text" class="form-control" name="member" value="@searchModel.PartyMember" id="txtMember" disabled /></td>
                            <td>
                                <select class="form-select" name="active" id="ddlActive">
                                    <option selected="@(searchModel.Active==0)" value="0">Tümü</option>
                                    <option selected="@(searchModel.Active==1)" value="1">Aktif</option>
                                    <option selected="@(searchModel.Active==2)" value="2">Kapalı</option>
                                </select>
                            </td>
                            <td>
                                <select class="form-select" name="enjoyable" id="ddlEnjoy">
                                    <option selected="@(searchModel.Enjoyable==0)" value="0">Tümü</option>
                                    <option selected="@(searchModel.Enjoyable==1)" value="1">Katılabilir</option>
                                    <option selected="@(searchModel.Enjoyable==2)" value="2">Katılamaz</option>
                                </select>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td><a asp-action="Edit" asp-route-id="@item.Id">@item.PartyName</a></td>
                                <td><a asp-action="Edit" asp-route-id="@item.Id">@item.PartyNameShort</a></td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.Id">
                                        @if (item.LeaderPeopleId.HasValue)
                                        {
                                            <a asp-action="Edit" asp-controller="PeopleManagement" asp-route-id="@item.LeaderPeopleId" asp-area="Admin">@item.LeaderName</a>
                                        }
                                        else
                                        {
                                            <span class="fst-italic"></span>
                                        }

                                    </a>
                                </td>
                                <td>

                                    @item.Dof
                                </td>
                                <td class="text-end">
                                    @item.Parliamenteries
                                </td>
                                <td class="text-end" id="partyMemberCount">@item.MemberCount</td>
                                @*<td>@item.WebSite</td>*@
                                <td class="text-center">
                                    @if (item.Active)
                                    {
                                        <span class="text-success fa fa-check-circle"></span>
                                    }
                                    else
                                    {
                                        <span class="text-danger fa fa-times-circle"></span>

                                    }
                                </td>
                                <td class="text-center">
                                    @if (item.ParticipateElection)
                                    {
                                        <span class="text-success fa fa-check-circle"></span>
                                    }
                                    else
                                    {
                                        <span class="text-danger fa fa-times-circle"></span>

                                    }
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </form>
        @await Html.PartialAsync("_pager", pager)
    </div>
</div>

@section scripts{

    <script>
        $(document).ready(function () {
            $('tbody td[id=partyMemberCount]').each(function (i, al) {
                $(al).text($(al).text().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
            });

        });

        var $sortable = $('.sortable');

        $sortable.on('click', function () {

            var $this = $(this);
            var asc = $this.hasClass('asc');
            var desc = $this.hasClass('desc');
            $sortable.removeClass('asc').removeClass('desc');
            if (desc || (!asc && !desc)) {
                $this.addClass('asc');
                $('#txtSortDesc').val(0);
            } else {
                $this.addClass('desc');
                $('#txtSortDesc').val(1);

            }

            $('#txtSort').val($this.attr("data-sort-index"));
            $('#frmFilters').submit();
        });

        @*$("#txtName,#txtShortName,#txtLeader,#txtDof,#txtParliamentery,#txtMember,#txtWebsite").keydown(function (e) {
            if (e.keyCode == 13) {
                $('#frmFilters').submit();
            }
        });*@

        $('#ddlActive,#ddlEnjoy').on('change', function () {
            $('#frmFilters').submit();
        });

    </script>

}