@model PersonCreateModel
@{
    ViewData["Title"] = "Kişi Düzenle";
    List<Gender> genders = ViewBag.Genders;
    List<InstitutionType> institutionTypes = ViewBag.InstitutionTypes;
    List<Position> positions = ViewBag.Positions;
    List<PositionField> positionFields = ViewBag.PositionFields;
    List<Education> educations = ViewBag.Educations;
    List<AddressType> addressTypes = ViewBag.AddressTypes;
    List<PhoneType> phoneTypes = ViewBag.PhoneTypes;
    List<CommunicationType> communicationTypes = ViewBag.CommunicationTypes;

    List<SocialType> socialTypes = ViewBag.SocialTypes;

    List<AddressModel> addresses = ViewBag.Addresses;
    List<Job> jobs = ViewBag.Jobs;
    List<Country> countries = ViewBag.Countries;
    List<Province> provinces = ViewBag.Provinces;
    List<Siyasett.Core.Phones.PhoneModel> phones = ViewBag.Phones;
    List<EmailModel> emails = ViewBag.Emails;
    List<SocialMediaModel> socialmedias = ViewBag.SocialAdress;
    List<PartyListModel> parties = ViewBag.Parties;

    List<PeoplePositionModel> peoplePositions = ViewBag.PeoplePositions;
    List<Sector> sectors = ViewBag.Sectors;
    BaseModel? prev = ViewBag.Prev;
    BaseModel? next = ViewBag.Next;
}
<div style="display:none" id="modelIdDiv" data-val="@Model.Id"></div>

<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                @*<ol class="breadcrumb m-0">
                <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Home" asp-action="Index"><i class="fa fa-home"></i></a></li>
                <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="ChronologyManagement" asp-action="Index">Kronoloji</a></li>

                <li class="breadcrumb-item active">@ViewData["Title"]</li>
                </ol>*@

                @if (prev != null)
                {
                    <a asp-action="Edit" asp-controller="PeopleManagement" asp-route-id="@prev.Id" asp-area="Admin">@prev.Name <i class="fa fa-arrow-from-right"></i></a>
                }
                @if (next != null)
                {
                    <a asp-action="Edit" asp-controller="PeopleManagement" asp-route-id="@next.Id" asp-area="Admin"><i class="fa fa-arrow-from-left ms-3"></i> @next.Name</a>
                }

            </div>
            <h4 class="page-title">@ViewData["Title"]</h4>
        </div>
    </div>
</div>



<div class="row mb-4">
    <div class="col-md-12 col-lg-3">



        <div class="card border shadow-sm ">
            <div class="card-body">

                <div class="text-center">
                    <label>Fotoğraf</label>
                </div>

                <div class="text-center">
                    <img class="img-thumbnail" id="Photo" src="~/images/person/@(string.IsNullOrEmpty(Model.Photo) ? "user2.png" : Model.Photo)" style="max-width:240px;" />
                    <div class="text-center">
                        <input type="text" readonly class="form-control-plaintext text-center" id="txtPersonName" value="@Model.FirstName @Model.LastName" />
                    </div>

                    <div class="mt-3">

                        <button onclick="resetPhoto()" class="btn btn-warning" type="button">Sıfırla</button>
                        <button onclick="selectFile()" class="btn btn-success" type="button"> Seç</button>
                        <input type="file" class="d-none" id="file1" />
                    </div>
                </div>
            </div>

        </div>


    </div>


    <div class="col-md-12 col-lg-9">
        <div class="card shadow-sm border">

            <div class="card-body">

                <ul class="nav nav-tabs  nav-bordered mb-3" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" href="#tab-temel" data-bs-toggle="tab" role="tab" aria-selected="true">
                            TEMEL VERİLER
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#tab-adres" data-bs-toggle="tab" role="tab" aria-selected="false">
                            ADRESİ (@addresses.Count)
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#tab-telefonlar" data-bs-toggle="tab" role="tab" aria-selected="false">
                            TELEFONU (@phones.Count)
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#tab-eposta" data-bs-toggle="tab" role="tab" aria-selected="false">
                            E-POSTA ADRESİ (@emails.Count)
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#tab-social" data-bs-toggle="tab" role="tab" aria-selected="false">
                            SOSYAL MEDYA (@socialmedias.Count)
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#tab-positions" data-bs-toggle="tab" role="tab" aria-selected="false">
                            GÖREVLERİ (@peoplePositions.Count)
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#tab-ekler" data-bs-toggle="tab" role="tab" aria-selected="false">
                            EKLER
                        </a>
                    </li>
                </ul>

                <div class="tab-content pt-3">

                    <div class="tab-pane active" id="tab-temel" role="tabpanel">
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        <form method="post" id="frmMain">
                            <input type="hidden" asp-for="UploadPhoto" value="" />
                            <div class="row">
                                <div class="col-md-12 col-lg-6">
                                    <div class="row mb-3">
                                        <label class="col-md-4">Adı</label>
                                        <div class="col-md-8"><input type="text" class="form-control" asp-for="FirstName" autocomplete="off" /></div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-6">
                                    <div class="row mb-3">
                                        <label class="col-md-4">Soyadı</label>
                                        <div class="col-md-8"><input type="text" class="form-control" asp-for="LastName" autocomplete="off" /></div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-6">
                                    <div class="row mb-3">
                                        <label class="col-md-4">Cinsiyet</label>
                                        <div class="col-md-8">
                                            <select class="form-select" asp-for="GenderId">
                                                @foreach (var item in genders)
                                                {
                                                    <option value="@item.Id">@item.NameTr</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-6">
                                    <div class="row mb-3">
                                        <label class="col-md-4">Doğum yeri</label>
                                        <div class="col-md-8"><input type="text" class="form-control" asp-for="PlaceOfBirth" autocomplete="off" /></div>
                                    </div>
                                </div>

                                <div class="col-md-12 col-lg-6">
                                    <div class="row mb-3">
                                        <label class="col-md-4">Doğum tarihi</label>
                                        <div class="col-md-8"><input type="text" class="form-control" asp-for="DateOfBirth" autocomplete="off" /></div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-6">
                                    <div class="row mb-3">
                                        <label class="col-md-4">Eğitim durumu</label>
                                        <div class="col-md-8">
                                            <select class="form-select" asp-for="EducationId">
                                                @foreach (var item in educations)
                                                {
                                                    <option value="@item.Id">@item.NameTr</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-6">
                                    <div class="row mb-3">
                                        <label class="col-md-4">Mesleği</label>
                                        <div class="col-md-8">
                                            <select class="form-select select2" asp-for="JobIds" multiple>
                                                @foreach (var item in jobs)
                                                {
                                                    <option value="@item.Id">@item.NameTr</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-6">
                                    <div class="row mb-3">
                                        <label class="col-md-4">Posizyon Alanı</label>
                                        <div class="col-md-8">
                                            <select class="form-select" asp-for="PositionFieldId">
                                                @foreach (var item in positionFields)
                                                {
                                                    <option value="@item.Id">@item.NameTr</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-6">
                                    <div class="row mb-3">
                                        <label class="col-md-4">Partisi</label>
                                        <div class="col-md-8">
                                            <select class="form-select" asp-for="PartyId">
                                                <option value="">-- Parti seçin --</option>
                                                @foreach (var item in parties)
                                                {
                                                    <option value="@item.Id">@item.PartyName</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-6">
                                    <div class="row mb-3">

                                        <div class="col-md-8 offset-md-4">
                                            <div class="form-check form-switch">
                                                <input type="checkbox" asp-for="IsActive" class="form-check-input" id="chkActive" />
                                                <label for="chkActive" class="form-check-label">Aktif</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>



                            <div class="mt-3 row">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" href="#vertical-icon-tab-1" data-bs-toggle="tab" role="tab" aria-selected="true">
                                            CV TR
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#vertical-icon-tab-2" data-bs-toggle="tab" role="tab" aria-selected="false">
                                            CV EN
                                        </a>
                                    </li>

                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="vertical-icon-tab-1" role="tabpanel">
                                        <p class="mt-2">CV bilgilerini Türkçe olarak girin.</p>

                                        <textarea asp-for="CvTr" class="form-control" rows="6"></textarea>

                                    </div>
                                    <div class="tab-pane" id="vertical-icon-tab-2" role="tabpanel">
                                        <p class="mt-2">CV bilgilerini İngilizce olarak girin.</p>

                                        <textarea asp-for="CvEn" class="form-control" rows="6"></textarea>

                                    </div>

                                </div>

                            </div>

                            <div class="text-center">
                                <button onclick="kaydet(3)" type="button" class="btn btn-primary"><i class="fa fa-save"></i> KAYDET</button>
                                <button onclick="kaydet(2)" type="button" class="btn btn-primary"><i class="fa fa-save"></i> KAYDET Ve Listeye Dön</button>
                                <input type="hidden" name="durum" id="hdnDurum" value="1" />
                                <a href="#" onclick="backAlert()"><i class="fa fa-arrow-left"></i> Listeye Dön</a>
                            </div>
                        </form>
                    </div>

                    <div class="tab-pane" id="tab-adres" role="tabpanel">
                        <div class="row">

                            <div class="col-md-12 col-lg-7 mx-auto">
                                <div class="mb-2 row">
                                    <label class="col-md-4">Adres Türü</label>
                                    <div class="col-md-8">
                                        <select class="form-select" id="ddlAddresType">
                                            @foreach (var item in addressTypes)
                                            {
                                                @if (item.Id == 1)
                                                {
                                                    <option value="@item.Id" selected>@item.NameTr</option>
                                                }
                                                else
                                                {
                                                    <option value="@item.Id">@item.NameTr</option>

                                                }
                                            }
                                        </select>
                                    </div>
                                </div>

                                <div class="mb-2 row">
                                    <label class="col-md-4">Satır #1</label>
                                    <div class="col-md-8">
                                        <input class="form-control" type="text" id="txtAddress1" />
                                    </div>
                                </div>

                                <div class="mb-2 row">
                                    <label class="col-md-4">Satır #2</label>
                                    <div class="col-md-8">
                                        <input class="form-control" type="text" id="txtAddress2" />
                                    </div>
                                </div>
                                <div class="mb-2 row">
                                    <label class="col-md-4">Ülke</label>
                                    <div class="col-md-8">
                                        <select id="ddlCountry" onchange="country_changed()" class="select2 form-select" style="width:100%">
                                            @foreach (var item in countries)
                                            {
                                                <option value="@item.Id" selected="@(item.Id==220)">@item.NameTr</option>
                                            }
                                        </select>

                                    </div>
                                </div>

                                <div class="mb-2 row">
                                    <label class="col-md-4">İl</label>
                                    <div class="col-md-8">


                                        <input type="text" class="form-control" style="display:none" id="txtProvince" />
                                        <select id="ddlProvince" onchange="province_changed()" style="width:100%" class="form-select select2" data-placeholder="İl seçimi yapın.">
                                            <option value=""></option>
                                            @foreach (var item in provinces)
                                            {
                                                <option value="@item.Id">@item.Name</option>
                                            }
                                        </select>



                                    </div>
                                </div>

                                <div class="mb-2 row">
                                    <label class="col-md-4">İlçe</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" id="txtDistrict" style="display:none" />

                                        <select id="ddlDistrict" class="form-select select2" style="width:100%" onchange="district_changed()" data-placeholder="İlçe seçimi yapın.">
                                            <option value=""></option>
                                        </select>
                                    </div>
                                </div>





                                <div class="mb-2 row">
                                    <label class="col-md-4">Posta kodu</label>
                                    <div class="col-md-8">
                                        <input class="form-control" type="text" id="txtPostalCode" />
                                    </div>
                                </div>
                            </div>


                            <div class="text-center mt-3">
                                <button id="btnAdresEkle" onclick="peopleCreateAddress()" class="btn btn-primary" type="button"><i class="fa fa-save"></i> Kaydet</button>
                                <button id="btnAdresGuncelle" onclick="peopleAdressUpdate()" class="btn btn-primary" type="button" style="display:none"><i class="fa fa-save"></i> Güncelle</button>
                                <button id="btnAdresIptal" onclick="peopleAddressUpCancel()" class="btn btn-primary" type="button" style="display:none"><i class="fa fa-save"></i> İptal</button>
                            </div>
                        </div>

                        <div id="divAddresses" class="table-responsive">
                            @{
                                await Html.RenderPartialAsync("PartialAddressList", addresses);
                            }


                        </div>
                    </div>
                    <div class="tab-pane" id="tab-telefonlar" role="tabpanel">
                        <div class="row">
                            <div class="col-md-12 col-lg-7 mx-auto">
                                <div class="row mt-3">
                                    <label class="col-md-4">Türü</label>
                                    <div class="col-md-8">
                                        <select class="form-select" id="ddlPhoneType">
                                            @foreach (var item in phoneTypes)
                                            {
                                                <option value="@item.Id">@item.NameTr</option>
                                            }
                                        </select>
                                    </div>
                                </div>

                                <div class="row mt-3">

                                    <label class="col-md-4">İletişim</label>
                                    <div class="col-md-8">
                                        <select class="form-select" id="ddlCommunicationType">
                                            @foreach (var item in communicationTypes)
                                            {
                                                <option value="@item.Id">@item.NameTr</option>
                                            }
                                        </select>

                                    </div>
                                </div>

                                <div class="row mt-3">

                                    <label class="col-md-4" for="txtTelUlkeKodu">Ülke Kodu</label>
                                    <div class="col-md-8">
                                        <select class="form-select select2" id="phoneCountryId" style="width:100%">
                                            @foreach (var item in countries)
                                            {
                                                <option selected="@(item.Id==220)" value="@item.Id" data-code="@item.PhoneCode">@item.NameTr (+@(item.PhoneCode))</option>
                                            }
                                        </select>



                                    </div>
                                </div>
                                <div class="row mt-3">

                                    <label class="col-md-4" for="txtTelOnKodu">Ön Kodu</label>
                                    <div class="col-md-8">
                                        <input class="form-control" type="text" id="txtTelOnKodu" placeholder="Ön kodu" />


                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <label class="col-md-4" for="txtTelNo">Telefon No</label>
                                    <div class="col-md-8">
                                        <input class="form-control" type="text" id="txtTelNo" placeholder="Telefon numarası" />


                                    </div>
                                </div>
                            </div>


                        </div>

                        <div class="text-center mt-3">
                            <button id="btnTelefonEkle" onclick="peopleCreatePhoneNumber()" class="btn btn-primary" type="button"><i class="fa fa-save"></i> Kaydet</button>
                            <button id="btnTelefonGuncelle" onclick="peopleUpdatePhoneNumber()" class="btn btn-primary" type="button" style="display:none"><i class="fa fa-save"></i> Güncelle</button>
                            <button id="btnTelefonIptal" onclick="peopleUpdateCancelPhoneNumber()" class="btn btn-primary" type="button" style="display:none"><i class="fa fa-save"></i> İptal</button>
                        </div>
                        <div id="divPhones" class="table-responsive">
                            @{
                                await Html.RenderPartialAsync("PartialPhoneList", phones);
                            }


                        </div>

                    </div>

                    <div class="tab-pane" id="tab-eposta" role="tabpanel">
                        <div class="row">
                            <label class="col-md-4">Tipi</label>
                            <div class="col-md-8">
                                <select class="form-select" id="ddlEpostaTuru">
                                    @foreach (var item in communicationTypes)
                                    {
                                        @if (item.Id == 2)
                                        {
                                            <option value="@item.Id" selected>@item.NameTr</option>
                                        }
                                        else
                                        {
                                            <option value="@item.Id">@item.NameTr</option>
                                        }

                                    }
                                </select>
                            </div>
                        </div>
                        <div class="mt-1 row">
                            <label class="col-md-4">e-Posta</label>
                            <div class="col-md-8">
                                <input class="form-control" type="email" id="txtePosta" />
                            </div>
                        </div>
                        <div class="text-center mt-3">
                            <button id="btnEpostaEkle" onclick="peopleCreateEposta()" class="btn btn-primary" type="button"><i class="fa fa-save"></i> Kaydet</button>
                            <button id="btnEpostaGuncelle" onclick="peopleUpdateEposta()" class="btn btn-primary" type="button" style="display:none"><i class="fa fa-save"></i> Güncelle</button>
                            <button id="btnEpostaIptal" onclick="peopleUpdateCancelEposta()" class="btn btn-primary" type="button" style="display:none"><i class="fa fa-save"></i> İptal</button>
                        </div>
                        <div id="divEmails" class="table-responsive">
                            @{
                                await Html.RenderPartialAsync("PartialEmailList", emails);
                            }


                        </div>
                    </div>

                    <div class="tab-pane" id="tab-social" role="tabpanel">
                        <div class="mt-1 row">
                            <label class="col-md-4">Türü</label>
                            <div class="col-md-8">
                                <select class="form-select" id="ddlSosyalTuru">
                                    @foreach (var item in socialTypes)
                                    {
                                        <option value="@item.Id">@item.NameTr</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="mt-1 row">
                            <label class="col-md-4">Adresi</label>
                            <div class="col-md-7">
                                <input class="form-control" type="text" id="txtSosyalAdres" />
                            </div>
                            <div class="col-md-1">
                                <div id="facebook"><button onclick="socialSearch('@Model.FirstName','@Model.LastName','Facebook')" class="btn btn-primary"><i class="fab fa-facebook-f"></i></button></div>
                                <div id="instagram" style="display:none"><button onclick="socialSearch('@Model.FirstName','@Model.LastName','Instagram')" class="btn btn-primary"><i class="fab fa-instagram"></i></button></div>
                                <div id="linkedin" style="display:none"><button onclick="socialSearch('@Model.FirstName','@Model.LastName','Linkedin')" class="btn btn-primary"><i class="fab fa-linkedin-in"></i></button></div>
                                <div id="twitter" style="display:none"><button onclick="socialSearch('@Model.FirstName','@Model.LastName','Twitter')" class="btn btn-primary"><i class="fab fa-twitter"></i></button></div>
                                <div id="google" style="display:none"><button onclick="socialSearch('@Model.FirstName','@Model.LastName','Google')" class="btn btn-primary"><i class="fab fa-google"></i></button></div>
                                <div id="wikipedia" style="display:none"><button onclick="socialSearch('@Model.FirstName','@Model.LastName','Wikipedia')" class="btn btn-primary"><i class="fab fa-wikipedia-w"></i></button></div>
                                <div id="youtube" style="display:none"><button onclick="socialSearch('@Model.FirstName','@Model.LastName','Youtube')" class="btn btn-primary"><i class="fab fa-youtube"></i></button></div>

                            </div>
                        </div>
                        <div class="text-center mt-3">
                            <button id="btnSosyalAdresEkle" onclick="peopleCreateSosyalMedya()" class="btn btn-primary" type="button"><i class="fa fa-save"></i> Kaydet</button>
                            <button id="btnSosyalAdresGuncelle" onclick="peopleUpdateSosyalMedya()" class="btn btn-primary" type="button" style="display:none"><i class="fa fa-save"></i> Düzenle</button>
                            <button id="btnSosyalAdresIptal" onclick="peopleUpdateCancelSosyalMedya()" class="btn btn-primary" type="button" style="display:none"><i class="fa fa-save"></i> İptal</button>
                        </div>
                        <div id="divSocialMedia" class="table-responsive">
                            @{
                                await Html.RenderPartialAsync("PartialSocialMediaList", socialmedias);
                            }


                        </div>
                    </div>

                    <div class="tab-pane" id="tab-positions" role="tabpanel">
                        <p>Kişinin çalışma hayatındaki görevlerini ekleyin</p>
                        <div class="row">
                            <div class="col-md-12 col-lg-7 mx-auto">
                                <div class="row my-3">
                                    <label class="col-md-4">Kurum türü</label>
                                    <div class="col-md-8">
                                        <select class="form-select" id="ddlInstitutionType" onchange="positionInstitution_onChange()">
                                            @foreach (var item in institutionTypes)
                                            {
                                                <option value="@item.Id">@item.NameTr</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label class="col-md-4">Kurum</label>
                                    <div class="col-md-8">
                                        <select class="form-select" id="ddlParty">
                                            <option value="">-- Parti seçin --</option>

                                            @foreach (var item in parties)
                                            {
                                                <option value="@item.Id">@item.PartyName</option>
                                            }
                                        </select>
                                        <input type="text" class="form-control" id="txtInstutionName" style="display:none" />
                                    </div>
                                </div>
                                <div class="mb-3 row" id="divPositionProvince" style="display:none;">
                                    <label class="col-md-4">İl</label>
                                    <div class="col-md-8">
                                        <select id="ddlProvincePosition" onchange="province_changed2()" style="width:100%" class="form-select select2" data-placeholder="İl seçimi yapın.">
                                            <option value=""></option>
                                            @foreach (var item in provinces)
                                            {
                                                <option value="@item.Id">@item.Name</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="mb-2 row" id="divPositionDistrict" style="display:none;">
                                    <label class="col-md-4">İlçe</label>
                                    <div class="col-md-8">
                                        <select id="ddlDistrictPosition" class="form-select" style="width:100%" data-placeholder="İlçe seçimi yapın.">
                                            <option value=""></option>
                                        </select>
                                    </div>
                                </div>


                                <div class="row mb-3">
                                    <label class="col-md-4">Görev</label>
                                    <div class="col-md-8">
                                        <select class="form-select" id="ddlPositionId" onchange="position_onChange()">
                                            @foreach (var item in positions)
                                            {
                                                <option value="@item.Id">@item.NameTr</option>
                                            }
                                        </select>

                                    </div>
                                </div>

                                <div class="row mb-3" id="divSectors" style="display:none;">
                                    <label class="col-md-4">Çalışma alanı</label>
                                    <div class="col-md-8">
                                        <select class="form-select" id="ddlSectorId">
                                            <option value="">-- sektör seçimi yapın --</option>
                                            @foreach (var item in sectors)
                                            {
                                                <option value="@item.Id">@item.NameTr</option>
                                            }
                                        </select>

                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label class="col-md-4">Başlangıç</label>
                                    <div class="col-md-8">
                                        <div class="input-group">

                                            <input type="number" class="form-control" id="txtPositionStartDay" max="31" />

                                            <input type="number" class="form-control" id="txtPositionStartMonth" max="12" />

                                            <input type="number" class="form-control" id="txtPositionStartYear" max="@(DateTime.Now.Year)" />
                                        </div>

                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label class="col-md-4">Bitiş</label>
                                    <div class="col-md-8">

                                        <div class="input-group">

                                            <input type="number" class="form-control" id="txtPositionEndDay" />

                                            <input type="number" class="form-control" id="txtPositionEndMonth" />

                                            <input type="number" class="form-control" id="txtPositionEndYear" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3" id="divPositionPeriod" style="display:none;">
                                    <label class="col-md-4">Dönem</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" id="txtPeriod" />
                                    </div>
                                </div>

                                <div class="text-center">
                                    <button id="btnAddPosition" onclick="addPosition()" class="btn btn-primary" type="button"><i class="fa fa-save"></i> Kaydet</button>
                                    <button id="btnUpdatePosition" onclick="peopleUpdatePosition()" class="btn btn-primary" type="button" style="display:none"><i class="fa fa-save"></i> Güncelle</button>
                                    <button id="btnCancelPosition" onclick="peopleUpdateCancelPosition()" class="btn btn-primary" type="button" style="display:none"><i class="fa fa-save"></i> İptal</button>
                                </div>
                            </div>
                        </div>
                        <div id="divPositions">
                            @{
                                await Html.RenderPartialAsync("PartialPositionList", peoplePositions);
                            }
                        </div>
                    </div>


                    <div class="tab-pane" id="tab-ekler" role="tabpanel">
                        <p>Kişi ile ilgili belge, fotoğraf gibi dokümanları yönetin.</p>
                        <div class="mt-3 row">
                            <label class="col-md-4">Adı</label>
                            <div class="col-md-8">
                                <div class="input-group mt-2">
                                    <span class="input-group-text">
                                        TR
                                    </span>
                                    <input type="text" id="txtAttachmentNameTr" class="form-control" />
                                </div>
                                <div class="input-group mt-2">
                                    <span class="input-group-text">
                                        EN
                                    </span>
                                    <input type="text" id="txtAttachmentNameEn" class="form-control" />
                                </div>

                            </div>
                        </div>
                        <div class="mt-3">


                            <input class="form-control" placeholder="Dosya seçimi yapın" type="file" id="fileAttach" />

                        </div>
                        <div class="text-center my-3">
                            <button class="btn btn-primary" onclick="uploadAttachment_click()" type="button">Yükle</button>
                        </div>
                        <div class="table-responsive" id="pnlAttachs">
                        </div>



                    </div>


                </div>
            </div>
        </div>
    </div>



</div>



@section scripts{

    <script src="~/lib/summernote/summernote-bs5.min.js"></script>
    <link href="~/lib/summernote/summernote-bs5.min.css" rel="stylesheet" />


    <div id="uploadimageModal" class="modal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">

                    <h5 class="modal-title">Kes & Yükle</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div>
                        <img id="image" style="max-width:100%;margin:1rem;max-height:80vh">
                    </div>
                    <div id="aspectButtons" class="btn-group d-flex flex-nowrap mt-3" data-toggle="buttons">

                        <input type="radio" class="btn-check" name="aspectRatio" value="1.7777777777777777" id="aspectRatio0" autocomplete="off">
                        <label class="btn btn-outline-secondary" for="aspectRatio0">16:9</label>

                        <input type="radio" class="btn-check" name="aspectRatio" value="1.3333333333333333" id="aspectRatio1" autocomplete="off">
                        <label class="btn btn-outline-secondary" for="aspectRatio1">4:3</label>

                        <input type="radio" class="btn-check" name="aspectRatio" value="1.2" id="aspectRatio2" autocomplete="off">
                        <label class="btn btn-outline-secondary" for="aspectRatio2">6:5</label>

                        <input type="radio" class="btn-check" name="aspectRatio" value="1" id="aspectRatio3" autocomplete="off">
                        <label class="btn btn-outline-secondary" for="aspectRatio3">1:1</label>

                        <input type="radio" class="btn-check" checked name="aspectRatio" value="0.83" id="aspectRatio4" autocomplete="off">
                        <label class="btn btn-outline-secondary" for="aspectRatio4">5:6</label>

                        <input type="radio" class="btn-check" name="aspectRatio" value="0.75" id="aspectRatio5" autocomplete="off">
                        <label class="btn btn-outline-secondary" for="aspectRatio5">3:4</label>

                        <input type="radio" class="btn-check" name="aspectRatio" value="0.5625" id="aspectRatio6" autocomplete="off">
                        <label class="btn btn-outline-secondary" for="aspectRatio6">9:16</label>

                        <input type="radio" class="btn-check" name="aspectRatio" value="NaN" id="aspectRatio7" autocomplete="off">
                        <label class="btn btn-outline-secondary" for="aspectRatio7">Free</label>

                    </div>


                </div>
                <div class="modal-footer">
                    <button id="cropImage" type="button" class="btn btn-success crop_image">Tamam</button>
                    <button onclick="cancel_upload()" type="button" class="btn btn-default" data-bs-dismiss="modal">İptal</button>
                </div>
            </div>
        </div>
    </div>




    <link href="~/lib/croppier/cropper.min.css" rel="stylesheet" />
    <script src="~/lib/croppier/cropper.min.js"></script>

    <script src="~/js/people-edit.js" asp-append-version="true"></script>
    <script>
        var peopleId = @Model.Id;
        function backAlert() {
            Swal.fire({
                title: "Emin misiniz?",
                text: "Girilen veriler silinecektir!",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-danger",
                confirmButtonText: "Listeye dön!",
                closeOnConfirm: false
            }).then((result) => {
                if (result.isConfirmed)
                    window.location.href = '/Admin/PeopleManagement';
            });
        }

        function kaydet(d) {
            $('#hdnDurum').val(d);
            $('#frmMain').submit();
        }

    </script>
}

