@{
    PagerInfo pager = ViewBag.Pager;
    ViewData["Title"] = "Simülasyonlar";
    List<Siyasett.Core.Elections.SecimListModel> secimler = ViewBag.Secimler;
    List<Company> firmalar = ViewBag.AnketFirmalari;
    List<PartyListModel> partiler = ViewBag.Partiler;
    List<ElectionProvinceModel> iller = ViewBag.SecimIller;
}

<!-- BREAD-CRUMB -->
<!-- style="background-image:url(/images/background/page-banner.jpg);" -->
<section class="page-title" style="padding: 0 0 0">
    <div class="container">
        <div class="inner-container clearfix">
            <!--
                <div class="title-box">
                  <h1>@ViewData["Title"]</h1>
                </div>
            -->
            <div class="bread-crumb">

                <ul>
                    <li><a href="/"><i class="fa fa-home"></i></a></li>

                    <li>@ViewData["Title"]</li>

                </ul>

            </div>
        </div>
    </div>
</section>

@*@if (!User.Identity.IsAuthenticated)
    {
        <section class="price-section" style="margin-bottom:40px;">

            <div class="container" id="simContainer1">

                <div class="alert alert-warning bg-opacity-50 text-center">
                    <i class="fa fa-exclamation-triangle text-warning"></i> SİMULASYON İÇERİKLERİNİ GÖREBİLMEK İÇİN ÜYE OLMANIZ GEREKMEKTEDİR.

                </div>
            </div>
        </section>
    }
    else
    {*@




<section class="price-section" style="margin-bottom:70px;">

    <div class="container" id="simContainer1">
        <div id="panel1" class="price-block">
            <div class="price-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="upper-box">
                        <h3>@Localize("simulations_source")</h3>
                        <div class="icon-box"><i class="icon flaticon-medical-history"></i></div>
                    </div>
                    <div class="middle-box">

                        <p class="desc">@Localize("simulations_Line1")</p>
                        <p class="desc">@Localize("simulations_Line2")</p>
                        <p class="desc">@Localize("simulations_Line3")</p>
                        <p class="desc">@Localize("simulations_Line4")</p>

                        @* <p class="mb-3" style="text-indent:0%">Simülasyon tekniği ile ilgili açıklamalara "Sık Sorulan Sorular" başlğı altında yer verilmektedir.</p>*@
                        <div class="wizard">
                            <div class="form-radio-flex">
                                <div class="form-radio-item">
                                    <input type="radio" name="choose_poll" checked id="kaynak_1" value="poll" />
                                    <label for="kaynak_1"><img src="/images/poll.jpg" alt="">@Localize("simulations_polls")</label>
                                </div>

                                <div class="form-radio-item">
                                    <input type="radio" name="choose_poll" id="kaynak_2" value="election" />
                                    <label for="kaynak_2"><img src="/images/secim.jpg" alt="">@Localize("simulations_Elections")</label>
                                </div>


                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <button type="button" onclick="step1_onClick()" class="purchased btn-style-three" href="#">Sonraki</button>
                    </div>
                </div>
            </div>

        </div>

        <div id="panel2" style="display:none;" class="price-block">
            <div class="price-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="upper-box">
                        <h3>@Localize("simulations_source")</h3>
                        <div class="icon-box"><i class="icon flaticon-project"></i></div>
                    </div>
                    <div class="middle-box">
                        <div id="kaynakAnket">
                            <h2>@Localize("simulations_PollCompany")</h2>

                            <p class="desc">@Localize("simulations_Poll1")</p>
                            <p class="mb-3" style="text-indent:0%">@Localize("simulations_Poll2")</p>


                            <div class="fieldset-content">
                                <div id="firmalar" class="row row-cols-2">
                                    @for (int i = 0; i < firmalar.Count; i++)
                                    {
                                        <div class="col">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" data-adi="@firmalar[i].ShortName" id="anket_@firmalar[i].Id" value="@firmalar[i].Id" />
                                                <label class="form-check-label" for="anket_@firmalar[i].Id">@firmalar[i].Name</label>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <div id="kaynakSecim" style="display:none;">
                            <h2>@Localize("simulations_election")</h2>

                            <p class="mb-3" style="text-indent:2%">@Localize("simulations_election1")</p>
                            <div class="fieldset-content">
                                <select class="form-select" id="selectSecimId">
                                    @for (int i = 0; i < secimler.Count; i++)
                                    {
                                        <option value="@secimler[i].Id">@secimler[i].Adi</option>
                                    }
                                </select>
                            </div>
                        </div>

                    </div>
                    <div class="d-flex justify-content-center">
                        <button type="button" onclick="step2Prev_onClick()" class="purchased btn-style-three" href="#">@Localize("simulations_Previous")</button>
                        <button type="button" onclick="step2_onClick()" class="ms-2 purchased btn-style-three" href="#">@Localize("simulations_Next")</button>
                    </div>
                </div>
            </div>

        </div>


        <div id="panel3" style="display:none;" class="price-block">
            <div class="price-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="upper-box">
                        <h3>@Localize("simulations_Parties")</h3>
                        <div class="icon-box"><i class="icon flaticon-bank"></i></div>
                    </div>
                    <div class="middle-box">

                        <div class="d-flex justify-content-between">
                            <p>@Localize("simulations_partyselection")</p>

                            <button type="button" class="btn btn-sm btn-secondary" onclick="selectAll(this)">@Localize("simulations_all")</button>
                        </div>

                        <div class="fieldset-content">

                            <div id="partiler" class="row row-cols-sm-1 row-cols-lg-3">

                                @for (int i = 0; i < partiler.Count; i++)
                                {
                                    <div class="col">
                                        <div class="form-check">
                                            <input onclick="partiSec_click()" class="form-check-input" type="checkbox" id="parti_@partiler[i].Id" value="@partiler[i].Id" />
                                            <label class="form-check-label" for="parti_@partiler[i].Id">@partiler[i].PartyName (@partiler[i].PartyNameShort)</label>
                                        </div>
                                    </div>
                                }


                            </div>

                        </div>

                    </div>
                    <div class="d-flex justify-content-center">
                        <button type="button" onclick="step3Prev_onClick()" class="purchased btn-style-three" href="#">@Localize("simulations_Previous")</button>
                        <button type="button" onclick="step3_onClick()" class="ms-2 purchased btn-style-three" href="#">@Localize("simulations_Next")</button>
                    </div>
                </div>
            </div>

        </div>

        <div id="panel4" style="display:none;" class="price-block">
            <div class="price-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="upper-box">
                        <h3>@Localize("simulations_votes")</h3>
                        <div class="icon-box"><i class="icon flaticon-consulting"></i></div>
                    </div>
                    <div class="middle-box">

                        <p class="desc">@Localize("simulations_votes1")</p>
                        <p style="text-indent:0%">@Localize("simulations_votes2")</p>
                        <p style="text-indent:0%">@Localize("simulations_votes3")</p>
                        <p style="text-indent:0%">@Localize("simulations_votes4")</p>


                        <div class="row mb-3">
                            <div id="chart" class="col-md-6">
                            </div>
                            <div id="chart2" class="col-md-6">
                            </div>
                        </div>
                        <div id="simContainer4" style="overflow:auto;">
                            <table class="table table-striped" id="ittifaklarTabloGenel">
                                <thead>
                                    <tr>
                                        <th>Parti Adı</th>
                                        <th>Ort. Oy</th>
                                        <th>Tah. Oy</th>
                                        <th class="text-center"><input type="text" class="form-control form-control-sm" value="İttifak_1" id="ittifakName1" style="max-width:80px;display:inline;" /></th>
                                        <th class="text-center"><input type="text" class="form-control form-control-sm" value="İttifak_2" id="ittifakName2" style="max-width: 80px; display: inline;" /></th>
                                        <th class="text-center"><input type="text" class="form-control form-control-sm" value="İttifak_3" id="ittifakName3" style="max-width: 80px; display: inline;" /></th>
                                        <th class="text-center"><input type="text" class="form-control form-control-sm" value="İttifak_4" id="ittifakName4" style="max-width: 80px; display: inline;" /></th>
                                        <th class="text-center"><input type="text" class="form-control form-control-sm" value="İttifak_5" id="ittifakName5" style="max-width: 80px; display: inline;" /></th>

                                    </tr>
                                </thead>
                                <tbody id="tblBodyGenel">
                                </tbody>
                            </table>

                        </div>


                    </div>
                    <div class="d-flex justify-content-center">
                        <button type="button" onclick="step4Prev_onClick()" class="purchased btn-style-three" href="#">@Localize("simulations_Previous")</button>
                        <button type="button" onclick="step4_onClick()" class="ms-2 purchased btn-style-three" href="#">@Localize("simulations_Next")</button>
                    </div>
                </div>
            </div>

        </div>

        <div id="panel5" style="display:none;" class="price-block">
            <div class="price-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="upper-box">
                        <h3>@Localize("simulations_cities")</h3>
                        <div class="icon-box"><i class="icon flaticon-analysis"></i></div>
                    </div>
                    <div class="middle-box">

                        <p class="desc"></p>
                        <div class="d-flex justify-content-between">
                            <p>@Localize("simulations_cities")</p>
                            <button type="button" class="btn btn-sm btn-secondary" onclick="selectAll(this)">@Localize("simulations_all")</button>
                        </div>


                        <p style="text-indent:0%">@Localize("simulations_cities1")</p>
                        <p style="text-indent:0%">@Localize("simulations_cities2")</p>
                        <p style="text-indent:0%">@Localize("simulations_cities3")</p>
                        <p style="text-indent:0%">@Localize("simulations_cities4")</p>
                        <p style="text-indent:0%">@Localize("simulations_cities5")</p>
                        <p style="text-indent:0%" class="mb-3">@Localize("simulations_cities6")</p>


                            <div class="fieldset-content">

                            <div id="iller" class="row row-cols-sm-2 row-cols-lg-4">
                            </div>

                        </div>

                    </div>
                    <div class="d-flex justify-content-center">
                        <button type="button" onclick="step5Prev_onClick()" class="purchased btn-style-three" href="#">@Localize("simulations_Previous")</button>
                        <button type="button" onclick="hazirla_onClick()" class="ms-2 purchased btn-style-three" href="#">@Localize("simulations_Prepare")</button>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="container mb-3" id="simContainer2" style="display:none">
        <div class="card">
            <div class="card-header">
            </div>
            <div class="card-body" style="overflow-x:auto;">
                <div class="mb-3">
                    <button type="button" class="btn btn-success" data-toggle="modal" onclick="ittifakEkleModal()">@Localize("simulations_AddAlliance")</button>
                </div>
                <div style="overflow-x:auto;">
                    <table class="table table-striped mb-3" id="oranlarTablo">
                        <thead>
                            <tr id="oranlarTabloHead">
                                <th rowspan="2">@Localize("simulations_Cities")</th>
                            </tr>
                            <tr id="oranlarTabloBeklenen">
                            </tr>
                        </thead>
                        <tbody id="tblBody2">
                        </tbody>

                    </table>
                </div>

                <span class="mb-3">@Localize("simulations_AllianceAdmin")</span>
                <div style="overflow-x:auto;">
                    <table class="table table-striped mb-3" id="ittifaklarTablo">
                        <thead>
                            <tr id="ittifaklarListesi">
                                <th>Parti Adı</th>
                            </tr>
                        </thead>
                        <tbody id="tblBody">
                        </tbody>

                    </table>
                </div>

                <div>
                    <button type="button" class="btn btn-primary" onclick="similuasyonHesapla()"></button>
                </div>
            </div>
        </div>
    </div>

    <div class="container" id="simContainer3" style="display:none;margin-top:30px">
        <div class="card">
            <div class="card-header">
                <h3>@Localize("simulations_results10")</h3>
            </div>
            <div class="card-body">
                <div>
                    <table class="table table-striped mb-3" id="sonucTable">
                        <thead>
                            <tr id="sonucTabloHead">
                            </tr>
                            <tr id="sonucTabloHeadAltBaslik">
                            </tr>
                        </thead>
                        <tbody id="tblBodySonuc">
                        </tbody>

                    </table>

                </div>
                <form method="post" enctype="multipart/form-data" asp-controller="Simulations" asp-action="SimulationResult" id="simResultSubmit" target="_blank">
                    <table>
                        <tr>
                            <td><input type="text" id="datasForinput" name="datasForSimGraphic" /></td>
                        </tr>
                        <tr>
                            <td><input type="text" id="ittForinput" name="ittifaklars" /></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><input type="submit" value="Submit" /></td>
                        </tr>
                    </table>
                    <hr />
                </form>
            </div>
        </div>
    </div>


    <div class="modal fade" tabindex="-1" role="dialog" id="ittifakEkleModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">@Localize("simulations_AddAlliance")</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="myfuncloseModalction()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input placeholder="İttifak Adı" value="" type="text" id="modalIttifakAdi" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="ittifakEkle()">Ekle</button>
                    <button type="button" class="btn btn-secondary" onclick="myfuncloseModalction()">İptal</button>
                </div>
            </div>
        </div>
    </div>


</section>

@*}*@
<div class="container">

    <div class="alert alert-success bg-opacity-50 text-center">
    <a href="https://youtu.be/l4QbYchC3MM" target="_blank">@Localize("simulations_Video")</a>.

    </div>

</div>

<div class="container">

    <div class="alert alert-info bg-opacity-50 text-center">
        @Localize("simulations_masaustu")

    </div>

</div>
@section scripts{
    <link href="~/css/wizard.css" rel="stylesheet" />
    <script src="~/lib/select2/js/select2.min.js"></script>
    <link href="~/lib/select2/select2.min.css" rel="stylesheet" />
    <script src="~/lib/jquery.blockUI/jquery.blockUI.min.js"></script>
    <link href="~/lib/limonte-sweetalert2/sweetalert2.min.css" rel="stylesheet" />
    <script src="~/lib/limonte-sweetalert2/sweetalert2.min.js"></script>
    <script src="~/lib/jquery-steps/jquery.steps.min.js"></script>
    <script src="~/js/simulations.js" asp-append-version="true"></script>
    <link href="~/lib/apexcharts/apexcharts.min.css" rel="stylesheet" />
    <script src="~/lib/apexcharts/apexcharts.min.js"></script>
}
