@{
    ViewBag.Title = "Grafikler";
    List<Party> parties = ViewBag.Parties;
    List<Province> provinces = ViewBag.Provinces;
    List<Region> regions = ViewBag.Regions;
    List<Job> jobs = ViewBag.Jobs;
    List<Position> positions = ViewBag.Positions;
    int[] selpart = ViewBag.DefaultSelectedParties;
}


@*<div class="large-12 columns">
        <div class="page-title">
            <h1>@ViewData["Title"]</h1>
            <div class="breadcrumbs">
                <a href="/" title="">Ana Sayfa</a>
                @ViewBag.Title
            </div>
        </div>
    </div>
*@
<!-- BREAD-CRUMB -->
<!-- style="background-image:url(/images/background/page-banner.jpg);" -->
<section class="page-title" style="padding: 0 0 0">
    <div class="container">
        <div class="inner-container clearfix">
            <!--
                <div class="title-box">
                  <h1>@ViewData["Title"]</h1>
                </div>
            -->
            <div class="bread-crumb">

                <ul>
                    <li><a href="/"><i class="fa fa-home"></i></a></li>

                    <li>@ViewData["Title"]</li>

                </ul>

            </div>
        </div>
    </div>
</section>


<section id="main" class="app-section" style="margin-bottom:70px;">

    <div class="container">

        <div style="margin-left:70%" class="mb-3">
            <input type="checkbox" checked class="tmm-checkbox chart-party" id="chkPositionaktif" name="p" />
            <label for="chkPosition-aktif">Aktif Siyasiler</label>
        </div>

        <div style="margin-left:20%;margin-right:20%">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation" id="typetabli">
                    <button class="nav-link active" id="type-tab" data-bs-toggle="tab" data-bs-target="#typetab" type="button" role="tab" aria-controls="type" aria-selected="true">Grafik Türü</button>
                </li>
                <li class="nav-item" role="presentation" id="partytabli" style="display:none">
                    <button class="nav-link" id="partytab1" data-bs-toggle="tab" data-bs-target="#partytab" type="button" role="tab" aria-controls="party" aria-selected="false">Partiler</button>
                </li>
                <li class="nav-item" role="presentation" id="regiontabli" style="display:none">
                    <button class="nav-link" id="regiontab1" data-bs-toggle="tab" data-bs-target="#regiontab" type="button" role="tab" aria-controls="region" aria-selected="false">Bölgeler</button>
                </li>
                <li class="nav-item" role="presentation" id="agetabli" style="display:none">
                    <button class="nav-link" id="agetab1" data-bs-toggle="tab" data-bs-target="#agetab" type="button" role="tab" aria-controls="age" aria-selected="false">Yaş</button>
                </li>
                <li class="nav-item" role="presentation" id="gendertabli" style="display:none">
                    <button class="nav-link" id="gendertab1" data-bs-toggle="tab" data-bs-target="#gendertab" type="button" role="tab" aria-controls="gender" aria-selected="false">Cinsiyet</button>
                </li>
                <li class="nav-item" role="presentation" id="jobtabli" style="display:none">
                    <button class="nav-link" id="jobtab1" data-bs-toggle="tab" data-bs-target="#jobtab" type="button" role="tab" aria-controls="job" aria-selected="false">Meslek</button>
                </li>
                <li class="nav-item" role="presentation" id="titletabli" style="display:none">
                    <button class="nav-link" id="titletab1" data-bs-toggle="tab" data-bs-target="#titletab" type="button" role="tab" aria-controls="title" aria-selected="false">Unvan</button>
                </li>

            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="typetab" role="tabpanel" aria-labelledby="type-tab">
                    <div class="border p-3 mb-3">

                        <h5><b>GRAFİK TÜRÜ</b></h5>


                        <div>
                            <input type="radio" class="tmm-radio" id="ltRegions" name="lt" value="1" />
                            <label for="ltRegions">Bölgelere göre</label>
                        </div>
                        <div>
                            <input type="radio" class="tmm-radio" id="ltTitle" name="lt" value="2" />
                            <label for="ltTitle">Ünvanlarına göre</label>
                        </div>
                        <div>
                            <input type="radio" class="tmm-radio" id="ltJob" name="lt" value="3" />
                            <label for="ltJob">Mesleğine göre</label>
                        </div>
                        <div>
                            <input type="radio" class="tmm-radio" id="ltEducation" name="lt" value="4" />
                            <label for="ltEducation">Eğitim durumuna göre</label>
                        </div>
                        <div>
                            <input type="radio" class="tmm-radio" id="ltAges" name="lt" value="5" />
                            <label for="ltAges">Yaş grubuna göre</label>
                        </div>

                        <div>
                            <input type="radio" class="tmm-radio" id="ltGender" name="lt" value="6" />
                            <label for="ltGender">Cinsiyetine göre</label>
                        </div>
                        <div>
                            <input type="radio" class="tmm-radio" id="ltParty" name="lt" value="7" />
                            <label for="ltParty">Partilere göre</label>
                        </div>

                    </div>
                    <div class="text-center">
                        <button onclick="tabsControl(0,this)" class="theme-btn btn-style-one" type="button">İleri</button>
                    </div>
                </div>
                <div class="tab-pane fade" id="partytab" role="tabpanel" aria-labelledby="party-tab">
                    <div id="widgetParties" class="border p-3 mb-3">

                        <h5 class="widget-title"><b>PARTİLER</b> <span style="float:right;font-size:0.875rem;text-transform:none;cursor:pointer;" onclick="selectAll(2)">Tümü</span></h5>
                        <div style="max-height:280px;overflow:auto;">
                            @for (int i = 0; i < parties.Count; i++)
                            {

                                <div>
                                    <input checked type="checkbox" class="tmm-checkbox chart-company" id="chkParties-@parties[i].Id" name="c" value="@parties[i].Id" />
                                    <label for="chkParties-@parties[i].Id">@parties[i].ShortName</label>
                                </div>



                            }
                        </div>
                    </div>
                    <div class="text-center">
                        <button onclick="tabsControl(1,this)" class="theme-btn btn-style-one" type="button">İleri</button>
                    </div>
                </div>
                <div class="tab-pane fade" id="regiontab" role="tabpanel" aria-labelledby="region-tab">
                    <div id="widgetRegion" class="border p-3 mb-3">

                        <h5 class="widget-title"><b>BÖLGESİ</b> <span style="float:right;font-size:0.875rem;text-transform:none;cursor:pointer;" onclick="selectAll(1)">Tümü</span></h5>
                        <div style="max-height:280px;overflow:auto;">
                            @for (int i = 0; i < regions.Count; i++)
                            {

                                <div>
                                    <input checked type="checkbox" class="tmm-checkbox chart-time" id="chkRegion-@regions[i].Id" name="d" value="@regions[i].Id" />
                                    <label for="chkRegion-@regions[i].NameTr">@regions[i].NameTr</label>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="text-center">
                        <button onclick="tabsControl(2,this)" class="theme-btn btn-style-one" type="button">İleri</button>
                    </div>

                </div>

                <div class="tab-pane fade" id="agetab" role="tabpanel" aria-labelledby="age-tab">
                    <div id="widgetAges" class="border p-3 mb-3">

                        <h5 class="widget-title"><b>YAŞ GRUPLARI</b> <span style="float:right;font-size:0.875rem;text-transform:none;cursor:pointer;" onclick="selectAll(4)">Tümü</span></h5>
                        <div style="max-height:280px;overflow:auto;">

                            <div>
                                <input checked type="checkbox" class="tmm-checkbox chart-party" id="chkAges-1" name="p" value="1" />
                                <label for="chkAges-1">16-21 yaş arası</label>
                            </div>
                            <div>
                                <input checked type="checkbox" class="tmm-checkbox chart-party" id="chkAges-2" name="p" value="2" />
                                <label for="chkAges-2">22-35 yaş arası</label>
                            </div>
                            <div>
                                <input checked type="checkbox" class="tmm-checkbox chart-party" id="chkAges-3" name="p" value="3" />
                                <label for="chkAges-3">36-45 yaş arası</label>
                            </div>
                            <div>
                                <input checked type="checkbox" class="tmm-checkbox chart-party" id="chkAges-4" name="p" value="4" />
                                <label for="chkAges-4">46-55 yaş arası</label>
                            </div>
                            <div>
                                <input checked type="checkbox" class="tmm-checkbox chart-party" id="chkAges-5" name="p" value="5" />
                                <label for="chkAges-5">56-64 yaş arası</label>
                            </div>
                            <div>
                                <input checked type="checkbox" class="tmm-checkbox chart-party" id="chkAges-6" name="p" value="6" />
                                <label for="chkAges-6">65 yaş üstü</label>
                            </div>
                            <div>
                                <input checked type="checkbox" class="tmm-checkbox chart-party" id="chkAges-7" name="p" value="7" />
                                <label for="chkAges-7">Bilinmiyor</label>
                            </div>

                        </div>
                    </div>
                    <div class="text-center">
                        <button onclick="tabsControl(3,this)" class="theme-btn btn-style-one" type="button">İleri</button>
                    </div>
                </div>
                <div class="tab-pane fade" id="gendertab" role="tabpanel" aria-labelledby="gender-tab">
                    <div id="widgetGender" class="border p-3 mb-3">

                        <h5 class="widget-title"><b>CİNSİYETİ</b> <span style="float:right;font-size:0.875rem;text-transform:none;cursor:pointer;" onclick="selectAll(5)">Tümü</span></h5>
                        <div style="max-height:280px;overflow:auto;">

                            <div>
                                <input checked type="checkbox" class="tmm-checkbox chart-party" id="chkGender-1" name="p" value="1" />
                                <label for="chkGender-1">Erkek</label>
                            </div>
                            <div>
                                <input checked type="checkbox" class="tmm-checkbox chart-party" id="chkGender-2" name="p" value="2" />
                                <label for="chkGender-2">Kadın</label>
                            </div>

                        </div>
                    </div>
                    <div class="text-center">
                        <button onclick="tabsControl(4,this)" class="theme-btn btn-style-one" type="button">İleri</button>
                    </div>
                </div>
                <div class="tab-pane fade" id="jobtab" role="tabpanel" aria-labelledby="title-tab">
                    <div id="widgetJobs" class="border p-3 mb-3">

                        <h5 class="widget-title"><b>MESLEĞİ</b> <span style="float:right;font-size:0.875rem;text-transform:none;cursor:pointer;" onclick="selectAll(6)">Tümü</span></h5>
                        <div style="max-height:280px;overflow:auto;">

                            @foreach (var item in jobs)
                            {

                                <div>
                                    <input checked type="checkbox" class="tmm-checkbox chart-party" id="chkJob-@(item.Id)" name="p" value="@(item.Id)" />
                                    <label for="chkJob-@(item.Id)">@item.NameTr</label>
                                </div>

                            }
                        </div>
                    </div>

                    <div class="text-center" id="nextButton2">
                        <button onclick="tabsControl(5,this)" class="theme-btn btn-style-one" type="button">İleri</button>
                    </div>
                    <div class="text-center" id="readyButton2" style="display:none">
                        <button onclick="getData2()" class="theme-btn btn-style-one" type="button">@Localize("page_polls_prepare")</button>
                    </div>
                </div>
                <div class="tab-pane fade" id="titletab" role="tabpanel" aria-labelledby="job-tab">
                    <div id="widgetTitle" class="border p-3 mb-3">

                        <h5 class="widget-title"><b>ÜNVANI</b> <span style="float:right;font-size:0.875rem;text-transform:none;cursor:pointer;" onclick="selectAll(7)">Tümü</span></h5>
                        <div style="max-height:280px;overflow:auto;">

                            @foreach (var item in positions)
                            {

                                <div>
                                    <input type="checkbox" checked class="tmm-checkbox chart-party" id="chkPosition-@(item.Id)" name="p" value="@(item.Id)" />
                                    <label for="chkPosition-@(item.Id)">@item.NameTr</label>
                                </div>


                            }
                        </div>
                    </div>
                    <div class="text-center" id="nextButton">
                        <button onclick="tabsControl(6,this)" class="theme-btn btn-style-one" type="button">İleri</button>
                    </div>
                    <div class="text-center" id="readyButton" style="display:none">
                        <button onclick="getData2()" class="theme-btn btn-style-one" type="button">@Localize("page_polls_prepare")</button>
                    </div>
                </div>

            </div>
            <br />
            <br />
            <div id="chart">
            </div>
        </div>






        <div class="row">
            <div class="col-md-12 col-lg-3">



                @* <div class="border p-3 mb-3">

                    <h5><b>GRAFİK TÜRÜ</b></h5>


                    <div>
                    <input onclick="type_changed(1)" type="radio" class="tmm-radio" id="ltRegions" name="lt" value="1" />
                    <label for="ltRegions">Bölgelere göre</label>
                    </div>
                    <div>
                    <input onclick="type_changed(5)" type="radio" class="tmm-radio" id="ltEducation" name="lt" value="3" />
                    <label for="ltEducation">Eğitim durumuna göre</label>
                    </div>
                    <div>
                    <input onclick="type_changed(6)" type="radio" class="tmm-radio" id="ltAges" name="lt" value="3" />
                    <label for="ltAges">Yaş grubuna göre</label>
                    </div>

                    <div>
                    <input onclick="type_changed(7)" type="radio" class="tmm-radio" id="ltGender" name="lt" value="3" />
                    <label for="ltGender">Cinsiyetine göre</label>
                    </div>
                    <div>
                    <input onclick="type_changed(8)" type="radio" class="tmm-radio" id="ltParty" name="lt" value="3" />
                    <label for="ltParty">Partilere göre</label>
                    </div>

                    </div>
                    <div id="widgetParties" class="border p-3 mb-3">

                    <h5 class="widget-title"><b>PARTİLER</b> <span style="float:right;font-size:0.875rem;text-transform:none;cursor:pointer;" onclick="selectAll(2)">Tümü</span></h5>
                    <div style="max-height:280px;overflow:auto;">
                    @for (int i = 0; i < parties.Count; i++)
                    {
                    if (selpart.Contains(parties[i].Id))
                    {
                    <div>
                    <input checked type="checkbox" class="tmm-checkbox chart-company" id="chkParties-@parties[i].Id" name="c" value="@parties[i].Id" />
                    <label for="chkParties-@parties[i].Id">@parties[i].ShortName</label>
                    </div>
                    }
                    else
                    {
                    <div>
                    <input type="checkbox" class="tmm-checkbox chart-company" id="chkParties-@parties[i].Id" name="c" value="@parties[i].Id" />
                    <label for="chkParties-@parties[i].Id">@parties[i].ShortName</label>
                    </div>
                    }


                    }
                    </div>
                    </div>
                    <div id="widgetRegion" class="border p-3 mb-3">

                    <h5 class="widget-title"><b>BÖLGESİ</b> <span style="float:right;font-size:0.875rem;text-transform:none;cursor:pointer;" onclick="selectAll(1)">Tümü</span></h5>
                    <div style="max-height:280px;overflow:auto;">
                    @for (int i = 0; i < regions.Count; i++)
                    {

                    <div>
                    <input checked type="checkbox" class="tmm-checkbox chart-time" id="chkRegion-@regions[i].Id" name="d" value="@regions[i].Id" />
                    <label for="chkRegion-@regions[i].NameTr">@regions[i].NameTr</label>
                    </div>
                    }
                    </div>
                    </div>
                    <div id="widgetProvince" class="border p-3 mb-3">

                    <h5 class="widget-title"><b>İLLER</b> <span style="float:right;font-size:0.875rem;text-transform:none;cursor:pointer;" onclick="selectAll(3)">Tümü</span></h5>
                    <div style="max-height:280px;overflow:auto;">
                    @{
                    int[] secil = { 6, 7, 21, 16, 25, 26, 27, 41, 42, 55, 61, 34, 35, 63 };
                    }
                    @foreach (var item in provinces)
                    {
                    if (secil.Contains(item.Id))
                    {
                    <div>
                    <input checked type="checkbox" class="tmm-checkbox chart-party" id="chkProvince-@(item.Id)" name="p" value="@(item.Id)" />
                    <label for="chkProvince-@(item.Id)">@item.Name</label>
                    </div>
                    }
                    else
                    {
                    <div>
                    <input type="checkbox" class="tmm-checkbox chart-party" id="chkProvince-@(item.Id)" name="p" value="@(item.Id)" />
                    <label for="chkProvince-@(item.Id)">@item.Name</label>
                    </div>
                    }

                    }
                    </div>
                    </div>
                    <div id="widgetAges" class="border p-3 mb-3">

                    <h5 class="widget-title"><b>YAŞ GRUPLARI</b> <span style="float:right;font-size:0.875rem;text-transform:none;cursor:pointer;" onclick="selectAll(4)">Tümü</span></h5>
                    <div style="max-height:280px;overflow:auto;">

                    <div>
                    <input checked type="checkbox" class="tmm-checkbox chart-party" id="chkAges-1" name="p" value="1" />
                    <label for="chkAges-1">16-21 yaş arası</label>
                    </div>
                    <div>
                    <input checked type="checkbox" class="tmm-checkbox chart-party" id="chkAges-2" name="p" value="2" />
                    <label for="chkAges-2">22-35 yaş arası</label>
                    </div>
                    <div>
                    <input checked type="checkbox" class="tmm-checkbox chart-party" id="chkAges-3" name="p" value="3" />
                    <label for="chkAges-3">36-45 yaş arası</label>
                    </div>
                    <div>
                    <input checked type="checkbox" class="tmm-checkbox chart-party" id="chkAges-4" name="p" value="4" />
                    <label for="chkAges-4">46-55 yaş arası</label>
                    </div>
                    <div>
                    <input checked type="checkbox" class="tmm-checkbox chart-party" id="chkAges-5" name="p" value="5" />
                    <label for="chkAges-5">56-64 yaş arası</label>
                    </div>
                    <div>
                    <input checked type="checkbox" class="tmm-checkbox chart-party" id="chkAges-6" name="p" value="6" />
                    <label for="chkAges-6">65 yaş üstü</label>
                    </div>

                    </div>
                    </div>
                    <div id="widgetGender" class="border p-3 mb-3">

                    <h5 class="widget-title"><b>CİNSİYETİ</b> <span style="float:right;font-size:0.875rem;text-transform:none;cursor:pointer;" onclick="selectAll(5)">Tümü</span></h5>
                    <div style="max-height:280px;overflow:auto;">

                    <div>
                    <input checked type="checkbox" class="tmm-checkbox chart-party" id="chkGender-1" name="p" value="1" />
                    <label for="chkGender-1">Erkek</label>
                    </div>
                    <div>
                    <input checked type="checkbox" class="tmm-checkbox chart-party" id="chkGender-2" name="p" value="2" />
                    <label for="chkGender-2">Kadın</label>
                    </div>

                    </div>
                    </div>
                    <div id="widgetJobs" class="border p-3 mb-3">

                    <h5 class="widget-title"><b>ÜNVANI</b> <span style="float:right;font-size:0.875rem;text-transform:none;cursor:pointer;" onclick="selectAll(6)">Tümü</span></h5>
                    <div style="max-height:280px;overflow:auto;">
                    @{
                    int[] secmil = { 59 };
                    }
                    @foreach (var item in jobs)
                    {
                    if (secmil.Contains(item.Id))
                    {
                    <div>
                    <input type="checkbox" checked class="tmm-checkbox chart-party" id="chkPosition-@(item.Id)" name="p" value="@(item.Id)" />
                    <label for="chkPosition-@(item.Id)">@item.NameTr</label>
                    </div>
                    }
                    else
                    {
                    <div>
                    <input type="checkbox" class="tmm-checkbox chart-party" id="chkPosition-@(item.Id)" name="p" value="@(item.Id)" />
                    <label for="chkPosition-@(item.Id)">@item.NameTr</label>
                    </div>
                    }

                    }
                    </div>
                    </div>*@

            </div>

            @* <div class="col-md-12 col-lg-9">
                <div>
                <p><b>Not: </b>Ünvan seçimi yapılmış ise diğer grafikler, bu ünvanlarda aktif görev yapan kişiler bütününden yola çıkılarak hazırlanmaktadır.</p>
                </div>
                <div id="chart">
                </div>
                <div id="chart1" class="col-md-12 col-lg-9">
                </div>

                <div id="chart2" class="col-md-12 col-lg-9" style="margin-top:50px;">
                </div>
                <div id="chart3" class="col-md-12 col-lg-9" style="margin-top:50px;">
                </div>
                <div id="chart4" class="col-md-12 col-lg-9" style="margin-top:50px;">
                </div>
                <div id="chart5" class="col-md-12 col-lg-9" style="margin-top:50px;">
                </div>
                <div id="chart6" class="col-md-12 col-lg-9" style="margin-top:50px;">
                </div>
                <div class="clear"></div>

                </div>*@

        </div>
    </div>

</section>


@section scripts{
    <link href="~/lib/apexcharts/apexcharts.min.css" rel="stylesheet" />
    <script src="~/lib/apexcharts/apexcharts.min.js"></script>
    <script src="~/js/peopleCharts-listing.js" asp-append-version="true"></script>
}