@model PersonDetailModel
@{
    ViewData["Title"] = Model.FirstName + " " + Model.LastName;

    List<AddressModel> addresses = ViewBag.Addresses;

    List<Siyasett.Core.Phones.PhoneModel> phones = ViewBag.Phones;
    List<EmailModel> emails = ViewBag.Emails;
    List<SocialMediaModel> socialmedias = ViewBag.SocialAdress;
    List<PartyListModel> parties = ViewBag.Parties;
    List<PeopleListModel> similarPeople = ViewBag.SimilarPeople;
    List<PeoplePositionModel> peoplePositions = ViewBag.PersonPositions;
    BaseModel? prev = ViewBag.Prev;
    BaseModel? next = ViewBag.Next;

    var culture = Thread.CurrentThread.CurrentCulture;
    var cultureName = culture.Name;

}

<!-- BREAD-CRUMB -->
<!-- style="background-image:url(/images/background/page-banner.jpg);" -->
<section class="page-title" style="padding: 0 0 0">
    <div class="container">
        <div class="inner-container clearfix">
            <!--
                <div class="title-box">
                  <h1>@ViewData["Title"]</h1>
                </div>
            -->
            <div class="bread-crumb">

                <ul>
                    <li><a href="/"><i class="fa fa-home"></i></a></li>

                    <li>@ViewData["Title"]</li>

                </ul>

            </div>
        </div>
    </div>
</section>

<div class="sidebar-page-container" style="padding-top:50px;">
    <div class="container">
        <div class="row clearfix">
            <div class="sidebar-side col-lg-3 col-md-12 col-sm-12">
                <aside class="sidebar default-sidebar team-section  style-two" style="padding-top:0;">
                    <div class="team-block">
                        <div class="inner-box">
                            <div class="image-box">
                                <div class="image">

                                    <img src="@Helpers.GetPersonPhoto(Model.Photo)" alt="">

                                </div>
                            </div>
                            <div class="info-box">
                                <h3 class="name">@Model.FirstName @Model.LastName</h3>

                                @{
                                    var lastPosition = peoplePositions.OrderByDescending(i => i.StartDate).FirstOrDefault();
                                    var positions = peoplePositions.OrderByDescending(i => i.StartDate).ToList();


                                }
                                @foreach (var item in positions)
                                {
                                    if (item != null && !item.EndDate.HasValue)
                                    {
                                        @if (!string.IsNullOrEmpty(item.SectorName))
                                        {
                                            <span class="designation">@(cultureName == "tr-TR" ? item.PositionName : item.PositionNameEn)</span>
                                            <span class="designation">@(cultureName == "tr-TR" ? item.SectorName : item.SectorNameEn)</span>

                                        }
                                        else
                                        {
                                            <span class="designation"> @(cultureName == "tr-TR" ? item.PositionName : item.PositionNameEn) / @item.ProvinceName</span>
                                        }

                                    }
                                    if (positions.First() == item)
                                    {
                                        <span class="designation">@(cultureName == "tr-TR" ? item.PartyName : item.PartyNameEn)</span>

                                    }
                                }
                                @if (Model.IsActive == false)
                                {
                                    <div style="color:plum">@Localize("text_died")</div>
                                }

                            </div>
                            <ul class="social-links">
                                @foreach (var social in socialmedias)
                                {
                                    <li>
                                        @if (social.SocialTypeId == 1)//twitter
                                        {
                                            <a href="@(social.Url.StartsWith("http")? social.Url :"http://"+social.Url)" target="_blank"><i class="fab fa-twitter"></i></a>
                                        }
                                        else if (social.SocialTypeId == 2)//face
                                        {
                                            <a href="@(social.Url.StartsWith("http")? social.Url :"http://"+social.Url)" target="_blank"><i class="fab fa-facebook-f"></i></a>
                                        }
                                        else if (social.SocialTypeId == 3)//youtube
                                        {
                                            <a href="@(social.Url.StartsWith("http")? social.Url :"http://"+social.Url)" target="_blank"><i class="fab fa-youtube"></i></a>
                                        }
                                        else if (social.SocialTypeId == 4)//insta
                                        {
                                            <a href="@(social.Url.StartsWith("http")? social.Url :"http://"+social.Url)" target="_blank"><i class="fab fa-instagram"></i></a>
                                        }
                                        else if (social.SocialTypeId == 6)//web
                                        {
                                            <a href="@(social.Url.StartsWith("http")? social.Url :"http://"+social.Url)" target="_blank"><i class="fab fa-internet-explorer"></i></a>
                                        }
                                        else if (social.SocialTypeId == 7)//wiki
                                        {
                                            <a href="@(social.Url.StartsWith("http")? social.Url :"http://"+social.Url)" target="_blank"><i class="fab fa-wikipedia-w"></i></a>
                                        }

                                    </li>
                                }

                            </ul>
                        </div>
                    </div>

                </aside>
            </div>
            <div class="content-side col-lg-9 col-md-12 col-sm-12">
                <div class="service-detail">
                    <div class="product-info-tabs">
                        <!--Product Tabs-->
                        <div class="prod-tabs tabs-box">
                            <!--Tab Btns-->
                            <ul class="tab-btns tab-buttons clearfix">

                                <li data-tab="#prod-1" class="tab-btn active-btn">@Localize("page_peopledetail_tab1")</li>
                                @if (!string.IsNullOrEmpty(Model.CvTr))
                                {
                                    <li data-tab="#prod-2" class="tab-btn">@Localize("page_peopledetail_tab2")</li>
                                }
                                <li data-tab="#prod-3" class="tab-btn">@Localize("page_peopledetail_tab3")</li>


                            </ul>
                            <!--Tabs Container-->
                            <div class="tabs-content">
                                <!--Tab / Active Tab-->
                                <div class="tab active-tab" id="prod-1">
                                    <div class="content">
                                        <table class="table">
                                            <tr>
                                                <th style="width: 30%; text-align: left;">@Localize("text_placeof_birth")</th>
                                                <td>@Model.PlaceOfBirth</td>
                                            </tr>
                                            <tr>
                                                <th style="text-align: left;">@Localize("text_dateof_birth")</th>
                                                <td>@Model.DateOfBirth</td>
                                            </tr>
                                            <tr>
                                                <th style="text-align: left;">@Localize("text_gender")</th>
                                                <td>@(cultureName == "tr-TR" ? Model.GenderName : Model.GenderNameEn)</td>
                                            </tr>
                                            <tr>

                                                <th style="text-align: left;">@Localize("text_education")</th>
                                                <td>@(cultureName == "tr-TR" ? Model.EducationName : Model.EducationNameEn)</td>

                                            </tr>
                                            <tr>
                                                <th style="text-align: left;">@Localize("text_profession")</th>
                                                <td>@(cultureName == "tr-TR" ? Model.JobNames : Model.JobNamesEn)</td>
                                            </tr>
                                            <tr>
                                                <th style="text-align: left;">@Localize("text_areaof_interest")</th>
                                                <td>@(cultureName == "tr-TR" ? Model.PositionFieldName : Model.PositionFieldNameEn)</td>
                                            </tr>
                                            <tr>

                                                <th style="text-align: left;">@Localize("page_people_party_organisation")</th>
                                                <td>
                                                    @if (lastPosition != null)
                                                    {
                                                        <span>@(cultureName == "tr-TR" ? lastPosition.PartyName : lastPosition.PartyNameEn)</span>

                                                    }
                                                    else if (lastPosition != null)
                                                    {
                                                        <span>@(cultureName == "tr-TR" ? lastPosition.InstitutionName : lastPosition.InstitutionNameEn)</span>

                                                    }

                                                </td>
                                            </tr>
                                            <tr>
                                                <th style="text-align: left;">@Localize("text_duty")</th>
                                                <td>
                                                    @if (lastPosition != null)
                                                    {
                                                        <span>@(cultureName == "tr-TR" ? lastPosition.PositionName : lastPosition.PositionNameEn)</span>

                                                    }


                                                </td>
                                            </tr>

                                            <tr>
                                                <th style="text-align: left;">@Localize("page_peopledetail_startduty")</th>
                                                <td>
                                                    @if (lastPosition != null)
                                                    {


                                                        @if (lastPosition.StartDay.HasValue)
                                                        {
                                                            <span>@lastPosition.StartDay </span>
                                                        }

                                                        @if (lastPosition.StartMonth.HasValue)
                                                        {
                                                            <span>@System.Globalization.CultureInfo.CurrentUICulture.DateTimeFormat.MonthNames[lastPosition.StartMonth.Value] </span>
                                                        }

                                                        <span>@lastPosition.StartYear</span>

                                                    }

                                                </td>

                                            </tr>

                                        </table>


                                    </div>
                                </div>
                                <!--Tab-->
                                @if (!string.IsNullOrEmpty(Model.CvTr))
                                {
                                    <div class="tab" id="prod-2">
                                        <div class="content">
                                            @(cultureName == "tr-TR" ? @Html.Raw(Model.CvTr) : @Html.Raw(Model.CvEn))

                                        </div>
                                    </div>
                                }


                                <!--Tab-->
                                <div class="tab" id="prod-3">
                                    <div class="content">

                                        @if (peoplePositions.Count == 0)
                                        {
                                            <p>@Model.FirstName @Model.LastName @Localize("page_peopledetail_notfoundduty")</p>
                                        }
                                        else
                                        {
                                            <table class="table">


                                                @foreach (var item in peoplePositions)
                                                {
                                                    <tr>
                                                        <td>@(cultureName == "tr-TR" ? item.InstitutionTypeName : item.InstitutionTypeNameEn)</td>
                                                        <td>@(string.IsNullOrEmpty(item.InstitutionName) ? (cultureName == "tr-TR" ? item.PartyName : item.PartyNameEn) : (cultureName == "tr-TR" ? item.InstitutionName : item.InstitutionNameEn))</td>
                                                        <td>
                                                            @(cultureName == "tr-TR" ? item.PositionName : item.PositionNameEn)
                                                            <div>
                                                                @(string.IsNullOrEmpty(item.Period) ? "" : item.Period + ". " + @Localize("text_period"))
                                                                @(string.IsNullOrEmpty(item.ProvinceName) ? "" : item.ProvinceName)
                                                                @(string.IsNullOrEmpty(item.DistrictName) ? "" : " - " + item.DistrictName)
                                                            </div>
                                                        </td>

                                                        <td>
                                                            @if (!string.IsNullOrEmpty(item.SectorName))
                                                            {
                                                                <div>@(cultureName == "tr-TR" ? item.SectorName : item.SectorNameEn)</div>

                                                            }

                                                        </td>
                                                        <td>
                                                        </td>
                                                        <td>
                                                            <span> @Helpers.GetStartEndDateString(item.StartDay, item.StartMonth, item.StartYear)</span>
                                                            <span> - @Helpers.GetStartEndDateString(item.EndDay, item.EndMonth, item.EndYear)</span>
                                                        </td>
                                                    </tr>

                                                }
                                            </table>
                                        }


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>




            </div>
        </div>
    </div>
</div>
<div class="container">


    <section class="team-section style-two" style="padding-bottom:110px;">
        <div class="sec-title mb-3">
            <h3>@Localize("page_peopledetail_cantakeattention")</h3>
        </div>
        <div class="row  d-flex align-items-stretch clearfix">
            @foreach (var item in similarPeople)
            {

                <div class="col-lg-2 col-md-6 col-sm-12">
                    <!-- Team Block -->
                    <div class="team-block">
                        <div class="inner-box">
                            <div class="image-box">
                                <div class="image">
                                    <a href="/kim-kimdir/@item.Id/@Helpers.ToUrlSlug(item.FirstName+ " " + item.LastName)">
                                        <img src="@Helpers.GetPersonPhoto(item.Photo)" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="info-box">
                                <h3 class="name"><a href="/kim-kimdir/@item.Id/@Helpers.ToUrlSlug(item.FirstName+ " " + item.LastName)">@item.FirstName @item.LastName</a></h3>
                                <span class="designation">@(cultureName == "tr-TR" ? item.PartyName : item.PartyNameEn)</span>
                                <span class="designation">@(cultureName == "tr-TR" ? item.PositionName : item.PositionNameEn)</span>
                            </div>
                            @*<ul class="social-links">
                                    @foreach (var social in item.SocialMedias)
                                    {
                                        <li>
                                            @if (social.SocialTypeId == 1)//twitter
                                            {
                                                <a href="@(social.Url.StartsWith("http")? social.Url :"http://"+social.Url)" target="_blank"><i class="fab fa-twitter"></i></a>
                                            }
                                            else if (social.SocialTypeId == 2)//face
                                            {
                                                <a href="@(social.Url.StartsWith("http")? social.Url :"http://"+social.Url)" target="_blank"><i class="fab fa-facebook-f"></i></a>
                                            }
                                            else if (social.SocialTypeId == 3)//youtube
                                            {
                                                <a href="@(social.Url.StartsWith("http")? social.Url :"http://"+social.Url)" target="_blank"><i class="fab fa-youtube"></i></a>
                                            }
                                            else if (social.SocialTypeId == 4)//insta
                                            {
                                                <a href="@(social.Url.StartsWith("http")? social.Url :"http://"+social.Url)" target="_blank"><i class="fab fa-instagram"></i></a>
                                            }
                                            else if (social.SocialTypeId == 6)//web
                                            {
                                                <a href="@(social.Url.StartsWith("http")? social.Url :"http://"+social.Url)" target="_blank"><i class="fab fa-internet-explorer"></i></a>
                                            }
                                            else if (social.SocialTypeId == 7)//wiki
                                            {
                                                <a href="@(social.Url.StartsWith("http")? social.Url :"http://"+social.Url)" target="_blank"><i class="fab fa-wikipedia-w"></i></a>
                                            }

                                        </li>
                                    }

                                </ul>*@
                        </div>
                    </div>
                </div>


            }

        </div>

        <!--Geri bildirim formu-->

        <p id="contactFormInitiator" style="margin-top:50px;">
            <div style="cursor:pointer;" onclick="$('#contactFormInline,#contactFormInitiator').slideToggle();">@Localize("feedback_form_message")</div>
        </p>
        <div>
            <div id="contactFormInline" style="display:none;margin-top:50px;" class="contact-form">

                <input type="hidden" name="contact_form_name" value="Contacts">
                <div class="row">
                    <div class="col-md-12 col-lg-6">
                        <div class="form-group mb-3">
                            <input id="contactFormName" class="form-control" required="" type="text" name="feedbackName" value="" placeholder="@Localize("feedback_form_firstname") *">
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-6">
                        <div class="form-group mb-3">
                            <input id="contactFormLastname" class="form-control" required="" type="text" name="feedbackLastName" value="" placeholder="@Localize("feedback_form_lastname") *">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-6">
                        <div class="form-group mb-3">
                            <input id="contactFormEmail" class="form-control" required="" type="email" name="feedbackEmail" value="" placeholder="@Localize("text_email") *">
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-6">
                        <div class="form-group mb-3">
                            <input id="contactFormSubject" class="form-control" required="" type="text" name="feedbackTopic" value="" placeholder="@Localize("text_subject") *">
                        </div>
                    </div>
                </div>

                <div class="form-group mb-3">
                    <textarea id="contactFormMessage" class="form-control" required="" name="feedbackMessage" placeholder="@Localize("text_message") *"></textarea>
                </div>

                <div class="clear"></div>
                <p>@Localize("feedback_form_text")</p>

                <div class="form-group mb-3">
                    <button class="theme-btn btn-style-one" id="btnFeedback" type="button" onclick="feedbackSend()" name="submit-form">@Localize("text_send")</button>
                </div>
                <div class="contact_form_responce" style="display: none;"><ul></ul></div>

            </div>
        </div>

    </section>
</div>



@section scripts{
    <script>function feedbackSend() {
            var feedback = {
                Name: $('#contactFormName').val(),
                LastName: $('#contactFormLastname').val(),
                Email: $('#contactFormEmail').val(),
                Topic: $('#contactFormSubject').val(),
                Text: $('#contactFormMessage').val(),
                Title: 'Geri Bildirim',
                PageUrl: window.location.href,
            }
            $('#btnFeedback').prop('disabled', true);

            $.post('/people/getfeedback', { obj: feedback }).done((response) => {
                if (response.success) {


                    $('#btnFeedback').prop('disabled', false);
                    Swal.fire("Hata Bildirimi", "Talebiniz alınmıştır. En kısa zamanda inceleme yapılacaktır", "success");
                    $('#contactFormName').val("");
                    $('#contactFormLastname').val("");
                    $('#contactFormEmail').val("");
                    $('#contactFormSubject').val("");
                    $('#contactFormMessage').val("");
                }
            });
        }</script>
}
